[2018-04-27 07:57] linonetwo opened #349 "TypeError: fe.default is not a function (@rematch/immer)"
Versions:
    "@rematch/core": "^1.0.0-alpha.1",
    "@rematch/immer": "^0.1.0"

Errors:
[code]

When I:
[code]

[2018-04-27 08:07] linonetwo commented on #349
Thrown from this:
[code]
Which I think is this:
https://github.com/rematch/rematch/blob/2bcaf3d3ab9df2b5c905ac261fc7baa448a422cb/plugins/immer/src/index.ts#L12
Where ```produce``` from ```import produce from 'immer'``` is ```e.default```

[2018-04-27 08:14] jackwilsdon commented on #349
How are you building this? I can't seem to reproduce it.

[2018-04-27 08:27] linonetwo commented on #349
@jackwilsdon  Sure I can't produce it too, but in this example, the rematch seems don't work.
https://stackblitz.com/edit/react-ksr6xw

[2018-04-27 20:53] Cloudo commented on #230
First of all, thanks for awesome library!
I'm not clear how to create reusable models.
For example in redux I have reusable ducks like this one:

[code]

and usage:
[code]
I have several pages and each page has to start different set of requests when loaded.
With code above I have quite low amount of boilerplate.

I dont like the idea of namespace, cause in this case it will be very large flat sto

[2018-04-29 12:55] tkivela opened #350 "Problem testing effects in 1.0 alpha 2"
I have a problem when testing effects in 1.0 alpha 2.

The application works as expected in browser but when testing with Jest the state has not been updated after running the effect with await.

Problem can be seen in a test repo I setup for this issue: https://github.com/tkivela/rematcheffecttestproblem

(install packages with "yarn" and then run tests with "yarn test")

Problem comes in row htt

[2018-04-29 12:56] tkivela commented on #332
I have a little problem testing effects with 1.0a2, could somebody help? I created issue #350 for it.

[2018-04-29 15:54] ShMcK commented on #350
The problem seems to be linked to the test finishing before the state is changed.

The following below works. Give me a minute, and I may have a better solution.

[code]

[2018-04-29 23:55] yougotashovel opened #351 "Lazy load - store.model() not a function"
Trying to lazy load/add a model after `const store = init()`

Using the example from the docs: https://rematch.gitbooks.io/rematch/docs/api.html
`store.model({ name: 'countB', state: 99 })`

Currently getting this error:
`TypeError: store.model is not a function`

If i inspect the store in the console, i see there's no method for model on the store object either.

[2018-04-30 00:01] ShMcK commented on #351
I see it's not working with v0.6.

Perhaps try using v1.0.0-alpha.2. [Example](https://codesandbox.io/s/0pj982653w)

[2018-04-30 00:42] yougotashovel commented on #351
Updated to @next, not getting the error anymore, but it's not activating a new model either.

Can see the same issue here:
https://codesandbox.io/s/3x4l0pnpk6

[2018-04-30 00:45] ShMcK commented on #351
Seems to definitely be a bug in both v0.6 & v1 alpha.

For the time being, I would recommend not using `store.model`.

[2018-04-30 03:46] tkivela commented on #350
Thank you for a good answer! I think I might go with mocking approach then while I think mocking is not so good because I would like to rather have the test fail in case for example endpoint has changed rather than thinking everythings ok (I know it's more of an integration test, but anyways). I'll probably use axios-mock-adapter for mocking.

I'll close this for now,

[2018-04-30 03:46] #350 closed

[2018-04-30 14:10] sudheeshcm commented on #349
@linonetwo
Did you figure out how to solve it?

[2018-04-30 14:49] jackwilsdon commented on #349
@sudheeshcm how are you building your application? Do you have a reproducible example?

[2018-05-01 17:18] orangecoding commented on #348
wouldn't it be possible to include something into the main lib? This is a common use case from my point of view...

[2018-05-02 16:31] benpolinsky commented on #350
@tkivela - One way to handle this is to use separate operational tests to test the API endpoints, ensure they're functioning, and that their response(s) are formatted appropriately for your code.

It could even be the same tests that switch on or off real API calls depending on configuration/environment.

[2018-05-03 17:16] benpolinsky opened #352 "Step 3 in readme is confusing"
Or possibly I am confused. Or both.

If you're using React, and react-redux/connect, do you ever have to use `dispatch`?

By stating "dispatch is how we trigger reducers & effects in your models. Dispatch standardizes your actions without the need for writing action types or action creators" and listing this under a 'step' it makes it seem like it's required.

Thanks - really enjoying the library

[2018-05-03 18:53] JPTeasdale opened #353 "Selector Improvements [proposal]"
I love rematch. It's drastically cut down the boilerplate overhead of working with react projects. But I think that there is room for improvement with the loading and selector plugins.

## Selectors
I'll use the following model that just grows an array and returns a number:
[code]

Currently, if I want to use this selector, I have to:

1. import the selector module in every file I use it from.
2.

[2018-05-04 03:09] blairbodnar commented on #353
Hi @JPTeasdale ,

Glad you're liking rematch, thanks! :)

Yeah, there has been a lot of discussion around the selectors plugin. Have a read through #270 if you didn't see it already.

For me personally, after playing around with different selector approaches, I find that I just like to keep my selectors outside the models (https://github.com/rematch/rematch/issues/270#issuecomment-372547336). I do

[2018-05-04 03:55] blairbodnar commented on #352
Hi @benpolinsky ,

True, if you are using React and react-redux, you might only ever interact with dispatch via react-redux's `connect`.

I think in step 3 we're just trying to show that `dispatch` is the same redux `store.dispatch` people are familiar with - and that we enhance it with the `dispatch[model][reducerOrEffect](payload)` shorthand so that you can dispatch either way.

Does that make s

[2018-05-04 04:01] blairbodnar commented on #348
@orangecoding Yeah, def a common use case, but it can be handled pretty well via a recipe approach we were talking about in that thread, so that's the approach we're recommending.

[2018-05-04 13:46] benpolinsky commented on #352
Right, right. Definitely makes sense now.

I do think it could a bit more clear.
I'll submit a suggestion as a PR if I get a chance today?
We can see if it's an improvement or not.

Thanks again.

[2018-05-04 16:31] blairbodnar commented on #352
Thanks @benpolinsky - yeah sounds great!

[2018-05-05 16:16] chongzheng1995 opened #354 "React Navigator Example Plugin Fail To Run"
I created a new project and followed the demo of react-navigation plugin from this link below:
- https://github.com/rematch/rematch/tree/master/plugins/react-navigation

 However, I get this error:

![error](https://user-images.githubusercontent.com/27880708/39665113-7e709386-50c1-11e8-8012-8a869627b7be.PNG)

According to my research on this error, I found this link below. Looks like the update on

[2018-05-05 22:05] ShMcK commented on #354
I'm also using the react-navigation plugin.

It may be a version issue. This combination is working for me.

[code]

[2018-05-06 04:45] brunolemos opened #355 "Missing TypeScript definitions for plugins"
TypeScript definitions for plugins are not being generated / published to npm.

When importing plugins:
`import selectorsPlugin from '@rematch/select'`

TypeScript complains:
`[ts] Could not find a declaration file for module '@rematch/select'.`

[2018-05-06 05:37] brunolemos commented on #355
Now that I played with it a little more, I see the `select` object is "magically" filled with the model names and selectors. Any idea how to make that autocomplete with TypeScript without too much manual work?

My initial impression is that rematch is great but doesn't integrate very well with typescript yet.

[2018-05-06 07:13] #355 closed

[2018-05-06 07:25] brunolemos opened #356 "[PROPOSAL] Improve TypeScript integration"
I'm playing with `rematch` and it's great, but the integration with TypeScript seems to be in early stages and harder than it should be. For example, how to make the autocomplete work when using the redux `@connect` `mapState` and `mapDispatch`?

The `select` object from the `@rematch/select` import gets magically filled with the the model names and selectors, plus it changes the function signatur

[2018-05-06 07:26] brunolemos commented on #355
Closed in favor of #356

[2018-05-06 07:45] brunolemos commented on #356
Here is my initial proposal.

Currently the model is declared like this:
[code]

When using redux `@connect`, we do:
[code]

---

What if we did something like this instead:

[code]

Notice how now the `setTheme` doesn't have the `state` argument anymore, and this makes it the exact same function contract that we call in redux connect, making typing easier.

---

If we do
[code]

And then do:

[co

[2018-05-06 14:24] chongzheng1995 commented on #354
Thanks man 💯 Updating the versions of the react-navigation to 1.5.11 does the trick here. Though I encountered a warning message "isMounted(...) is deprecated warning", it might be related to [this](https://github.com/react-navigation/react-navigation/issues/3956). Regardless, the real issue here is completed. Thanks again master @ShMcK !

[2018-05-06 14:25] #354 closed

[2018-05-06 15:38] brunolemos commented on #356
Here is an alternative without changing the API, but this way the payload will be `any`:

[code]

[code]

[2018-05-06 16:49] ShMcK commented on #356
I'm interested in the idea of passing state via reducers/effects.

[code]

### Benefits

- Autocomplete as mentioned
- It makes it less confusing that reducers are (state, payload) and effects are (payload, state).
- Could allow single function reducers

### Drawbacks
- As state is changed on each call, it looks like reducers may have to generate these reducers objects on each call. This would lik

[2018-05-06 16:51] ShMcK commented on #354
I'm also having the "isMounted()" warning. Based on the link, it seems to be related to the version of React Native.

If you're using Expo as well, always be sure to check the exact versions of React Navigation & React Native from blog.expo.io when it comes out.

[2018-05-06 16:59] brunolemos commented on #356
As state is changed on each call, it looks like reducers may have to generate these reducers objects on each call.

Yes, correct. This may solve it:

[code]

[2018-05-06 17:06] ShMcK commented on #356
As a thought, perhaps if each reducer/effect were curried, it may produce the same result without a breaking change.

[2018-05-06 18:10] ShMcK commented on #356
Amazing :)

Now the question is, I didn't know you could load typings dynamically.

This could be added into core and run automatically. Probably within an `onModel` hook.

[2018-05-06 18:59] brunolemos commented on #356
I'll try to make a PR, checking the source code now

[2018-05-07 03:40] ShMcK commented on #351
Now the mystery here is why there are many `store.model` tests that are passing, and yet your provided code sandbox example clearly doesn't work.

As an example, the following is passing:

[code]

[2018-05-07 15:38] #331 closed

[2018-05-07 16:48] eric-burel commented on #309
Hi right now my `select` objet is empty, I get the same error and I don't get why. Do you have any idea how to debug this (test if the plugin is loaded, if the selectors are processed etc.)? Usually i'd open the node_modules code and add a few console log but here it is already minified, I can't tell what's happening..

[2018-05-07 22:19] BerndWessels opened #359 "IE11 error - Object doesn't support property or method 'includes'"
IE11 error - `Object doesn't support property or method 'includes'`

In `rematch.prod.min.js` line 53
`var T=r(function(e,t){Object.defineProperty(t,"__esModule",{value:!0}),t.default=function(e){return e.includes("/")}})`

This breaks IE11.

Since IE11 is still a requirement especially in the enterprise space it would be great if you could fix this.

I guess there is some babel or polyfill magic

[2018-05-07 22:57] ShMcK commented on #359
Currently using the TS compiler set to ES5, I'll look into ensuring it has proper polyfills. IE11 is not unreasonable.

In the meantime, polyfill.io has may be a quick fix: https://polyfill.io/v2/docs/features/.

[2018-05-08 07:03] eric-burel commented on #309
Hi, thanks for the one file demo I'll try that, but when I tested on the same file it did not work, select was still equal to `{}`after the call to init. I'll test that and tell you.

[2018-05-08 08:08] cyrilchapon commented on #274
Just discovered this awesome lib, I'm gland to see it's already branded. But you should post old logo in here, for memory ! 😁

[2018-05-08 14:28] ShMcK commented on #274
Added a link to the original logo in a comment on Mar 10. (edited). For the annuls of history.

[2018-05-08 19:41] denisw commented on #309
@eric-burel I fixed the problem by updating `@rematch/core` to `1.0.0-alpa.4`. Apparently, the latest stable version of `@rematch/select` is not compatible with the current stable version of `@rematch/core`. Perhaps it should?

[2018-05-09 07:03] linonetwo commented on #349
Trying again but still unable to use it:
"@rematch/core": "^1.0.0-alpha.4",
"@rematch/immer": "^1.0.1"

```TypeError: L.default is not a function```

[2018-05-09 07:54] linonetwo opened #360 "getState() returns {0: ...state}"
@rematch/core 1.0.0-alpha.4

[code]
Why there is a ```0: ```?

[2018-05-09 07:55] linonetwo commented on #360
And I can't get state in effects. Second argument is undefined.

[2018-05-09 08:13] linonetwo commented on #360
And returned state don't have selector.

[2018-05-09 15:32] ShMcK commented on #349
It may be easier to stick with @rematch/core@0.6 & @rematch/immer 0.x for the time being.

Until core is out of alpha.

[2018-05-09 15:34] ShMcK commented on #360
I'd recommend sticking to @rematch/core v0.x & @rematch/select v0.x

It should be sorted out soon, but will take a bit of time to get plugins on board with core 1.x.

[2018-05-10 18:42] wojciech-bilicki-oke opened #361 "Problem with types on alpha.4"
[code]
in `core/typings/index.d.ts`

This error occurs on the alpha.4 version. Everything is fine with alpha.2.

[2018-05-11 13:19] bmealhouse opened #362 "getState question"
Based on `rematch` switching to a multiple store model, will `getState` sill be deprecated in v1?

[2018-05-11 13:48] eric-burel opened #363 "Can't acces store in model to implement effect"
Hi, I have some trouble accessing the store in a model (version 1.0.0-alpha.4).
I need to access the dispatch function in order to trigger an action depending on another model (e.g I want to open a toaster on API fail). However this creates some circular import, since my model needs to know about the store, but the store wants to load my model.
I definitely may have misunderstood something but I c

[2018-05-11 14:40] ShMcK commented on #362
In v1 `getState` can get state from all models as a keyed object.

I would recommend using `store.getState` though, if you require it.

It can always be accessed as

[code]

[2018-05-11 14:46] ShMcK commented on #361
Checkout the updated [ts example](https://github.com/rematch/rematch/tree/master/examples/ts/count):

Some changes were made that allow for:
- autocompletion of dispatch methods
- validating of dispatch payload types

Love to hear what you think. Hopefully we can find a typing solution that makes everyone happy.

[2018-05-11 14:55] ShMcK commented on #363
If you need to dispatch to another model, you can always use:

[code]

Rather loading it from the store.

[2018-05-11 16:16] eric-burel commented on #363
Thanks a lot I fought with this for an hour... Works perfectly. Maybe it would be better to present this syntax in the doc instead of `import store from './your-store.js`; const { dispatch } = store`? Because most of the time you'll import the store in a model or somewhere it will provoke a circular import.

[2018-05-11 16:53] ShMcK commented on #363
Definitely. Any chance I could bother you to add a quick PR the way you think would avoid the most confusion? The simplest PR can be made from the edit button on Github.

[2018-05-12 04:26] brunolemos commented on #361
@wojciech-bilicki-oke how does your reducer look like?

Also try this:

[code]

Please remove the `:Model`.
Unfortunately this was the only way I found to have all the autocomplete possible by #357. If you know another way please let me know.

[2018-05-12 06:41] brunolemos opened #365 "[TYPINGS] Conflict with redux connect mapDispatch"
After adding autocomplete on the mapDispatch, redux complain about it, because our type adds `.myModelName` properties that redux doesn't recognize.

#### Error
`Property 'myModelName' is missing in type 'Dispatch<AnyAction>'.`

#### Code

[code]

[code]

### Workaround

[code]

[2018-05-12 07:43] inDream commented on #365
Have you tried set `"strict": false` in `tsconfig.json`?

[2018-05-12 07:50] brunolemos commented on #365
@inDream it didn't affect (also I'd like to keep it strict)

[2018-05-12 11:12] NekR commented on #351
@ShMcK the code example actually works for me and `store.model()` works for me as well in the project, but doesn't work for other people on other machines. Seems weird.

[2018-05-12 11:54] NekR commented on #351
Oh, I know what's going on. It doesn't work when Redux DevTools extension is installed.

[2018-05-12 13:37] wojciech-bilicki-oke commented on #361
Hey, guys. Kinda busy right now, but I will give it a go tomorrow and let you know ;)

[2018-05-12 16:50] ShMcK commented on #351
Interesting, I'll look into this today.

[2018-05-13 08:40] skout90 opened #366 "Can I use rematch with react-apollo?"
I consider using graphql that [react-apollo](https://github.com/apollographql/react-apollo)

can they be used together?

I saw redux migration Documnet. But I woder i could use pure rematch with react-apollo?

I'm in the process of learning React/Redux and so I'm not able to understand by myself the integration possibility.

this is my code!

- store.js
[code]

- reducers.js
[code]

[2018-05-13 13:31] bmealhouse commented on #362
Switching to `store.getState()` will work fine for us.

It was just confusing to me that `import {getState} from '@rematch/core'` is deprecated, when it still exists in the v1 API.

[2018-05-13 13:31] #362 closed

[2018-05-13 17:43] ShMcK commented on #366
My understanding of, which may be helpful:
- v1 of Apollo Client was originally built on top of Redux
- v2+ of Apollo Client [no longer uses Redux under the hood](https://github.com/apollographql/apollo-client/blob/master/docs/source/recipes/2.0-migration.md#replacing-redux). Instead, there is something called "Apollo Link"

You might find an easier path if you stick to Apollo conventions at this

[2018-05-13 17:53] ShMcK commented on #362
Currently not maintaining two sets of docs. Hopefully we can get v1 out the door soon.

[2018-05-14 06:04] canyavall opened #368 "How To trigger a reducer action from another model?"
Hi all, thx for this awesome library!!!

Could someone give me a live example on how to trigger an action in a Model B when I'm inside an action in Model A?

For me it is not clear in the documentation how to do it ^_^

[2018-05-14 06:51] eric-burel commented on #363
Definitely, I am closing this in the meantime.

[2018-05-14 06:51] #363 closed

[2018-05-14 06:58] eric-burel commented on #363
However I wonder how you would handle multiple store in this case. I had an electron app with 2 stores, one for the "back", one for the "front", but both lived in different process, I think importing dispatch from `@rematch/core` would still be ok. However you could not handle 2 stores in the same process. This is a rare use case I guess though.

[2018-05-14 07:39] eric-burel opened #370 "Loading demo link in the doc is dead"
Hi, on the loading plugin doc ([https://rematch.gitbooks.io/rematch/plugins/loading/](https://rematch.gitbooks.io/rematch/plugins/loading)) the example link is dead right now:[https://rematch.gitbooks.io/rematch/plugins/loading/examples/react-loading-example/](https://rematch.gitbooks.io/rematch/plugins/loading/examples/react-loading-example/).

My `state.loading.effects` and `state.loading.models

[2018-05-14 07:50] #342 closed

[2018-05-14 08:45] eeynard commented on #208
Hey, the issue isn't present in the latest build (1.0.0-alpha.4). But as @pierissimo said before, the loading plugin interferes with the result of the effect. I just pushed #371 to fix this issue, hope it'll help !

[2018-05-14 21:51] taranda opened #374 "Support for react-navigation v2"
React Navigation v2 [changes the way react-navigation integrates with redux](https://v2.reactnavigation.org/docs/en/redux-integration.html).
`addNavigationHelpers` is no longer used in react-navigation and `createNavigationReducer`is now available which eliminates the need to pass an `initialScreen` config.

In order to be compatible with React Navigation v2 `rematch/plugins/react-navigation/src/N

[2018-05-15 01:42] ShMcK commented on #368
This should work:

[code]

[2018-05-15 01:45] ShMcK commented on #363
I'll put some thought into a better way to simplify external model dispatches for v1. I agree, there should be a better way to capture dispatch without creating a circular dependency.

[2018-05-15 01:46] ShMcK commented on #370
Will fix... Thanks :)

[2018-05-15 01:48] #370 closed

[2018-05-15 01:57] ShMcK commented on #374
I believe once Expo moves to v2, it should be alright to update the plugin to v2 as well. Currently Expo is recommending to use exactly 1.5.11.

It can be noted in the docs which versions support 1.5.x and 2.x.

If you or anyone would like to adjust the plugin to support v2 in the meantime, it can be published semantically.

[2018-05-15 08:11] titouancreach commented on #368
I think this is better:

[code]
And create a reducer in modelB called `modelA/doSomething`

[2018-05-15 09:16] glimow commented on #351
@ShMcK any update on this ? With my team we are very excited about migrating from redux to rematch, but our project heavily relies on lazy loading, thus we are a bit stuck for now.

[2018-05-15 18:24] taranda opened #376 "Deprecating the subscriptions plugin results in a loss of functionality"
The subscriptions plugin provides some functionality that is not available via the `reducers: 'otherModelName/actionName': ...` API:

1. Reducers only have access to the owning model's state slice while subscriptions have access to the entire state tree.  There may be times when having access to the global state within a subscription is desirable.  I have use cases where the value of the  `otherMo

[2018-05-15 18:31] taranda commented on #374
I'll work on a PR this week.

[2018-05-16 03:18] ShMcK commented on #368
I second @titouancreach's proposal. That's a brilliant way to keep everything bound to models.

[2018-05-16 07:56] canyavall commented on #368
Thank youu!!! I'll do it this way ^_^

[2018-05-16 13:10] linonetwo commented on #349
But
    "@rematch/core": "^0.6.0",
    "@rematch/immer": "^0.1.0",
Still throws ```TypeError: fe.default is not a function```

[2018-05-16 14:25] scientist1642 opened #377 "problem with returning promise in effects"
Hello, thanks for the rematch!
I have one strange problem. I have a function inside effects which returns a promise. Suppose something like
[code]

then if I call `dispatch.model. postData().then(res => console.log(res))` res is undefined. While if I put `postdData` function somewhere else, I get the correct result.

Rematch v0.6.0

[2018-05-16 15:17] scientist1642 commented on #377
I guess effects aren's supposed to be resolved outside? closing..

[2018-05-16 15:17] #377 closed

[2018-05-16 19:34] taranda commented on #376
How do I define an effect with the `'otherModelName/actionName': ...` notation?  I can't seem to make it work.

[2018-05-16 23:15] jackwilsdon commented on #349
Looks like adding `"esModuleInterop": true` to the `immer` plugin's `tsconfig.json` fixes this.

This all seems to be caused by something weird that `immer` itself does; it exports an attribute called `default` containing the `produce` function. This seems to really confuse rollup when creating UMD modules.

You can see what's happening by comparing the source of the UMD modules;

#### Without `es

[2018-05-17 04:38] linonetwo commented on #349
Cool, will you release a 0.1.1 version and a 1.0.2 version?

[2018-05-17 05:27] #349 closed

[2018-05-17 19:52] NekR commented on #351
@ShMcK maybe usage of Redux DevTools shouldn't be enabled by default, at least for production? I believe not everyone uses them.

[2018-05-17 19:57] yougotashovel commented on #351
@NekR @ShMcK automatic Redux DevTools was one of the things that drew me to this project initially.  It's the killer feature when developing with redux.  But agree about switched off for production.

[2018-05-18 05:05] scientist1642 commented on #208
I updated to latest version but calling dispatch directly still returns undefined for me.
https://codesandbox.io/s/50yvpqjo3n
if you replace  `const value = await dispatch.count.asyncIncrement()` with `asyncIncrement()` it works fine.

[2018-05-18 07:44] Baldrs commented on #246
Would be it logical if it'd work the same as the reducers? As effects produce actions, other models could've effects triggered by this.

PS: I need this

[2018-05-18 09:42] eric-burel commented on #4
Hi @ShMcK , this plugins talks only about sync reducers, what about Effects? I'd like to implement a basic interceptor to catch uncaught effect error. This way I don't need to add a catch to all effects, I just use a generic function. However I wonder what's the recommanded practice for this.

[2018-05-18 14:44] ShMcK commented on #351
Perhaps we could enable devtools by default, but provide an option to disable devtools.

Certainly devtools should be disabled for production.

[2018-05-19 18:08] ShMcK commented on #208
@scientist1642 definitely your example shows something is not working. I'll look into this weekend, and increase the test coverage for this case.

[2018-05-20 13:55] huyansheng3 opened #380 "plugin sequence will occur some error !"
[code]

when i put immer on the first place, some error accor! but i move it to the last! it works ok!

so maybe you should to reminder this for us.

[2018-05-20 16:38] jackwilsdon commented on #380
What's the error you get when doing this?

[2018-05-21 01:30] huyansheng3 commented on #380
![image](https://user-images.githubusercontent.com/11534583/40286417-58654d66-5cd9-11e8-999e-04f126b9f33d.png)
@jackwilsdon

i dont know why in development mode, the rematch is the prod.mini.js ,so  i can figure out the error.

[2018-05-21 01:48] jackwilsdon commented on #380
This sounds like #349 to me.

[2018-05-21 02:29] huyansheng3 commented on #380
@jackwilsdon  OK ,the same problem. closed.

[2018-05-21 02:29] #380 closed

[2018-05-21 09:08] huyansheng3 commented on #349
i meet the same problem too! when will the bug fixed?

[2018-05-21 09:11] jackwilsdon commented on #349
It looks like it has been released as v1.0.2 https://github.com/rematch/rematch/pull/378#issuecomment-389749025, which is the next major version of Rematch. @ShMcK would it be possible to backport this to v0.1 too?

[2018-05-21 12:29] huyansheng3 commented on #349
I try to fork rematch/immer， but it dont work well with immer 0.6. Maybe the only way is to use immer directly. if update, please remind me in the first time! Thanks!

[2018-05-21 12:31] linonetwo commented on #349
@huyansheng3 Try ```@rematch/immer@next```

[2018-05-21 12:32] jackwilsdon commented on #349
@linonetwo They'd have to update their rematch to `@next` too then, and it's still in beta I believe.

[2018-05-21 13:28] huyansheng3 opened #381 "remacth select usage !"
why i need to give the state as params explicitly, then get the selector.

why it dont like a computed property, just use the selector. no need to use store.

Maybe i need to use store anyWhere, but i just want use selector.

is an Anti-pattern ?

[2018-05-21 13:29] huyansheng3 commented on #349
Great!  @linonetwo

rematch and rematch/immer update the next version solve the problem. thanks!

[2018-05-21 17:32] ShMcK commented on #208
In the example above using v1.0.0-alpha.4:

##### Global dispatch (no promise returned)

[code]

In order to support multiple stores, I'm not sure it's possible to return a promise from a global dispatch. There may be multiple promises resolving.

##### Local dispatch (promise returned)

[code]

Local dispatch is bound to a specific store. This is why it is able to resolve the promise.

Using loca

[2018-05-21 18:20] blairbodnar commented on #381
Hi @huyansheng3

Yes, this question has come up a lot. I too feel the same way, and we have discussed it s lot in #270. For me personally, I am no longer using the selectors plugin anymore. I just like to keep my selectors outside the models (#270 (comment)). I don't find it too much boilerplate doing it that way. I think in the future we'll look to rewrite the selectors plugin.

Thanks!

[2018-05-21 18:20] #381 closed

[2018-05-21 18:20] #353 closed

[2018-05-23 07:47] huyansheng3 commented on #381
Great.  i am expect the future version selector plugin .

[2018-05-24 01:11] zb188 opened #383 "When is the official version released? Always pay attention"
When is the official version released? Always pay attention

[2018-05-24 09:50] eric-burel commented on #360
`rootState` is undefined in effects for me too, I am trying to figure this out.

[2018-05-24 12:53] linonetwo commented on #360
I'm using ```const { store } = await import('./');``` in model effects now.
What's the difference between this way and using ```getState()```?

[2018-05-24 13:09] eric-burel commented on #360
I had issues with circular import using a similar pattern, the store was empty. Importing the dispatch, getState etc. functions directly from `@rematch/code` fixed it. Still not sure about why your syntax did not work for me precisely though.

[2018-05-24 22:44] M1chaelChen opened #384 "Use with react-router-redux"
Having some issues when trying to use` rematch` with `react-router-redux`.

I have created a store like this
[code]
Then I can get the router object from redux store, which means the reducer is working.
![image](https://user-images.githubusercontent.com/19735641/40517131-920c2454-5f68-11e8-8463-a7a8d873c348.png)

When I tried to dispatch `push` like below, the url is changed in the browser. But th

[2018-05-25 02:27] linonetwo commented on #360
@eric-burel  See https://github.com/react-cosmos/react-cosmos/issues/685 In my case, using ```await import()``` will fix circular import.

[2018-05-25 07:54] kdela opened #385 "Support for react-redux-firebase"
Hi guys.
Could you find out why react-redux-firebase enhancers don't work with rematch?

https://github.com/prescottprue/react-redux-firebase/blob/master/src/enhancer.js

[code]

[2018-05-25 08:41] eric-burel opened #386 "Selector in mapState called with empty state"
Sorry I can't provide much info about this, but selectors seems to be called once before the state is defined.

This might come from the connection pattern:
[code]
The `mapState` seems to be called once before the state is fully initialized, so it make the selector fail. Quickfix is to check if the state is defined, but this is not great.
Maybe I misuse selectors?

[2018-05-25 10:45] Valbrand commented on #361
Is `@rematch/select` somehow required? I'm getting the same error with `1.0.0-alpha.5`. I'll paste the code below, and let me know if there's something I can help with 😄

[code]

[2018-05-25 15:20] wojciech-bilicki-oke commented on #384
Please specify the version of rematch. I am also using `react-router-redux` and all is fine with `rematch` on `1.0.0-alpha.2`.

[2018-05-25 15:48] wojciech-bilicki-oke commented on #361
Still the same with `1.0.0-alpha.5` even after removing the `:Model` from my models :(

[2018-05-25 17:31] M1chaelChen commented on #384
@wojciech-bilicki-oke Here is my `rematch` and `react-router-redux version` version
`"@rematch/core": "0.6.0"`
`"react-router-redux": "5.0.0-alpha.9"`

[2018-05-25 22:50] M1chaelChen commented on #384
I fixed this by using `push` from history object instead of from`react-router-redux`
[code]

[2018-05-25 22:50] #384 closed

[2018-05-26 10:30] kdela commented on #385
I had to use createStore instead of enhancers
[code]

[code]

[2018-05-26 16:51] vadistic commented on #332
Hey, there is tiny issue with typings in `@rematch/select^1.0.0` with `@rematch/core^1.0.0-alpha5`

I've got it by copying your typescript example: `@rematch/select is not a module`, which is kind of weird since it's ts project 😄

[code]

The layout of path in your repository and `@rematch` scope in `node_modules` are different so the imports fail.

Maybe you could consider switching to yarn works

[2018-05-27 13:12] kdela commented on #360
I'm also have the same issues (0 in getState() and empty rootState in effects)

[code]

[2018-05-27 17:03] ShMcK commented on #385
Sorry for the late response. Glad you were able to resolve this issue :)

[2018-05-27 17:03] #385 closed

[2018-05-27 17:06] rheng opened #388 "Instructions on developing against non-minified code"
Hi,

I think this project is great, and I really like how it is extensible using plugins! I'm try to develop my own plugin, but it is very difficult since by default, the core code is minified. Would it be possible to provide some guidance on how to develop against the source-mapped files? For instance, how would you step through rematch code from a app bootstrapped from create-react-app?

Thanks!

[2018-05-27 17:09] ShMcK commented on #388
I think you've identified a problem that just needs to be resolved. Currently "dev" and "prod" builds are using the minified version, and this needs to be fixed.

I'll put out an alpha 6 version today pointing to the unminified code, and hope that helps.

[2018-05-27 17:12] rheng commented on #388
Wow, thanks for the quick response! Looking forward to checking it out!

[2018-05-27 17:16] ShMcK commented on #360
Thanks for pointing this issues out.

I can tell this issue is related to a problem in global dispatch (aimed at supporting multiple stores). It's not capturing the right "state" within effects, and requires a fix.

If you strictly rely on the local store.dispatch, it would be a good work around, and leads to more modular code.

[2018-05-27 17:32] ShMcK commented on #332
@vadistic thanks for figuring out the path issue.

NPM used to have a very useful `npm link`, which has changed (in my opinion) to be less useful in npm@5.

I'll look into yarn workspaces & lerna.

[2018-05-27 17:33] nWidart commented on #332
Yarn has a `link` command too if that helps. I'm using the one from yarn which is working ok.

[2018-05-27 20:17] vadistic commented on #332
I was researching this just few days ago and cannot keep myself from praising it a bit, excuse me 😄

**Yarn workspaces** are more or less automated links that you are talking about.

If you have a `@rematch/core` and more or less ten plugins you would need to prompt `yarn link` in core  and then `yarn link @rematch/core` in each plugin that depend on it. (If your packages would start to depend on

[2018-05-27 21:37] #388 closed

[2018-05-27 21:38] ShMcK commented on #388
released as @rematch/core@1.0.0-alpha.6

[2018-05-28 11:40] alan-strohm commented on #361
Without `:Model` on my models, I get errors like

Even with https://github.com/rematch/rematch/pull/382

[2018-05-28 12:09] alan-strohm commented on #361
I'm not sure if this is a good solution, but passing my model through a function like below seemed to do the trick of telling Typescript that my model extended Model without stripping it of the inferred type information.

[code]

[2018-05-28 12:34] metakermit opened #390 "Complex examples"
I like the framework concept. Are there perhaps any examples out there of actions / effects spread out across multiple files? It would be nice if the framework supported some way to *register* actions, effects or even parts of the model in different parts of the codebase. For example:

[code]

This way it wouldn't be necessary to hand-collect everything manually into a giant object. Of course, it

[2018-05-28 19:01] brunolemos commented on #361
@wojciech-bilicki-oke @Valbrand I'm not able to reproduce this typing issue. Is this code all that's required to reproduce it? It gives me no error.

@alan-strohm yes that could be nice, I can make a PR with this if @ShMcK agree it's a good idea

[2018-05-28 19:03] Valbrand commented on #361
@brunolemos Weird! It's all I need to get the error. I'll check it out when I get home.

[2018-05-28 21:55] williamconnolly commented on #390
Yeah, I'm absolutely loving how this made Redux easy to integrate. However, it took probably just about as much time to piece together the differences between typescript examples and the react example (that still imports "rematch-x", I guess an outdated name.

Keep doing what y'all are doing, you're making a kick ass module and I hope I can contribute some day as I get more versed in frontend.

[2018-05-29 10:30] lext-7 opened #392 "rootState is undefined in effects"
version: 1.0.0-alpha.6

[2018-05-29 15:20] ShMcK commented on #390
Thanks @metakermit - I've put a fix in for the examples link.

And @williamconnolly - I've also updated the count README, which was outdated.

[2018-05-29 15:25] ShMcK commented on #390
In reference to importing reducers, it might to helpful to note:

- You can trigger reducers/effects in other models
- To reuse reducers or effects you can spread them. They are really just objects

[code]

[2018-05-30 04:10] williamconnolly commented on #390
@ShMcK in your updated example, you follow a similar pattern as elsewhere in the docs, with mapDispatchToProps. Is this strictly necessary?

Since dispatch.modelName.reducerName(...) can be called from anywhere in the code, what's the purpose of providing those methods as props to the main Component?

I've been following the pattern, but I have a subcomponent of my main one, and have been passing

[2018-05-30 05:08] ShMcK commented on #390
@williamconnolly I think there's danger in globals, especially when you try to scale your project. For example, you may want to use multiple stores for both organization & performance reasons.

I would consider the global dispatch to be a last resort / hack to get things done.

[2018-05-30 05:29] andremw commented on #252
@ShMcK any chance we have this configurable on the models?

I'm about to switch back to pure redux because I couldn't figure out how to do it with rematch. :(

[2018-05-30 14:47] ShMcK commented on #252
There currently isn't any support for nested reducers other than using:

[code]

Personally, I use the persist plugin with models, some of which are white listed. I haven't had the need for white/black listing specific keys. Its always possible to restructure your models where it makes sense.

I don't have any plans for adding reducer functions at this time, though I'm happy to help out with any P

[2018-05-30 23:33] williamconnolly commented on #390
I'm new to the Redux pattern in general. @ShMcK does it make sense to ever have a Model defined thats deeply nested in the overarching, main model?

i.e. I have the main model, Links. Links have {...variables}, variables have {...values}... etc. My reducer methods are starting to get pretty tedious. I dont know if it is an anti-pattern to have a reducer of one model call a reducer in another... bu

[2018-05-31 04:12] ShMcK commented on #390
I can give a few tips off the top of my head.

##### State Machines
Might be best to start with some basics on how and why "state machines" are useful. Redux was intended to be used as a state machine, but its commonly just used as a way to store and sync data.

If you can shift your focus from "data" to "states", I think you'll find a lot of benefit. The more you can thoroughly plan out the state

[2018-06-01 07:49] klaemo commented on #392
It looks like this started happening in `alpha.4`. I downgraded version by version and `alpha-3` is where `rootState` still gets passed correctly.

[2018-06-01 09:14] lext-7 commented on #392
By the way, in `0.5.3`, I can get effects returns. But in ` 1.0.0-alpha.6`, nothing returns.

[2018-06-01 10:22] buruss opened #393 "How can I await another model's effect?"
If I call another effect inside an effect of same model, it returns promise normally,
But If I call an effect of **another model** it returns **undefined**.

dolphins.ts example

`effects: {

    async incrementAsync() {

      await dispatch.sharks.incrementAsync(5); // <--- do not await

      console.log('dolphin effect'); // <-- this line is executed before sharks.incrementAsync completes.

[2018-06-02 22:34] ShMcK commented on #392
I wrote a unit test to test this out, but it seems to be passing. [See test](https://github.com/rematch/rematch/blob/fix/effects-rootstate/test/globalDispatch.test.js#L162-L186).

If you get a chance, could you demonstrate the issue in a test, and I'd be happy to put in a fix.

[2018-06-03 08:20] lext-7 commented on #392
Just upgrade `@rematch/core` version to `1.0.0-alpha.6` in https://github.com/rematch/rematch/blob/master/examples/react/count/package.json.

Then add rootState console in https://github.com/rematch/rematch/blob/master/examples/react/count/src/models.js#L7, `undefined` will be the result.

[2018-06-04 16:30] grsmvg opened #395 "Problems when using both the immer and persist plugin"
# Tested using versions:

[code]

# Problem:

### When using plugins in this order:

`[persistPlugin, immerPlugin]`

This error is thrown:

[code]

**This is a sign that the immer plugin is not working**

---

### When using plugins in this order:

`[immerPlugin, persistPlugin]`

Bootstrapped always stays false in this piece of code:

[code]

**This is a sign that the persist plugin is not properl

[2018-06-05 01:50] ChiaJune commented on #361
Have the exact same issue with **@rematch/core@1.0.0-alpha.7**

model
[code]

[2018-06-05 04:54] d3dc opened #396 "Support `redux-thunk` like effects"
[A better API got merged!](https://github.com/rematch/rematch/pull/399)

---

@ShMcK I've been reading a few issues such as #363. I'm not a fan of importing `dispatch` from a module, it makes me worry about the setup for testing and SSR.

I think it might make sense to support an API like `redux-thunk` in effects:
[code]

[2018-06-05 11:29] alozytskyi commented on #208
[code]

[2018-06-05 11:37] alozytskyi commented on #208
@ShMcK seems to be also working with latest v1.0.0

[2018-06-05 11:49] 19majkel94 opened #397 "Incorrect `effect` method signature in `ExtractRematchDispatcherAsyncFromEffect`"
In `ExtractRematchDispatcherAsyncFromEffect` we have
`E extends (payload: infer P, meta: infer M) => Promise<void> ? RematchDispatcherAsync<P, M> ` but `Model` assumes that `effect` should have signature `(payload: any, rootState: any)`:
[code]
Which incorrectly create the `Action<P, M>` function argument.

[2018-06-05 12:12] scientist1642 commented on #392
This happens in 1.0.0-alpha.4 as well for me, ONLY if remote debugging is enabled. Might be related.

[2018-06-05 14:30] 19majkel94 commented on #376
@ShMcK
I am bumping this issue as I also need to do an effect based on subscription from 'otherModelName/actionName'.
[code]

As you can see, doing this in reducers doesn't make sense as you need to return a state, so no async functions + side effects.

I've tried move it to `effects` but I got this error:
`Invalid effect name (datagen/auth/userLoggedIn)`

[2018-06-05 22:25] kebot opened #398 "[TypeScript] error when dispatch action using `dispatch.<model>.<effect/reducerName>`"
![image](https://user-images.githubusercontent.com/289392/41005663-bbf229de-691e-11e8-8e3c-1511f97f79b7.png)

![image](https://user-images.githubusercontent.com/289392/41005864-81034b72-691f-11e8-85b4-10a126ed462b.png)

I have define types to the `effects` function

![image](https://user-images.githubusercontent.com/289392/41005910-b2105584-691f-11e8-83b5-368f70fcd413.png)

A workaround would be a

[2018-06-06 03:11] ShMcK commented on #396
I definitely agree, `this` as dispatch, or importing dispatch both seem hacky.

Other ideas have been suggested, including below:

[code]

Ideally, a solution would resolve both external and internal model dispatches. What are your thoughts on this proposed API?

[2018-06-06 04:44] d3dc commented on #396
I think your proposed API is pretty great (the one I missed 😛). I followed the discussion on re-usable reducer logic, and I think this touches the other side of that; composing effects. Dispatch probably should be passed as an argument to avoid awkward api differences and passing `this.getDispatch()` a lot.

Putting dispatch first makes it very explicit what effects should be doing.

---

 I haven

[2018-06-06 08:20] alozytskyi commented on #393
Did you try alpha.7?

[2018-06-06 10:05] 19majkel94 commented on #376
@ShMcK
It's even worse, the reducer workaround doesn't work in all. I got this error:
[code]
Because my subscriptions calls dispatching effect and the effect is then calling reducer to set the state.

[2018-06-06 13:34] buruss commented on #393
Just upgraded to alpha.7 and tested.
But I got the same results though.

[2018-06-06 22:26] d3dc commented on #396
After playing around with trying to build some larger models with this, I still see some value in this being both optional and something that can be composed at the individual effects level; thunks still feel like a good fit to me.

I started playing around with nesting thunks and quickly got lost in a sea of async wrappers. Maybe it would be best just to have a very long (or grouped) arguments li

[2018-06-07 09:20] koss-lebedev commented on #351
I've been debugging this issue and I found that `@@redux/REPLACE` action doesn't get handled on a first try. If we manually dispatch this action again from Redux devtools console, it updates the state and reducers properly.

As it was mentioned above, everything works as expected if Redux devtools is disabled. So if you need to use lazy loading, you can disable devtools by adding this line before

[2018-06-08 00:19] d3dc commented on #396
@ShMcK I was trying to get really DRY with my other comments, and they probably went a little wide. Consider the simplest case - I want to include common functionality like I can for reducers:
[code]

With the model-level API, spreading objects works fine, but doing `renamedReducer` would require a wrapper to create the effect.

[2018-06-08 03:06] ShMcK commented on #396
@d3dc you've given a lot of great and varied ideas here.

I may start using your `catchWith` implementation in my own code.

I'm not sure how effects might end up working, you've brought up several good options. As this weekend is going to be all rain, I hope to spend some time exploring a cleaner API for effects.

[2018-06-08 03:16] ShMcK commented on #398
Two things may help:

1. Use alpha 7

2. Checkout the [TS example](https://github.com/rematch/rematch/tree/master/examples/ts/count), in particular notes these [lines](https://github.com/rematch/rematch/blob/master/examples/ts/count/src/App.tsx#L12-L18). Also note how `models` are given a type within "store.js". Also note how the `createModel` is used, and that the `payload` is typed within models

[2018-06-08 03:38] ShMcK commented on #397
Thanks @19majkel94

I believe this may be correct. Unfortunately, typings are not my strong suit. I'll dump my thoughts below:
- In this case, RematchDispatcherAsync refers to the typing of `dispatch`
- But inside of a model, effects accept params of `(payload, rootState)`

If you have any suggestions on improving typings, PRs are always welcome :)

[2018-06-08 03:48] ShMcK commented on #396
I put together a quick PR proposal for fixing effects, see #399.

[2018-06-08 08:07] 19majkel94 commented on #397
Yes but the `rootState` parameter is used as a `meta` parameter in this type, so it produce the return type like `{ payload: TPayload, meta: RootState }`.

The main case is that `dispatch.myModel.myEffect()` return the same data as `myEffect` methods returns, just like action creators do in normal redux. I use this pattern sometimes, so current typings claim that it returns `Action` which is incor

[2018-06-08 18:31] d3dc commented on #396
@ShMcK Someone pointed out that I could just use the promise API. And I guess they are right...
[code]

[2018-06-09 00:56] d3dc opened #400 "Accessing other model selectors in a selector"
Say I have a normalized state and a selector to denormalize it. Would it be considered a bad pattern to stack these ~~like I do with reselect~~?

It seems to me like selectors should have the same api as effects:

[code]

And while we're at it, could concerns around accessing external state like #270 be addressed by the DI API you are working on for effects? ~~I don't see a  reason for this other

[2018-06-11 02:00] ChiaJune opened #405 "@rematch/core@next is not the latest version"
If you want to get the latest version, you need to use `npm install @rematch/core@alpha --save` instead of `npm install @rematch/core@next --save`.
run command `npm install @rematch/core@next` finally get the version **1.0.0-alpha.5**

[2018-06-11 02:10] ShMcK commented on #405
Thanks, this should be resolved now.

https://www.npmjs.com/package/@rematch/core

[2018-06-11 02:10] #405 closed

[2018-06-11 02:39] lext-7 commented on #392
Is there any solution to fix it @ShMcK ?

[2018-06-11 02:40] duhongjun opened #406 "failed to compile use typescript"
ts version: 2.9.1
rematch version:  1.0.0-alpha.8

get this error:
![image](https://user-images.githubusercontent.com/18900868/41210306-6f9c5f02-6d63-11e8-818f-c88706c9bc7f.png)

[2018-06-11 02:43] ShMcK commented on #406
Are you using `import { createModel } from '@rematch/core'` by chance?

Check [the TS example](https://github.com/rematch/rematch/tree/master/examples/ts/count) for changes.

[2018-06-11 02:49] ShMcK commented on #392
I'll look into it now.

[2018-06-11 03:02] ShMcK commented on #392
Fix should be released for alpha.9 within the hour.

[2018-06-11 03:02] #392 closed

[2018-06-11 03:19] duhongjun commented on #406
it also happend when i just import rematch and write nothing about it, i use vscode and i find the .ts file has two error, see the picture below

![image](https://user-images.githubusercontent.com/18900868/41211317-25dbbc36-6d69-11e8-92b4-e836f5510fd1.png)

[2018-06-11 03:35] ShMcK commented on #406
I don't have the same issue, strangely. Also using vscode & ts v2.9.1

Hmmm... A lot of these typings were not possible pre-TS v.2.8.

Can you check two things:
1) `tsc -v` and verify you have 2.9.1.
2) run `tsc` from the command line in the rematch repo and let me know if you have any warnings
3) check to make sure vscode is not using a different TS version. It should say in the bottom left corne

[2018-06-11 07:02] duhongjun commented on #406
tsc -v and vscode  are both 2.9.1
in rematch repo it is all fine but in my repo, it get error..
i use create-react-app and i init a new project, i also get the same error ...
emmmm...

[2018-06-11 09:30] linonetwo commented on #248
Hi, I'm using
[code]
and
[code]
Lots of boilerplate, hoping there can be a plugin to abstract it.

[2018-06-11 09:56] linonetwo opened #409 "Use with connected-react-router?"
`react-router-redux` is deprecated https://github.com/supasate/connected-react-router/issues/74
It's preferred to use `connected-react-router`.

But to set up `connected-react-router` we need to pass `rootReducer` to it. https://github.com/supasate/connected-react-router#step-1

So to work with `connected-react-router`, I need to write a plugin?

[2018-06-11 10:31] duhongjun commented on #406
i create a [repo](https://github.com/duhongjun/rematch-demo.git),  it is init by create-react-app,  thanks for your help, waiting for your reply ^_^

[2018-06-11 14:57] ShMcK commented on #398
Definitely we could use some improved TS documentation. It's not obvious.

[2018-06-11 14:59] ShMcK commented on #409
I don't think you ever need to write a plugin. Plugins are just a way to make a configuration reusable.

These `redux.rootReducer` docs may help: https://github.com/rematch/rematch/blob/master/docs/reduxApi.md#rootreducers

[2018-06-11 17:26] #396 closed

[2018-06-11 17:46] d3dc commented on #400
I was thinking having `this` bound lets store model state be built up from smaller pieces. I can decorate a model to provide a default implementation of `hydrate` (and `dehydrate`) and then rely on `this.hydrate` in the specific domain selectors.

But I guess you could also just have a single `storage` model that you select and dispatch to - just like a database. And either I'm forgetting why this

[2018-06-11 18:12] andrewheekin commented on #406
Seeing the exact same error when trying to run the ts count example, ts v2.9.1

[2018-06-11 18:44] andrewheekin commented on #406
#410 possible fix

[2018-06-11 18:51] d3dc commented on #393
@buruss How is incrementAsync implemented? Is it definitely an async function?

`this` and `dispatch['sharks']` are the same object and should work the same: https://codesandbox.io/s/ql6m574l84

[2018-06-11 19:25] d3dc commented on #337
@Aerendir `redux-orm` doesn't have a redux plugin or anything. You just use it the same way no matter what state management you have. [There was a utility function to remove some boilerplate, but the docs now advocate using it explicitly](https://github.com/tommikaikkonen/redux-orm#redux-integration)

I'm not sure why there is debate over things as alternatives. `redux-orm` has a misleading name a

[2018-06-11 21:43] brunolemos commented on #406
@duhongjun @andrewheekin This is because `strictNullChecks` is `true` on `create-react-app` but not on `rematch`. You can set `"strictNullChecks": false` on `tsconfig.json` for now while #412 is not finished/deployed.

[2018-06-11 21:51] brunolemos commented on #398
@kebot you will lose autocomplete for the `todosModel` if you use `: Model`. You can do `fetchSuccess(state: State` instead.

[2018-06-12 01:17] d3dc commented on #400
[I went ahead and mocked this up here](https://codesandbox.io/s/ql6m574l84)

I'm running into an issue with the `this` binding in selectors and may have just missed something.

[2018-06-12 02:42] duhongjun commented on #406
thanks a lot

[2018-06-12 02:42] #406 closed

[2018-06-12 02:54] ShMcK commented on #400
There are currently some issues with the selectors plugin & 1.0.0-alpha. We'd be happy to take in any PRs to fix issues.

Unfortunately, there are a lot of different people with different use cases and ideas for the selectors plugin. I've found it's just easier to write your own selectors wrapper and use it where needed.

[2018-06-12 04:13] linonetwo commented on #409
But I need to pass `rootReducer` to it
[code]
But where can I get this `rootReducers`?
Maybe it's `connected-react-router`'s fault since it's requiring itself to be the root reducer  https://github.com/supasate/connected-react-router/blob/master/src/reducer.js#L37

[2018-06-12 06:16] d3dc commented on #400
@ShMcK I can understand there's a lot of issues still around with 1.0 looming (I've had to dig a bit to get answers to some of my questions).

My intent is definitely to put in a PR eventually - just trying to spitball first. I'll definitely take a look at #386, #360, and #309. Am I missing any? It doesn't seem like there's any large blockers to what I'm doing.

What would it take to PR an API cha

[2018-06-12 06:51] d3dc commented on #393
@hvsy In your example, you're using the global dispatch `import { dispatch } from '@rematch/core'`

take a look at what that does:
[code]

I'm guess @buruss  posted this a few days before the new effects landed (#399). With the function form of effects, the dispatch that is injected will return a promise.

[2018-06-12 07:16] hvsy commented on #393
@d3dc Thanks for reply
I build a test for 1.0.0 alpha (https://codesandbox.io/s/9415nyw2zo)
The global dispatch function return the same result, still undefined.
If was designed purposely like this.
It is a  breaking change.

[2018-06-12 07:28] d3dc commented on #393
@hvsy It is a breaking change. The dispatch code I posted is from the latest alpha. Prior to 1.0, there was only one store, so the library just exported that dispatch.

If you use `connect()`, it receives `store.dispatch` and I think is somewhat cleaner to use over importing the global dispatch.

[2018-06-12 09:09] jackwilsdon commented on #248
@linonetwo that can probably be simplified;

[code]

But I agree it would be nice to have a shorter way of doing it.

[2018-06-12 09:14] alozytskyi opened #414 "Listen for actions dispatched from redux reducers?"
While migrating to Rematch, there is still significant chunk of the state which is managed by the plain reducers and actions, however Rematch doesn't seem to react to them

[code]
neither as
[code]
However, to ensure seamless transition it would be useful to listen to the reducers that are yet pending  to be converted into models. It might be that plain names won't work here, but what if it'd be s

[2018-06-12 10:04] alozytskyi commented on #414
This seems to pass the test:

[code]

[2018-06-12 13:08] alozytskyi commented on #414
Another issue with this is that redux does not force an action to follow:

[code]
Therefore, only `type` is mandatory, so all other keys, should probably be somehow aggregated into `payload`

[2018-06-12 22:14] d3dc commented on #414
@alozytskyi This seems like a great application for a plugin. [I've even made one for my project](https://gist.github.com/d3dc/6ded49538550f32365fc3adcea7fd569)

Your latest comment on combining action properties into payload is interesting. How do we know what keys to select? Perhaps customizing the lift function further would be enough?

[2018-06-13 02:44] ShMcK commented on #374
@taranda, there is a promising PR as #415 if you'd like to have a look.

[2018-06-13 02:44] ShMcK commented on #365
Has this issue been resolved?

[2018-06-13 02:48] ShMcK commented on #351
Thanks @koss-lebedev, I've added the replace call to the store.model function.

[2018-06-13 02:48] #351 closed

[2018-06-13 02:55] ShMcK commented on #332
I spent some time over the weekend playing around with "yarn workspaces" as well as "lerna". I found they both are well suited for large projects that can be broken down into sub-projects.

I think `npm link` & `yarn link` both seem to suit the purpose of linking dependencies in the "examples" folder.

There are, however, a few cases where linking dependencies with "peer dependencies" doesn't work

[2018-06-13 02:55] #332 closed

[2018-06-13 03:06] brunolemos commented on #365
@ShMcK no, I don't know if it's possible to fix without a cast (e.g. `as any`), because the `mapDispatch` function from rematch is different from the `mapDispatch` from redux because rematch add the models to it and they become incompatible.

[2018-06-13 05:05] lext-7 opened #418 "getState is not export in d.ts"
`getState` is not export in d.ts, so I can not use it in typescript

[2018-06-13 09:19] buruss commented on #393
@d3dc
With 1.0.0.alpha.9, now it works as I expected.
Thank you for your support.

[2018-06-13 09:19] #393 closed

[2018-06-13 10:06] alozytskyi commented on #414
@d3dc Hey there, good to know it's doable as plugin!

My thinking was if there is a `payload` key, keep it. Otherwise change it to something:
[code]

[2018-06-13 23:00] d3dc commented on #414
I've updated my gist.

I don't know if encouraging building metadata for the enhancer is a good idea. I think the point of Rematch is not to be working so close to redux.

[2018-06-13 23:10] d3dc commented on #409
@linonetwo You can already listen to rootReducers ;)

[code]

[2018-06-13 23:42] cf-bosung90 opened #419 "effects not called when using remote-redux-devtools enhancer"
If I use remote-redux-devtools enhancer, calling rematch models effects doesn't do anything.

[code]

[code]

[code]

I do see an action fired `type: "count/countUpAsync"`

I tried with both 0.6.0 and 1.0.0-beta.1

[2018-06-13 23:57] d3dc commented on #376
I'm going through this debate too.  At the end of the day, models represent the reducers - "this model changes state in response to these events". Effects are a way to group those state changes.

I think Subscriptions as a plugin give you a place to define a wholly different event consumer.

But to play devils advocate: Do you really need that inversion? (e.g. dynamic loading?)

Why not just have

[2018-06-14 00:32] cf-bosung90 opened #420 "effects always returns Promise regardless of what the actual function returns"
Currently calling effects function will always return a Promise.

This promise will resolve to the value that the effects function returns.

This works most of the time, however, it is assuming that all effects are asynchronous, which is not true.

I am trying to create a Component that subscribe to firebase store when it mounts and unsubscribe when the Component unmounts.
Here I decided to put su

[2018-06-14 01:35] ShMcK commented on #420
I think this may be a good use case for the Context API (aka the topic you (@cf-bosung90)  gave an awesome and helpful presentation on last week 💯

Another possibility would be to hold the subscription entirely within an effect.

// models/product.js
[code]

// component.js
[code]

[2018-06-14 01:44] ShMcK commented on #419
There's a few things this might be:

- a bug in enhancers
- some incompatability between redux devtools and this devtools
- `devtoolsEnhancer` needing to be the final middleware, but overwritten by the redux devtools middleware going last

The problem is likely [here](https://github.com/rematch/rematch/blob/master/src/redux.ts#L79-L82) If you can debug it with a log statement running a local copy

[2018-06-14 02:18] d3dc opened #421 "Plugins don't receive store config"
Plugins only receive the actual redux store (no metadata). It seems weird that the config is write accessible but isn't read accessible.

Dev tools is able to show the store name because it is explicitly told it in `mergeConfig`:
[code]

[2018-06-14 02:50] d3dc commented on #421
@ShMcK I just threw the metadata into the pluginFactory, but would it be better to expose things like the name on the store itself?

In my `select` branch, I only use the state to store the store name - maybe this should just be happening?

[2018-06-14 02:51] ShMcK commented on #421
I think it would be better if `onStoreCreated` passed in the Rematch store, rather than the Redux store.

I can put in a quick PR for this

[2018-06-14 02:52] ShMcK commented on #421
nm, it does. Give me a few minutes, I'll throw a PR and tag you in it.

[2018-06-14 03:21] ShMcK commented on #421
Will release as beta.2 by the end of the week. There are a couple more improvements I can squeeze in before then.

[2018-06-14 03:21] #421 closed

[2018-06-14 07:13] bosung90 commented on #420
I am not actually sure how I can use the new Context api here lol.
The problem I can see with the second method is that I will have more than one component calling subscribeToFB. Therefore I need Component to hold onto the unsubscribe ref.

[2018-06-14 08:47] alozytskyi commented on #414
@d3dc sure thing. But might be helpful to migrate existing big apps to rematch, as when replacing existing reducers reacting to something(for example, successful auth), this can be very helpful as it would only require writing new models instead of also placing new action dispatches all over the code, only to remove them again when other reducers are migrated(for example auth reducer to auth model

[2018-06-15 04:47] ShMcK opened #427 "TS warnings in 1.0.0-beta.1"
There are some TS warnings that need to be cleaned up before the next release.

To replicate:

1. `npm run build` in the root
2. install and run `tsc` in the "examples/ts/count" folder

[code]

[2018-06-16 02:33] ShMcK commented on #427
@brunolemos any ideas what might be causing these warnings?

[2018-06-16 03:03] brunolemos commented on #427
@ShMcK so this happened when we split Model and ModelConfig. Fix: #430

[2018-06-16 03:32] #427 closed

[2018-06-16 04:11] d3dc commented on #414
@alozytskyi Your use case is the one I thought I was thinking of. I'm specifically referring to using an action's `meta` property when I say "building metadata" might be encouraging too much.

You would have to modify or wrap your action creators to have that proper metadata.

[2018-06-16 05:18] lext-7 commented on #418
What's the matter?

[2018-06-16 15:30] #418 closed

[2018-06-17 08:07] hongyanh opened #434 "Sample code react-redux prerequisite"
In README - **Getting Started** section, It's better to mention `react-redux` module is required to run the example code.

[2018-06-17 16:46] linonetwo commented on #409
But as https://github.com/rematch/rematch/issues/376#issuecomment-394731320 said, if I want to listen on router change, then loads data according to the new route, I need
[code]
It will cause `Invalid effect name` at this time.

[2018-06-17 16:48] linonetwo commented on #376
@d3dc How about loading data according to route change?
We want data loading logic being separated into different models, and those models can listen to `connected-router`'s action.

[2018-06-17 16:55] linonetwo commented on #414
@d3dc  Will your solution solves https://github.com/rematch/rematch/issues/376#issuecomment-394731320 ?
In your example, async delete seems not working.

[2018-06-17 18:12] #434 closed

[2018-06-17 18:12] ShMcK commented on #434
I can see how that would be confusing. I've added a note to the README, thanks :)

[2018-06-17 18:17] ShMcK commented on #376
I think if you want to load data based on a route change, that logic may be best suited in one place, likely within a router model.

[2018-06-18 07:29] Justin-Shen opened #436 "How to catch an error in rematch?"
My code throw an error, but I can't find in broswer's console panel.
How to handle error?

[2018-06-18 17:43] d3dc commented on #376
@linonetwo My two cents on listening to routing in particular is "Don't".
Redux is a loop. The view effects the state and the state is connected to the view.

You're introducing side effects to route changes that further mutate the state. Maybe you can argue that this is just further grouping effects, but I think then you also have to put a lot of UI state into the global store.

Consider having a

[2018-06-18 17:51] d3dc commented on #414
@linonetwo *cough* I may have copy pasted the wrong demo. I replaced asyncDelete with the right implementation.

[2018-06-19 05:17] ShMcK commented on #436
It depends where the error might be coming from.

As an example, I often use `try { /* ... */ } catch(error) { console.log(error) }` inside of effects.

[2018-06-19 06:44] linonetwo commented on #376
@ShMcK I discuss this with my colleague, we agree with you. But even we put all that "load data on route change" logic in one store, we still need a subscription on history (we are currently using this approach), or a subscription on `connected-react-router`'s action.

This is what I'm currently using:
[code]
Where `followURI` is subscripte on route change, and load data based on a route change.
[

[2018-06-19 06:54] linonetwo commented on #376
@d3dc  I think clicking <Link to="/block" /> is a thunk: action notify browser history that it should change, and an effect is dispatched to load data.

Oh, I think all these worries and complexity will go if I'm using GraphQL. Then GraphQL will work as a view model to handle data loading. Only a few things should go into `rematch`'s model.

[2018-06-19 06:56] linonetwo commented on #436
And you could just let it throw, and set up ErrorBoundary around your component.

[2018-06-19 15:08] #274 closed

[2018-06-19 15:13] ShMcK opened #439 "Remove globals: `getState`, `dispatch`?"
There are a few issues with `getState` in the current v1.

1. The name implies it should be a single store's state. It may be better to call it `getStates`

2. How to handle TS typings if it returns multiple stores states. Typings are currently created from models for a store, rather than for collection of stores.

[2018-06-19 18:55] bosung90 commented on #439
I never had more than one redux store in my project

[2018-06-19 23:36] d3dc commented on #376
@linonetwo I think you confuse "side-effect" and "effect". This is, again, redux.

Regarding your solution listening to history, I think you just reinvented the wheel. 😅

There's this great library designed to contextually mount listeners to fragments of the current history location. Its called `react-router`. You can use the function `Route`, and nest it inside other calls to `Route`. When its `p

[2018-06-19 23:37] ShMcK commented on #376
On that note, I highly recommend [reach router](https://reach.tech/router).

[2018-06-19 23:47] bosung90 commented on #439
I'm not really familiar with server-side rendering (I'm a react native dev)
I import dispatch and getState from my store.js like so
[code]

and simply import them directly
[code]

[2018-06-19 23:57] ShMcK commented on #439
I don't think there are any good use cases for providing a single store `getState`. Accessing `getState`  the way @bosung90 recommends is more ideal.

There is, however, a use case if a user with multiple stores wants to access all stores, perhaps to run a selector on them. So I think this may be a case that needs considering.

[2018-06-20 04:18] krainboltgreene opened #440 "How to use with redux-thunk?"
I'm setting up with:

[code]

and my model:

[code]

However when `submitRegistration()` is dispatched my inner function doesn't get called?

[2018-06-20 08:36] jackwilsdon commented on #439
I feel like it should be the user's job to manage these stores - we shouldn't be keeping a global list of stores that the user has created (and I can imagine that storing all stores the user has created would cause a memory leak, no?).

[2018-06-20 11:12] akshay0002 commented on #359
# # # #439

[2018-06-20 18:18] amorphius commented on #230
I'm actually surprised that creators of Rematch didn't think of nested models. I have no idea how to create big complex app with flat structure. This issue actually forces me not to use Rematch in my home project because it seems that it suitable only for micro projects. Redux and combineReducers is the only choice. Too sad.

[2018-06-20 18:51] spearson23 opened #442 "Async dispatch"
Why are reducers called asynchronously?  This causes a problem with controlled components (see https://stackoverflow.com/questions/28922275/in-reactjs-why-does-setstate-behave-differently-when-called-synchronously/28922465#28922465)

[2018-06-20 18:57] d3dc commented on #440
Hey @krainboltgreene, `redux-thunk` is actually not needed for rematch. The new betas landed PR #399 and it hasn't made its way to the gitbook yet.

[2018-06-20 22:10] krainboltgreene commented on #440
Does this account for `withExtraArgument()`?

[2018-06-20 22:12] krainboltgreene commented on #440
Further this seems like a non-ideal interface? Now when I have one effect that needs dispatch, all effects now have access dispatch. It also means `effects` can't just be an object.

[2018-06-20 22:54] d3dc commented on #440
I'm not sure of the advantage of effects just being an object. Rematch will collect an object from factories, and the typing will extract the typings of that object.

Just anecdotal, but most of my dispatch heavy sagas occurred in the same models and before Rematch I wrote a whole lot more thunk boilerplate.

I think ExtraArguments might be a great idea to add if its not there already. At the wors

[2018-06-20 23:15] krainboltgreene commented on #440
For one it makes splitting up harder:

[code]

vs

[code]

The latter doesn't work.

I use the SDK to talk to my server and my SDK is built at runtime based on a discovery engine talking to my server.

[2018-06-20 23:34] jackwilsdon commented on #230
If there's something you don't like about the library or that you think is missing, why not implement it yourself and open a PR?

[2018-06-21 02:34] d3dc commented on #440
If effects is coming from one file, couldn't you just export a function?
And if you're indexing:
[code]

Regarding your SDK, I'm pedantically getting at that the action
creators are where the binding to the SDK exists, why should the store
manage the dependencies for it? (I do like the DI)

On Wed, Jun 20, 2018, 5:15 PM Kurtis Rainbolt-Greene <
notifications@github.com> wrote:

[2018-06-21 02:39] d3dc commented on #440
If effects is coming from one file, couldn't you just export a function?

And if you're indexing:

[code]

Regarding your SDK, I'm pedantically getting at that the action
creators are where the binding to the SDK exists, why should the store
manage the dependencies for it? (I do like the DI)

[2018-06-21 02:41] krainboltgreene commented on #440
Ah, now I see what you mean.

[2018-06-21 03:48] ShMcK commented on #439
@jackwilsdon I agree. I think it's best to recommend the following

[code]

Global `getState` & `dispatch` were a dangerous idea, and can easily be avoided.

[2018-06-21 03:53] ShMcK commented on #440
`withExtraArgument` is an interesting idea.

Currently I import dependencies into the model file. I think is clearer, but I can understand why someone may want to pass along an `api` object.

[2018-06-21 04:52] thucxuong opened #444 "@rematch/persist 1.0.0.beta2 does not work after using store.model() method."
@rematch/core 1.0.0beta2
I tried to init the store with persist plugin, it works.
But when I tried to use store.model() method, it prevent the persist plugin from working immediately

[code]

[2018-06-21 11:58] Cloudo commented on #230
@jackwilsdon what do you think about my post above? is it possible to implement reusable models like that?

[2018-06-21 15:11] ShMcK commented on #442
I'm not sure I understand. `setState` became asynchronous in React 16.

[2018-06-21 15:13] ShMcK commented on #444
Was it working with a previous version of rematch?

I made a change to `store.model` around beta.1 or so.

[2018-06-21 15:34] krainboltgreene commented on #439
There's a lot of value in isolated stores for complex parts of an application. For example, one reason to not use redux for forms is input latency especially on large redux stores (of any vertical). This can be mitigated significantly by having a store for inputs.

[2018-06-21 15:36] krainboltgreene commented on #440
The reason I don't do that is chunking. My SDK is a promise that eventually resolves to a client object. If I use import then I risk, via chunking, waiting multiple times for a server and client to negotiate an interface.

[2018-06-21 17:15] ShMcK commented on #439
I try to minimize my use of Redux in applications by putting state in components/Context API wherever it isn't shared. It can often be more work to wire everything together, but its worth it if you're developing for mobile where resources are quite limited. Each action is an additional check on every dispatch. Each additional key to the store is an equality check on every update for every connecte

[2018-06-21 18:19] d3dc commented on #444
@thucxuong What do you mean when you say:

It looks like you have `whitelist: ['routing']` in your config. Which does:

[2018-06-23 18:14] ShMcK commented on #360
Will remove `getState` in the next version of rematch. See #446 for details.

[2018-06-23 18:14] #360 closed

[2018-06-23 18:31] ShMcK opened #448 "Development & Production version"
There seems to be an issue where the `process.env.NODE_ENV` is taken from the `npm run build` script rather than the environment of the app.

[2018-06-23 18:38] #439 closed

[2018-06-24 00:30] millette opened #452 "Can't npm/yarn install beta 3"
Fix in #449.

[2018-06-24 00:33] kebot opened #453 "bug: install/upgrade @rematch/core@1.0.0-beta.3 error"
Environment
[code]

[code]

[2018-06-24 00:34] #453 closed

[2018-06-24 05:56] ShMcK commented on #452
Should be resolved in beta 4.

[2018-06-24 05:56] #452 closed

[2018-06-25 04:43] thucxuong commented on #444
Hi @ShMcK,
I'm just working with the latest version, not yet previous version.
HI @d3dc ,
For eg: When I call `store.model` right after the init of the store, it prevents the persist plugin to work immediately, without updating the local storage or blank local storage.
When I call `store.model` method in another file, the persist plugin can perform the very first action, which is assign data to lo

[2018-06-25 08:49] Nav4e opened #454 "Immer plugin can't return data from producers"
It is also allowed to return arbitrarily other data from the producer function. But only if you didn't modify the draft. This can be useful to produce an entirely new state.

In current version, we can't return an entirely new state

[2018-06-27 16:33] 132yse opened #457 "Why is models rather than modules"
emmmm

the API models ，but not modules ，why？
I feel ‘modules’ is more conforming to the meaning of the split

[2018-06-27 16:51] d3dc commented on #457
I think of it as modeling the store slice. We aren't directly writing the functionality that is exposed, we are describing it.

[2018-06-28 02:46] ShMcK commented on #457
Mostly, `models` are a carry over from [dva.js](https://github.com/dvajs/dva).

We used Dva for nearly a year at work, before deciding it had too many opinionated design decisions that didn't fit our needs/use cases, and often left us puzzled altogether. As an example, you had to install a package called "dva-no-router" when using React Native. Basically, you install React-Router-4, then you unins

[2018-06-29 07:40] Frank1e0927 opened #460 "please keep the development source not compression"
hey, i am follow your libary, and learn your code.
but, in 1.0.0 beta 4, beta3, It's always compressed。
So I can only find the uncompressed developer version in alpha.6 。

what should i do, when i debugging

[2018-07-01 04:30] ShMcK commented on #460
Definitely a must.

Closing as a repeat of #448. I'll take a look into this over the weekend.

[2018-07-01 04:30] #460 closed

[2018-07-02 21:29] Siemko opened #462 "Own middleware fires action until stack maximum call stack size exceeded"
Hi,

I am trying to implement my own middleware using Rematch
[code]
where
[code]
I tried every `dispatch` combination I could think of, but everything gives me `RangeError: Maximum call stack size exceeded`. Logging says, that action that is dispatched is being called infinite times.

I am using rematch 0.6.0, but @next gives same results. Moreover, I am using immer, but without plugin. What am I

[2018-07-02 21:50] jackwilsdon commented on #462
I'm not sure of the right way to do this, but I don't think you should be calling dispatch on the store as it'll end up going through the middleware again (causing recursion + a stack overflow).

[2018-07-02 21:59] Siemko commented on #462
Well, thanks for that @jackwilsdon!
Seems like:
[code]
did the job.

[2018-07-03 09:28] Siemko commented on #462
Never has been so wrong, for normal reducers above solution works perfectly, but trying to dispatch async effect results in calling it infinite times.

Later, I thought of using plugin API to write my own plugin with middleware, but I didn't succeed.

How can I achieve what I am looking for? How to dispatch an action on condition in middleware?

[2018-07-04 03:41] DrakeXiang commented on #376
This could easily bloat the router model file as the routes number grows. and when multiple changes were made by different people, the git diff could be horrible., although the 'hard to debug' problem is true when separate these subscriptions..

[2018-07-04 11:52] glimow opened #464 "effect's rootState vs redux-thunk's getState"
When using redux-thunk, your async actions have a `getState()` parameter to know about the current state. In rematch, `rootState` is not a function but an object, thus it can be outdated when using several reducers in the same effect.
[code]
 Since `rematch 1.0.0` it is not possible to import global `getState()` and importing store's `getState()` would make a circular dependency as we are in a mod

[2018-07-04 14:49] ShMcK commented on #464
You raise a good point. If there is a possibility of getting the wrong state, `rootState` may be a bad idea.

Internally, rootState is created by a `getState()` call and passed in as a param when the effect is processed. Have you seen it have the wrong value? If it can be demonstrated, we definitely need to make a change.

---

## Alternatives

I can think of a few alternatives to removing getStat

[2018-07-04 14:50] #448 closed

[2018-07-04 14:53] jackwilsdon commented on #464
I like the idea of passing `getState` as a second argument - it more closely follows how `redux-thunk` works.

[2018-07-04 16:19] glimow commented on #464
@ShMcK I just ran on several cases where rootState had the wrong value when migrating from redux-thunk code to rematch. I guess that's because in redux, state is treated as immutable and is replaced at each dispatch.

I tried your first solution, but that made a circular dependency, model=>store=>model and store resolved to `undefined`. At least I guess because I couldn't find any other explanatio

[2018-07-04 22:29] d3dc commented on #376
@DrakeXiang if your routing is complex, perhaps you should have more than one model.

I don't see the need for any routing models, really.

Route changes can be side-effects in an effect; the resulting view can then request the data it needs - **separating its concerns from the store's**.

[2018-07-05 08:15] d3dc commented on #462
Did you try this?
[code]

Effects need to finish dispatching to actually run. I'm not sure if that is your actual problem however.

[2018-07-06 02:52] ShMcK commented on #462
Not sure how helpful this is, but the first param in middleware is really the `store`.

[code]

[2018-07-06 13:40] Siemko commented on #462
Yes, I have tried it, it didn't work either. I also tried to change order of execution - no success.
What's weird - exactly same middleware was working in normal redux once I wrote it.

I ended up changing my refresh token middleware from redux/rematch one to my request library one.

[2018-07-06 19:02] d3dc commented on #462
We're only guessing unless we can get a more complete example.

It really almost sounds like `dispatch` gets called during "user/logout". I keep coming back to "Effects run after all the middleware for their action."

[2018-07-09 07:08] #409 closed

[2018-07-09 17:38] wiziple opened #469 "Is there any way to integrate on dva framework?"
Hello,
I found out this library from React Vancouver meetup a few months ago and finally have some time to try it out.
I'm currently maintaining a mid-large size react app project built with dva framework.
My concern is that the project is already on production, and it is not a small project. (It has 15 models with 300+ reducers/effects in total), which means it is almost impossible to migrate at

[2018-07-10 02:48] danawoodman commented on #309
I believe this is still an issue. I installed `@rematch/select` `v0.3.0` and the following returns undefined:

[code]

[2018-07-10 08:12] jackwilsdon commented on #309
@danawoodman `getSelect` is part of the new `@rematch/select` beta. [Here is the latest version](https://github.com/rematch/rematch/tree/0.6.0/plugins/select) which you'll get from `npm install`.

[2018-07-10 15:06] ShMcK commented on #469
If you're migrating from dva, it shouldn't be too hard. There are a few issues to keep in mind:
- no saga support currently in rematch. This is the hardest part about migrating.
- changing generator/yields to async/await
- dva has a built in router, perhaps migrating to dva-no-router first might help

In rematch@next, you can use multiple stores, it may be possible migrate a project by breaking it

[2018-07-10 17:14] justinlnx opened #471 "Guide for using Multiple Stores"
## The problem

I am working on a large React application using redux to do state management. My objective is to insert another store using rematch into this large application without altering the existing redux store. I noticed that quite recently Rematch started supporting running multiple stores. And I wonder if there are any documentations or guides for setting this up.

## Environment

* Reac

[2018-07-10 23:01] danawoodman commented on #309
Do I need to install with git or can a `beta` version be pushed to npm?

[2018-07-11 06:41] jackwilsdon commented on #309
It looks like `@rematch/core@1.0.0-beta.5` and `@rematch/select@1.0.2` are available on npm right now (you need beta core to use the beta select plugin). You can install them like this: `npm install --save @rematch/core@1.0.0-beta.5 @rematch/select@1.0.2`.

[2018-07-11 16:04] tugorez opened #472 "Testing sample code is not working"
Hi guys, the [documentation](https://rematch.gitbooks.io/rematch/docs/recipes/testing.html) suggests testing the reducer like this
[code]
But for some reason I'm not able to get it working. Instead what I have to do is this
[code]

Currently using the 1.0.0-beta.4 version. Is this a breaking change? If so, and you want it, I can help you with the documentation :)

[2018-07-11 16:07] jackwilsdon commented on #472
Global `getState` and `dispatch` were removed in #446, but it looks like the testing docs were missed. A PR would be appreciated! :tada:

[2018-07-12 09:40] linddominic commented on #268
Hi! Trying to find an example of how to solve this! Can't really hot-reload stores and make actions update.

This is my store:
``import { init } from "@rematch/core";

import models from "./models";

const store = init({
  models
});

// Hot reloading
if (module.hot) {
  module.hot.accept(() => {
    const nextModels = require("./models").default;

    Object.keys(nextModels).forEach(modelKey => {

[2018-07-13 04:42] #472 closed

[2018-07-14 17:05] gazedash opened #474 "Could not find a declaration file for module '@rematch/select'."
Although declaration file exists in repo, it's not included in npm library.

https://github.com/rematch/rematch/blob/master/plugins/select/index.d.ts

[code]

[2018-07-16 19:45] deanius opened #475 "Expected reducer to be a function error with Remote-Redux-Devtools"
Instead of starting up, my app dies with an error:

[code]

Here's the code I've got, and the versions I depend on. Thanks in advance for help - I have a demo I want to include rematch in if I can get this working soon!

[code]

Same error whether the `beta` build, or 0.6.0:
[code]

[2018-07-17 08:29] thucxuong opened #476 "Rematch Loading plugin modify state in the store besides it's own model"
"@rematch/core": "^1.0.0-beta.2",
"@rematch/loading": "1.1.0", // tried 1.0.3 too
"@rematch/persist": "^1.0.2",

When I call an effect, it trigger `loading/show` as expected but when the request is finished, rematch loading modify the state of the store.

<img width="1433" alt="screen shot 2018-07-17 at 3 27 52 pm" src="https://user-images.githubusercontent.com/387207/42805470-179e93c6-89d6-11e8-9

[2018-07-17 09:32] thucxuong commented on #476
I've found the reason.
Because somewhere in the app, when rendering the data I mistakenly modify the data, the devtool trying to combine the changes I've made with the loading/hide action which causes this confusion.

Issue closed.

[2018-07-17 09:32] #476 closed

[2018-07-17 14:58] benonymus opened #477 "Effect doesn't await for code to be executed"
I have a reducer:
[code]
and an effect to use it async :
[code]
why is it not executed asynchronously?

[2018-07-17 16:06] #477 closed

[2018-07-18 06:50] cnyballk opened #478 "typescript effects need a action as a parameter"
Hi. I need some help. I introduced typescript in react and rematch, but I ran into some problems that looked like this.
![image](https://user-images.githubusercontent.com/25214319/42864508-4c6e445c-8a99-11e8-8aa7-25ad4221e524.png)
In the definition,
![image](https://user-images.githubusercontent.com/25214319/42864532-63a18e4a-8a99-11e8-8453-0f5f3471055e.png)
It reminds me that I need a action as a

[2018-07-18 06:52] cnyballk commented on #478
This is my environment.
 "@rematch/core": "^1.0.0-beta.4",

[2018-07-18 12:45] acnebs opened #479 "Rematch/Loading not finding my models/effect"
I have a React app that I'm trying to get to work with the Rematch Loading plugin. I already converted all my Redux code to Rematch and it works great.

However, when I try to use the Loading plugin, my models/effects are not added into the plugin, but the plugin *loads* just fine. So I can see the 'loading' object in `state` with the associated `global`, `models`, and `effects` properties, but mo

[2018-07-18 14:31] ShMcK commented on #478
In the case of `models` are you handling them in a similar way to this link?

https://github.com/rematch/rematch/blob/master/examples/ts/count/src/store.ts#L7

[2018-07-18 14:35] ShMcK commented on #479
I might suggest rather than using the plugin, instead copy the code inside of a model called "loading" in your project. It's essentially the same thing, but will give you more control over debugging.

https://github.com/rematch/rematch/blob/master/plugins/loading/src/index.ts

[2018-07-18 15:41] acnebs commented on #479
Unfortunately my project is not configured for TS, so easier said than done, but I'll see what I can do and report back!

[2018-07-19 00:11] cnyballk commented on #478
Yes, I did.

[2018-07-19 00:43] acnebs commented on #479
Ok, so I fiddled around and it started working. As far as I can tell, this appears to be a case of me not restarting my dev server after adding the Loading plugin.

So for anyone in the future who is having problems loading plugins: make sure you've at least restarted your server as a first step. That auto-reload / hot loading is great but can bite you if you forget it's there!

[2018-07-19 00:43] #479 closed

[2018-07-19 08:10] koss-lebedev commented on #221
Closed in #466

[2018-07-23 13:13] saginadir opened #482 "Batch Dispatch"
Anyone know of a current existing way to implement batch dispatch? I keep getting race conditions because some entities for a model are set before the others. I prefer just send multiple actions to multiple models at once, which will trigger a single subscription event.

This was discussed here on the redux repo about 3 years ago:
https://github.com/reduxjs/redux/issues/911#issuecomment-149361073

[2018-07-23 14:03] ShMcK commented on #482
I've implemented something similar, though long ago and wish I had added more comments.

Note that it doesn't use middleware to batch dispatches together. I recall looking into batching dispatches in Redux so that they would only trigger a single re-render to find that it was easier just to use a single action with different payloads.

The code calls the next promise whenever the thread is idle, u

[2018-07-24 03:54] danawoodman opened #483 "Cannot use selector plugin with "slice""
If I have a model with the following selectors:

[code]

and I log out:

[code]

I see:

[code]

As I would expect. If I instead try to use the `slice` as outlined in the docs like:

[code]

I see:

[code]

It appears passing in `selectors` as a function causes the selectors not to get created.

Am I missing something or is this a bug?

Versions:

[code]

[2018-07-24 06:29] saginadir commented on #482
Interesting example, but my newbie question is:

Will it trigger only a single re-render for the batchSize given?

[2018-07-25 02:21] d3dc commented on #483
Hey @danawoodman

Its awesome to see you're using  the new API, but it doesn't look like there is a published release of 2.0.0.

Last I checked, it was running into typing issues with the namespace extension I did when it went to be packaged. I can definitely put some time into figuring it out.

[2018-07-25 03:34] danawoodman commented on #483
Hmm, I read on issues #309 [here](https://github.com/rematch/rematch/issues/309#issuecomment-404062032) that these were published and this was how to use the API. I've also tried with `getSelect` but get the same results.

[2018-07-25 16:49] guilhermecomum opened #485 "Error Handling"
Hi,

What is the best way to error handling on effects?
I'm using something like this, I used to do on redux
[code]
Why Everytime I call a effect, a reducer with the same name is triggered?

[2018-07-25 18:10] d3dc commented on #485
effects _are_ actions. Its just a middleware.

Your code looks pretty solid outside of that.

I've played around with putting error state in its own model like the loading plugin. It seems to work for CRUD.

[2018-07-25 23:20] raythree commented on #259
For the most part, actions are specific to a given reducers, but there are certain actions/events that may be of interest globally in an app, and "ducks" recommends naming like:

```const LOAD   = 'my-app/widgets/LOAD';```

or some similar scoped naming. Can this be accomplished with rematch?

[2018-07-26 04:57] ShMcK commented on #259
There's a pattern for listening to actions:

[code]

[2018-07-26 05:53] danawoodman commented on #483
@d3dc I'm not sure what to do at this point. Should I be using a particular version? How can I get selectors working with 1.0.0-beta.5? Thanks

[2018-07-26 07:05] d3dc commented on #483
This should be the docs for v1 of the plugin:
https://github.com/rematch/rematch/blob/af82445b22d50746d4e68dbdc1e68a81209d7de9/plugins/select/README.md

v1 of Rematch will hopefully ship with v2 of the plugin, so my link in the select plugin docs doesn't quite make sense.

[2018-07-26 11:44] huanglei1991 opened #486 "When can you support ReactNavigation2？"
When can you support  ReactNavigation2？
![3e5f27e3-a932-437a-b92d-626ad89bbc09](https://user-images.githubusercontent.com/25176774/43260327-bf8c682e-910b-11e8-90e8-86a2369bd3e8.png)

[2018-07-26 18:15] #485 closed

[2018-07-26 21:12] guilhermecomum opened #487 "Circular dependency"
Hi,

Once global import dispatch was removed, which is the best way to call dispatch without cause circular dependency?

I'm using axios and I used to dispatch some actions inside axios interceptors, but I tried many way, but I'm always causing circular dependecy =(

[2018-07-26 21:44] ShMcK commented on #487
You can grab the dispatch from the store.

[code]

If you need to access dispatch within an effect, in the latest version it's available as well.

[code]

[2018-07-26 21:46] ShMcK commented on #486
There's a PR open for #447.

I haven't been able to test it yet, but if it works without issue, please let me know.

[2018-07-26 21:46] danawoodman commented on #483
I'm still confused... In those docs, it says to do:

[code]

Wouldn't you want to do this instead:

[code]

Also, should I follow that guide if I plan on using v1 or is that going to change once v1 is out? Is anyone using v1 beta and select successfully together?

[2018-07-26 22:05] guilhermecomum commented on #487
`const { dispatch, getState } = init()`
Will create  a new store, right?!
I'll get a "useless" store only for use dispatch or I'm wrong?
It's not a problem, but seem bit weird

[2018-07-26 23:01] d3dc commented on #487
@guilhermecomum the object returned from `init()` contains those properties. You should not call `init()` again.

[2018-07-26 23:10] guilhermecomum commented on #487
Thanks!

[2018-07-26 23:10] #487 closed

[2018-07-26 23:11] d3dc commented on #483
@danawoodman I'm putting in a bit of a stopgap PR that might let us publish the right version.

IMO, you shouldn't use the plugin before the breaking changes, just you can't currently install that version. I'm sorry this is all pretty confusing.

[2018-07-26 23:33] danawoodman commented on #483
Ok. I'll sit and wait till something official is released. Would be great if that was soon as I'd love to start using more selectors in my app 😄

[2018-07-27 09:00] linonetwo commented on #262
http://www.npmtrends.com/redux-loop-vs-redux-promise-vs-redux-saga-vs-redux-thunk-vs-@rematch/core-vs-redux-observable

![redux-loop-vs-redux-promise-vs-redux-saga-vs-redux-thunk-vs-@rematch/core-vs-redux-observable](https://user-images.githubusercontent.com/3746270/43311889-5109e620-91be-11e8-9bb8-6beab80ce5a3.png)
Redux-saga is still very popular.

It can do such thing that rematch can't: loop,

[2018-07-27 09:56] linonetwo commented on #345
I think this solution is enough, just one line of config. But it needs to be mentioned in loading plugin's documentation.

[2018-07-28 09:37] linonetwo commented on #345
Even use [immutable-js-example](https://github.com/rematch/rematch/blob/master/plugins/loading/README.md#immutable-js-example) is impossible:

https://stackblitz.com/edit/react-ussyfk?file=store.js

[2018-07-28 09:53] linonetwo opened #489 "immer plugin should have 'blacklist' config to support cooperation with loading plugin"
There is  a 'blacklist' config field in loading plugin https://github.com/rematch/rematch/blob/master/plugins/loading/src/index.ts#L5

But immer plugin don't have one https://github.com/rematch/rematch/blob/master/plugins/immer/src/index.ts#L25

To support https://github.com/rematch/rematch/issues/345, there should be a 'blacklist' config field in immer plugin.

[2018-07-28 10:00] linonetwo commented on #489
How about wrap https://github.com/rematch/rematch/blob/master/plugins/immer/src/index.ts#L10 with
[code]
?

[2018-07-28 15:19] linonetwo commented on #345
@jackwilsdon  Yeah, loading plugin is using copyReducer:
https://github.com/rematch/rematch/blob/faf9db021b843866620da7a8dff4028124f03e68/plugins/loading/src/index.ts#L24-L38
And immer plugin produce it:
https://github.com/rematch/rematch/blob/faf9db021b843866620da7a8dff4028124f03e68/plugins/immer/src/index.ts#L10-L18
The only difference is `cntState`, which is outside of `produce`, but it don't s

[2018-07-28 18:56] ShMcK commented on #262
If anyone is interested in setting up a saga plugin, this should help. I wrote something very similar last year (https://github.com/ShMcK/mirror-saga/tree/master/src)

[2018-07-29 08:44] linonetwo commented on #345
![wx20180729-164336](https://user-images.githubusercontent.com/3746270/43364539-9727cd2a-934e-11e8-875b-2d80fdcde103.png)

Result returned from loading plugin is correct. It must be immer plugin's fault.

[2018-07-29 08:56] linonetwo commented on #345
Why rematch-loading.umd.js has multiple lines, but rematch-immer.umd.js only has one line?
I can't set breakpoints on rematch-immer.umd.js.

[2018-07-29 09:12] linonetwo commented on #345
Wait, are we missing a 'return' here?
https://github.com/rematch/rematch/blob/faf9db021b843866620da7a8dff4028124f03e68/plugins/immer/src/index.ts#L13

According to
https://github.com/mweststrate/immer#returning-data-from-producers
If we want to produce an entirely new state likes:
https://github.com/rematch/rematch/blob/faf9db021b843866620da7a8dff4028124f03e68/plugins/loading/src/index.ts#L24-L38

[2018-07-29 09:15] linonetwo commented on #345
Aha, adding a 'return' actually solve the problem. It works properly now.

![wx20180729-171444](https://user-images.githubusercontent.com/3746270/43364761-fac7fcfc-9352-11e8-9018-0a80d0f8a606.png)

[2018-07-31 05:25] #489 closed

[2018-07-31 08:55] kebot opened #492 "release @rematch/select@2.0.0(alpha/beta)"
Can you release @rematch/select@2 and then people can try out, 2.0 is a big rewrite.

[2018-07-31 10:49] linonetwo commented on #345
I think this issue can be closed now.
https://stackblitz.com/edit/react-ksr6xw?file=store.js
Try @rematch/immer@1.1.0.

[2018-07-31 16:45] RamdanK opened #493 "How to use Rematch Update & Rematch Loading"
Hi, i need some help and advice about plugin update & loading and have a few questions.
1. Is `@rematch/update` need to be persist?
I tried to persist the `updated` plugin, but it doesn't update the timestamp when `effects` was triggered.
But when I did not persist the `updated` plugin, state.updated.effects on all models is working, but then the `loading` plugin is undefined for all effects model

[2018-07-31 20:52] d3dc commented on #493
Just gonna leave this here.

[code]

[code]

[2018-08-01 04:39] ShMcK commented on #492
@rematch/select@2 should be released now.

Thank you for your patience :)

There were some issues with Typescript typings relating to shared typings between core and a plugin. The TS complier isn't always as forgiving as JS :)

[2018-08-01 04:39] #492 closed

[2018-08-01 04:43] ShMcK commented on #493
Having created the update plugin originally, I'm not entirely sure the motivation behind the update plugin was sound. I no longer use it and would not recommend its use at this time.

Updated comes with a performance cost from triggering additional re-renders. Ideally it should listen to actions from other models and update. Low hanging fruit as @d3dc mentioned :)

[2018-08-01 05:28] d3dc commented on #386
@eric-burel `select@2.0.0` is pretty different. Any changes?

Your selector gets called when your component renders. If you are doing `rematch.init()` before `react.render()`, you should be safe. Do you have asynchronous state?

[2018-08-01 05:32] d3dc commented on #309
I'm closing this since a lots changed with `selectors`. There's a breaking API change and new docs. Let me know if I upset the balance of the force.

[2018-08-01 05:32] #309 closed

[2018-08-01 05:37] d3dc commented on #400
Whelp, I probably broke it.

[2018-08-01 05:37] #400 closed

[2018-08-01 06:25] RamdanK commented on #493
Sorry for late response..
@d3dc , thanks for the explanation.. just like @ShMcK said, for now I'll use one of the plugin, because if I use `updated` plugin without `loading` plugin, it works normally even if i persist it.
so I decided to use `update` plugin only, because i need it for now even it will cost the performance.
Once again thanks for the responses..

[2018-08-01 06:28] d3dc commented on #493
@RamdanK I'm academically curious how you're using `updated`. :)

[2018-08-01 23:50] gastonmorixe opened #494 "Persist: After purge it stops persisting."
After purging there is no more calls to persistence. I call purge when user logs-out, but if they re-login Persist does not working anymore. I need to crash the app or refresh the website to start persisting again.

This is happening on React Native as well as in web. May this be a problem of redux-persist?

Will post there if so and try to dig more why this is happening.

[2018-08-02 01:12] #478 closed

[2018-08-02 06:12] RamdanK commented on #493
@d3dc, I use it as parameter wether to fetch data or not from server between exact time.
If you have any suggestion, I'll gladly research and learn it..

[2018-08-04 15:28] misoguy opened #495 "Immer plugin typescript typings causes build to fail"
It seems that the declaration file made for immer plugin is made with wrong relative path

[code]
It should be fixed if the declaration file made returns something like this

[code]

[2018-08-06 06:35] eric-burel commented on #386
Hi, I did not test with the newer version as I don't maintain the related app. You can close if this should be fixed un 2.0.

[2018-08-09 01:18] mballoni opened #496 "destroy/dispose store api"
Contrary to the init function would it be apropriate to have a destroy/dispose method?

 I'm facing a problem using MochaJS watch tests because for every file change another store is created and the dispatch ends up executing as many times as there are stores created.
 With a destroy/dispose method it could be executed every "after" test suite avoiding this behavior.

 Thank you!

[2018-08-09 11:16] mballoni commented on #496
I was thinking about two possibilities:

[code]

I didn't know about this test scope, do you have any hint? I searched through the API but couldn't locate any reference:
https://github.com/rematch/rematch/blob/master/docs/api.md

[2018-08-09 14:29] ShMcK commented on #496
if a variable is declared within a function, upon that function's completion it should be set for automatic garbage collection.

[code]

meaning if you put it inside of your test block, it should be collected.

[code]

[2018-08-09 17:35] d3dc commented on #496
@mballoni What version of @rematch/core are you using? It sounds like you may be having a problem with global dispatch. If so, that functionality has been removed.

My general intuition is the same as @ShMcK last comment, but I'll often flush out issues with `import` and `require` in `jest` using:
[code]

[2018-08-10 04:40] d3dc commented on #496
@mballoni At some point the `@rematch/core` module contained a cache with all the stores. `resetModules()` is a way to dump them.

It was removed because the strategies for dispatch etc. varied a lot per application that needed multiple stores, e.g. SSR might even have stores in two domains, and handling those cases is not a redux issue.

It seems strange there wasn't already a `dispose`, and perh

[2018-08-10 05:11] stefensuhat opened #497 "rematch/select how to consume select function"
Hi, thanks for this amazing package.

Rematch version: @next

currently I tried to migrating all my redux to rematch but stuck on your reselect.

on your example you put

[code]

When I tried to put "select" function and import it, it will says "cycle dependecies" and it will error when render.

and on my current connect is:

[code]

thank you in advanced. already stuck hours to solve this.

[2018-08-10 06:13] stefensuhat commented on #497
Found the solution.

Need to restructure how I import my file.

I use `import { models as order } from '../order';`

after change it to

`import order from '../order/models`

it works well.

[2018-08-10 06:13] #497 closed

[2018-08-10 08:56] AtrisMio opened #498 "[TypeScript] [Example request] the new version of Selector is broken in example"
the new version(2.0.0) of Selector is broken in example ts/count.
getSelect is undefined.

[2018-08-10 09:53] parecementeria commented on #495
Same issue with persist and loading plugins.

[2018-08-10 16:39] d3dc commented on #498
I guess that's on me. I'll take a look.

[2018-08-10 16:43] d3dc commented on #495
These plugins used tsc's generated declarations. I looked at this when I started on my typings. Not being an expert, I'm not sure how to configure resolution here.

You can however just `import { Action } from '@rematch/core'` if you write it by hand.

[2018-08-11 00:24] d3dc commented on #482
@saginadir My two-cents on this are just use an action like @ShMcK mentioned. Consider an action `loadEntities` where the payload is a collection of models keyed by reducer name.

If you have to batch dispatches just to load data, I think you're not using redux right. One of the biggest advantages is that multiple reducers can undergo state changes from one action.

[2018-08-11 17:11] ShMcK commented on #495
I've had similar issues with VS Code auto-changing imports on save. Recently turned this off.

I'll check to see if this might be the issue.

[2018-08-13 03:26] athrunsun commented on #397
@ShMcK @19majkel94
Is the type restrictions of effects really effective when creating model? I declared my model like this:

[code]

TS (I'm using 2.9.2) doesn't give me any error, while, when I run my code, the value of `pageSize` is actually root state of my app.

Also, do effects always have to return void to match the type restrictions?

From what I tried, I can return anythinng in effects and

[2018-08-13 08:49] 19majkel94 commented on #397
Because `rootState` is typed to `any` in types definition, so TS accepts `number` as a second argument.

[2018-08-14 02:29] ShMcK commented on #397
Currently, effects are always void as they're redux middleware under the hood, and middleware is not designed to return a value. This is not to say that effects shouldn't or can't return a value. I've seen enough use cases (including one today at work) to make me think it would be a good idea to have effects return a value. PRs welcome :)

[2018-08-14 06:56] athrunsun commented on #397
@19majkel94 @ShMcK
Thanks for your replies! I'm just started to learn TS, and I think I'll have to figure out how declaration files work before I can provide any effective contribution. Thanks!

[2018-08-14 06:57] 19majkel94 commented on #397
But this is exactly how it works now 😆 At least with `1.0.0-beta.4`:
[code]

[2018-08-15 17:57] DalderupMaurice commented on #257
Did you get the `LOCATION_CHANGE` from the connected-router package? I can't seem to find the value

[2018-08-17 01:21] danawoodman opened #502 "[Question] Introspecting action type in a middleware?"
I'm curious if there is a better way to check the action type from a middleware for a rematch action then I am doing below?

[code]

Would there be a way to not use a string in this case?

Thanks!

PS I looked everywhere for recommendations for this including issues but couldn't find anything, hence the issue 👍

[2018-08-17 02:08] d3dc commented on #502
Like an action type constant? Just use strings.

I'm pretty sure that Rematch doesn't bother with these, since they are just boilerplate. Rematch takes over and handles namespace collision as well as enforcing how action types are formatted in a deterministic fashion.

[2018-08-17 02:34] d3dc commented on #502
I think @ShMcK probably would know more about design decisions.

You could create a plugin that puts a simple function on store, some:
[code]

[2018-08-17 12:37] eightyfive commented on #4
Hi, am also interested in knowing what is the best practice for this. Seems like it belongs in a middleware but how do I access the "rematch reducers" inside the middleware?

Looking at that code:
https://github.com/fantua/redux-async-catch

One could imagine a similar app-specific version with rematch:
[code]

I get `Uncaught (in promise) TypeError: Cannot read property 'setErrors' of undefined`

[2018-08-17 17:50] d3dc commented on #4
@eightyfive Did you create a model named "ajax"?

I went down a similar road and found it more helpful in a larger application to know what effects could fail and how. Uncaught errors were instead just handled in one place for the entire app (Error boundary) and not separate for redux.

[2018-08-17 22:28] danawoodman opened #503 "[QUESTION] Best practice for return of an effect"
Is there a "best practice" for working with effect return values in Rematch?

E.g., Is it reasonable to actually `await` a value in your React component to do something when it resolves?

For example, in your component you have a `create` method that creates something via an API, is it reasonable to do the following or is it discouraged?

[code]

Of course you could also be setting this data in yo

[2018-08-17 22:38] d3dc commented on #503
I think this pattern is a "best practice" ;)

It let's you asynchronously call effects and know their status. IMO, state is state, even if it's not redux. As long as you are describing a state change when an effect completes, you're just describing a local effect.

It would be bad to use it to avoid `connect`ing data, as the return value will get out of sync with the store. Don't use it if you sel

[2018-08-18 02:06] ShMcK commented on #502
In this case, you could use an effect to capture the action on an `auth` model.

[code]

But I may be unclear about the question. If the goal is to check for any invalid action types, you could set up middleware for development only, maybe a plugin, that `console.warn`s if an action type is invalid?

[2018-08-18 02:16] ShMcK commented on #4
I've been down this road. The hard thing about putting error handling into middleware is that middleware is largely out of your control - you hand it all over to Redux middleware which is not designed to return a value.

There's always a balance between "code that replaces boilerplate" and "code that's easy to change" - convenience vs. flexibility. With error handling, I want a convenient catch al

[2018-08-18 07:31] eightyfive commented on #4
Ok thanks. I tend to agree that explicit try catch blocks in effects is the way to go, although I can't help myself but think that some nice _one_ place in my code handling all generic _server_ error responses would be a great addition to my app(s).

I will investigate the plugin road, thanks to both of you!

[2018-08-19 00:22] felpin opened #504 "It is not possible to update documentation on Gitbook"
Well... I tried to update some documentation, but it was asked to login first.
Since I did not had an account, I had to create one, but I had to create in the new gitbook (somehow rematch is using the legacy version)

So I created an account in the new gitbook, but to update documentation on the legacy gitbook the user must have an account on its legacy version...

So... Is it possible to use the

[2018-08-19 18:49] ShMcK commented on #504
I'll have to look into that. Currently, I just use Gitbook for displaying markdown from the git repo. Feel free to submit changes to any .md files in the repo. You can also do this directly from Github by clicking the edit icon.

[2018-08-20 03:40] danawoodman commented on #503
Thanks both of you. I was leaning in that direction as well but didn't know if I was missing some unforeseen downside of that approach. Cheers! 🍻

[2018-08-20 03:40] #503 closed

[2018-08-21 02:18] danawoodman opened #505 "[QUESTION] Proper use of new select plugin?"
I'm quite lost with the proper usage of the new select plugin. I've got a selector working in my model and my test suite has verified it is doing what it is supposed to do. However, I'm getting lost with connecting it to a component. Here is my selector:

[code]

The documentation has only this as an example:

[code]

Which doesn't make things super clear from what I can tell

- How do I pass in d

[2018-08-21 02:34] d3dc commented on #505
It might be in the wording...

`select` creates a structured selector.

A "selector" is the same type everywhere: `state => any`

You can pass this to `connect` as `mapStateToProps`.

That is, `({ [key: string]: state => any }: M) => state => { [key: string in keyOf M]: any }`.

[2018-08-21 08:51] saginadir commented on #482
@d3dc

That debate has been discussed long before this thread, in theory your suggestion will work but as you pointed out it requires me:

1) create a file to store the functions that will load the entities to the correct location
2) change them in each reducer (because I still need to load entities separately sometimes)
3) Create a specific function in root reducer that receives multiple types of

[2018-08-21 09:11] d3dc commented on #482
@saginadir I'm not sure we're on the same page. If you follow the logic of redux, you don't have to any of those things, and you're actually following the logic of redux...

[code]

[2018-08-21 16:15] #504 closed

[2018-08-21 19:59] danawoodman commented on #505
@d3dc thanks for trying to help clarify things. It still is a bit clear as mud to me right now for some reason. Any chance you can post an example that includes a usage of a selector in combination with regular access of a store's state?

[2018-08-21 20:09] danawoodman commented on #505
Ok, so I've gotten something working I believe, but I'm not sure if this is the proper, idiomatic use?

[code]

[2018-08-21 20:35] d3dc commented on #505
@danawoodman Thats pretty much spot on.

I'm a bit of purist and prefer not to mix raw state mapping with select.

The only bit of magic glue added to `select` is that its lazy. (I'll need to document that) You can create a static selector in your component's file then:

[code]

I'm probably not the only one that thinks this pattern is rife for a convenience function.

[2018-08-21 20:58] danawoodman commented on #505
@d3dc cool, I'm glad I stumbled upon it! Maybe adding that to the docs would help others?

Regarding "prefer not to mix raw state mapping with select", what do you mean? Make a component only use selections of state? Could you provide an example of your alternative approach? I'm curious to see it!

[2018-08-21 21:04] danawoodman commented on #505
Added my example in a PR #506

[2018-08-21 21:30] d3dc commented on #505
I added some comments. I have a lot of editorializing to do later too.

My code example was meant to illustrate everything I was talking about. Most important is that select is called once. But also there is no mapStateToProps arrow function.

[2018-08-22 15:41] mnaughto commented on #454
This bug was fixed by https://github.com/rematch/rematch/commit/1e634e88602535b2d5fb688bd51ed55cfbf7ed2a. It should be in release 1.1.0 of `@rematch/immer`

[2018-08-23 08:07] DrakeXiang opened #507 "[Question]When will the stable be released?"
I noticed there are frequent alpha and beta releases during May and June this year, but suddenly stopped new release for almost two months now, is everything alright?

[2018-08-24 15:48] ShMcK commented on #507
In my case, I would say this is largely due to a few factors:
- working on different projects at work where Redux isn't the main form of state management
- a growing interest in using [state charts](https://statecharts.github.io) for state management

I delayed a 1.0.0 release due to:
- TypeScript typings (largely resolved)
- Select Plugin (largely resolved)

[2018-08-25 03:43] athrunsun opened #508 "[@rematch/loading] Latest type definitions from yarn with version 1.1.0 does not match source code with latest tag 1.0.0-beta5"
[Latest type definitions from yarn with version 1.1.0](https://cdn.jsdelivr.net/npm/@rematch/loading@1.1.0/index.d.ts)

[code]

This line will cause an TS error:
[code]

---

[Source code with latest tag 1.0.0-beta5](https://github.com/rematch/rematch/blob/1.0.0-beta.5/plugins/loading/index.d.ts)

[code]

So this is actually already fixed in tag 1.0.0-beta5, why is it not on yarnpgk.com? Which tag

[2018-08-25 04:14] d3dc commented on #505
How's this for a confusing `componentWillUpdate`
[code]

[2018-08-29 21:10] Squeegy opened #509 "[QUESTION] How to use redux-undo with rematch?"
I'm having a doozy of a time trying to get rematch to play nice with [redux-undo](https://github.com/omnidan/redux-undo)

It seems to want you do `undoable(reducer)`, but it expects the reducer to be in redux standard format:

[code]

Where rematch uses this:

[code]

Is it possible to make this work? Is there a rematch specific undo package people are using?

[2018-08-29 21:50] Squeegy commented on #509
That was a good hint!  So I think I'm on the right track with something like this?

[code]

[2018-08-29 23:41] Squeegy commented on #509
Yep that was exactly what I needed. Thanks for telling me to look there!

[2018-08-29 23:41] #509 closed

[2018-08-31 06:13] koss-lebedev opened #510 "What is chained dispatch?"
In the [Inspiration document](https://github.com/rematch/rematch/blob/master/docs/inspiration.md) I saw a mention of "chained dispatch", but couldn't find any examples with it. Could you please explain how to use it, or maybe you have a code snippet that helps to understand what it is? Thanks!

[2018-08-31 08:00] lee1hang opened #511 "support IE8 with es5shim"
Hi!

I found that this wonderful library can support IE8 with some modifications and es5shim。

just take a look at [some modifications](https://github.com/lee1hang/rematch/blob/master/rollup.config.js)

[A React16-compat mini library](https://rubylouvre.github.io/anu/index.html) was integrated this library。

There is still a lot of people use IE8 in China!! So, can you make a "offical suppurt"?

B

[2018-09-01 05:30] ShMcK commented on #511
别担心 我的普通话不好

I definitely understand the regrettable need for IE 8 support.

A few questions first:
- Is it possible for a user to support IE8 without requiring other users to add the same shim?
- What is the size difference of the output library with the shim?

[2018-09-01 05:33] ShMcK commented on #510
Each dispatch is a promise, so you can use it as a thenable.

[code]

Note that there currently is no return value, and it resolves after the dispatch is complete.

[2018-09-01 09:26] lee1hang commented on #511
Let me make more modifications in this coming week.

Maybe we can make a output bundle names "RematchIE", and tell the user what shim/polyfill the have to require if they want to work in IE8. Like [ReactIE](https://github.com/RubyLouvre/anu/blob/master/dist/ReactIE.js)

I think it would be better to let the user require the shim manually because when they work in IE8 they always need so many shim.

[2018-09-01 15:11] ShMcK commented on #511
Sounds good 🙂, happy to publish a `@rematch/coreIE`.

[2018-09-02 19:37] Andreyco opened #512 "Access params for running effects"
In some situations one effect might be running multiple times in parallel, e.g. “Like” on multiple entities.

It would be great to access params passed to effect in order to determine on which entities effect runs on in order to disable certain UI elements, eg one not all like buttons in feed.

It could be plain map with generated ids for every run or something similar.
Currently I solve this be k

[2018-09-03 08:42] jackwilsdon commented on #512
That kind of sounds like something you should be storing in state to me - as otherwise your UI is no longer dependant on the application state!

[2018-09-03 13:10] #510 closed

[2018-09-04 15:17] metala opened #513 "[QUESTION] About having only rootState in effects and not having simple/pure methods for the models"
Hey, I have a couple of question about the reducers and effects.

1. Why effects have access to the rootState, but not to model state. When the model has single instance you can hardcode the name of the instance and get it from the rootState, but when I don't know the name it's a bit tricky.

2. I was considering making the rematch model, a fat model. I figured that I would like to have non-destru

[2018-09-04 17:46] d3dc commented on #513
@metala [Have you taken a look at selectors before?](https://rematch.gitbooks.io/rematch/plugins/select/)

[2018-09-05 02:52] ShMcK commented on #512
I don't fully understand the issue, so I may be far off.

But it also seems to me that it may be easier and give you more control if you handle actions within component state.

[2018-09-05 02:56] ShMcK commented on #513
Good questions.

1. The `modelState` can always be accessed by `rootState[modelName]`. You mentioned you may not know the name, why might that be?

2. see above on the selectors plugin :) In my own code, I often write my own selectors just as pure functions with a similar result.

[2018-09-05 13:35] jackwilsdon commented on #512
@ShMcK it sounds like @Andreyco is asking for a way of checking which effects are currently running, as well as a way of getting the arguments passed to the running effects (at least that's how I interpreted it).

[2018-09-06 14:26] Izhaki commented on #478
Running into the same issue with:

[code]

models.js:

[code]

index.js:

[code]

[2018-09-06 18:05] metala commented on #513
Thank you very much to you both. I guess I have somehow missed that plugin, even though I believe I have read the docs.

Back on question 1: It's more of a hypothetical and personal preference. I prefer the effects to be self-contained unless they want to access other models. Basically my models do not keep reference to their model name, thus it allows me to create multiple instances of the same m

[2018-09-07 10:37] Izhaki opened #514 "Typescript: (selectors) TS2717: Subsequent property declarations must have the same type."
[code]

I believe it is a collide between [core/typings.d.ts](https://github.com/rematch/rematch/blob/1.0.0-beta.5/src/typings.d.ts#L160) and [select/typings.d.ts](https://github.com/rematch/rematch/blob/master/plugins/select/src/typings.d.ts#L70).

[2018-09-08 06:31] mironal commented on #514
I have same problem.

[2018-09-08 10:07] kkshyu opened #515 "Effect function with multiple arguments and state"
Related to this issue: #267
i need the state and the multiple arguments in effects, and i followed the example from [here](https://github.com/rematch/rematch/blob/master/examples/ts/count/src/App.tsx).

the type cannot match in the multiple arguments, but it works in the single argument.
[code]

here are the codes:
// models.ts
![image](https://user-images.githubusercontent.com/8722165/45252932-bd

[2018-09-11 23:42] #502 closed

[2018-09-14 04:06] dancomanlive opened #516 "Rematch Persist not working with PersistGate (Expo)"
After incrementing the counter and reloading the application the counter is still 0. Am I missing something? Thanks!

App.js

[code]
Counter.js

[code]

models.js

[code]

[2018-09-14 16:32] suazithustra commented on #322
@miickel  how did you get this to work with redux-little-router?

[2018-09-14 22:11] jackwilsdon commented on #516
Shouldn't `<PersistGate persistor={persistor}>` be `<PersistGate persistor={getPersistor()}>`? You don't seem to have a value for `persistor` but you're using it anyway...

[2018-09-15 08:26] dancomanlive commented on #516
@jackwilsdon Yes you are right, I do use it but forgot to paste it in the issue
[code]

[2018-09-15 08:46] dancomanlive commented on #516
I made a quick snack here: https://snack.expo.io/r1ZVIB9dQ. I wouldn't know what `TypeError: undefined is not an object (evaluating 'this.props.persistor.subscribe')` means.

[2018-09-15 13:27] Johncy1997 commented on #145
configureStore.js:
***************************
      import {createStore, applyMiddleware,compose} from 'redux';
      import thunk from 'redux-thunk';
      import {logger} from 'redux-logger'

       import allReducers from '../reducers';

          const middleware = [ thunk,logger
        ];

           const composeEnhancers = window.__REDUX_DEVTOOLS_EXTENSION_COMPOSE__ || compose;

[2018-09-15 19:36] ghalex commented on #376
I have this example were I need to dispatch an action, do you guys have any suggestion how to do this:

`
reducers: {
    'replaceTodos': (state, payload) => {
    },
    'app/switchUser': (state, user, store) => {
      if (unsubscibe) unsubscibe()

      unsubscibe = firestore
        .collection('todos')
        .where('owner', '==', user.uid)
        .orderBy('createdAt')
        .onSnapshot((

[2018-09-15 20:08] ShMcK commented on #516
I've got the demo working: https://snack.expo.io/HkkpSJiO7 (and will add this to the docs)

With several changes:

### Version mismatch

[code]

### Use AsyncStorage

Since local storage is not available in react native, you have to use AsyncStorage.

[code]

### Get Persistor

Loads the store into PersistGate

[code]

---

I also made a few non necessary changes, such as using the regular redux d

[2018-09-15 20:28] ShMcK commented on #514
seems like a typings issue with the select plugin.

Relates to a limitation in typescript: it won't let you inherit typings from another package. Select builds upon the core typings, and can build from the same directory and will run locally, but allow you to inherit typings from another module.

Any thoughts on how to resolve this?

[2018-09-15 20:29] #513 closed

[2018-09-16 01:59] linonetwo commented on #376
@ghalex  Are you in `todo` store? Why not just `this. replaceTodos(todos)`.

[2018-09-16 05:16] d3dc commented on #514
When I committed my changes, I removed the select typings from core's `/src/typings.d.ts`. There hasn't been a core release since then, right?

The only thing I can foresee is a type error when you don't have a plugin installed - which is desirable.

[2018-09-16 07:58] ghalex commented on #376
Hi @linonetwo I am in todo model, but this is null as expected. I think best solution will be if I can do this in effects where I have access to dispatch, it dose'n work there.

[2018-09-16 08:17] ghalex commented on #376
I think I can write the code like this:

[code]
and have access to `this` but still feels like a hack.

[2018-09-16 08:31] linonetwo commented on #376
I think you should move it into `effect` just likes

[code]

Or you can access `store` by:
[code]

And I think you are off-topic, why is this related to `subscriptions plugin`?

[2018-09-16 09:15] d3dc commented on #376
@linonetwo This is related to subscription because it is a side-effect chained to another model's action.

@ghalex question really relates to reacting to an internal store model change, not an external source of flux - which IMO is what routing is; routes should just trigger effects (i.e. a full render loop).

I'll try to edit this post with a code example showing how I interpreted what the state

[2018-09-16 10:28] ghalex commented on #376
It is releated to subscription plugin, because I think we should be able to use the subscription plugin like this:

[code]

and  I think is much more clear to see the listeners in a subscription area then in the reducers.

[2018-09-17 20:52] matt-erhart opened #518 "persist plugin typescript path"
index.d.ts should be
[code]
but is this:
[code]

[2018-09-17 20:55] robertpitt commented on #516
I'm also experiencing a similar issue

#### Versions
[code]

#### Store
[code]

#### Plugin
[code]

#### Application Component

[code]

#### Exception
![screen shot 2018-09-17 at 21 50 00](https://user-images.githubusercontent.com/567579/45649710-08df2c00-bac4-11e8-9d9d-e00191b7410d.png)

[2018-09-17 21:09] robertpitt commented on #516
And I can confirm that the solution was to upgrade my `@rematch/core` to `next`

[2018-09-18 03:26] ShMcK commented on #518
Must be a product of the build process, will fix.

[2018-09-18 11:49] Chersquwn opened #519 "Does rematch have compatibility requirements for browser versions?"
Does rematch have compatibility requirements for browser versions?

I am using react-router v4 and react-loadable to split code. When calling `store.model()` method, in wevbiew version lower than v40(in android 5), it will throw error `undefined is not a function`, but ok in v60.

Demo code:

[code]

[code]

[code]

[code]

If remove methods from reducers, it not throw error, such as ,
[code]

[2018-09-18 22:09] d3dc commented on #376
![https://camo.githubusercontent.com/655fdfe6e77bf59fde4623dc77a0e8962f6effa5/687474703a2f2f692e696d6775722e636f6d2f4e4a574c58487a2e706e67](redux loop)
I've stolen this image from [redux-loop](https://redux-loop.js.org/); The least troublesome way to do redux is with unidirectional flow, and this should illustrate the same basic idea rematch effects follow.

If you aren't comfortable with scheduli

[2018-09-20 09:03] baldrs commented on #208
This is working with rematch 0.5.4.

[2018-09-21 00:23] d3dc commented on #208
@fkrauthan @baldrs @johnston

This is working in the `next` release.

I added a console log to this example: https://codesandbox.io/s/j32j4815k9

I wouldn't start a new project with a pre-1.0 version. In my opinion, everything that has changed is for the better and very little can break, as redux itself is not in beta.

As @ShMcK commented above, the only reason anything before 1.0 shouldn't do th

[2018-09-21 07:40] zsxsoft opened #520 "TypeScript: Synchronous effects' parameters requires Action<any, void>"
Same issue with: https://github.com/rematch/rematch/issues/478

Reproduce:

1. Add a synchronous effect in https://github.com/rematch/rematch/blob/master/examples/ts/count/src/models/dolphins.ts.

[code]

2. Call it:
![image](https://user-images.githubusercontent.com/2398785/45866781-6e793400-bdb4-11e8-9724-02d0ed4e15be.png)

TypeScript returns:
[code]

[2018-09-21 08:04] baldrs commented on #208
@d3dc do I need to do something specific to upgrade from 0.5.4 to 1.0.0-beta5 except upgrading package.json?

[2018-09-26 12:49] bagr001 opened #522 "TypeScript: boolean parameters requires Action<boolean, void>"
Hi, I found an inssue with typescript and boolean action parameters. It occurs both in reducers and effects. Interesting is that the issue is only with boolean types because with other types (such as strings, etc...) it works nice. I went thru the rematch typings but I have no clue what the problem might be :-/ Any idea? Thanks.

![image](https://user-images.githubusercontent.com/5631971/46080505-

[2018-09-28 09:02] nWidart opened #523 "TypeScript: Loading plugin not working"
Hello,

Back at it, trying to use rematch with typescript 😄 .

I'm trying to use the Loading plugin, however, I'm getting this error:

[code]

Any ideas what could be done?

Thanks

[2018-09-28 09:27] nWidart opened #524 "TypeScript: Select plugin issue"
Hello,

In a typescript project, I'm trying to use the select plugin, with the re-select api.

In the Typescript example, there's this: https://github.com/rematch/rematch/blob/master/examples/ts/count/src/models/sharks.ts#L20
[code]

However, if I use the same structure I'm getting the following error:

[code]

It looks like the module overwrite, https://github.com/rematch/rematch/blob/master/plug

[2018-09-28 11:30] nWidart opened #525 "Effects: Testing http axios calls"
Hello,

I have an effect, where I'm making an http call.

However, I'm unable to test this. In regular redux I would use the `moxios` library:

[code]

However, this does not work with effects apparently. I'm getting the error saying the promise was not resolved.

[code]

Here's my effect code:

[code]

Thanks!

[2018-09-28 11:48] nWidart commented on #525
Turns out the solution was the following:

[code]

[2018-09-28 12:06] #525 closed

[2018-09-28 14:45] jackwilsdon commented on #508
The `1.0.0-beta5` tag you're looking at is actually `@rematch/core` from my understanding - the plugins are versioned separately. Looking at the commit history for `@rematch/loading`, it seems like the problem was fixed in #455, but a new version has not yet been released.

I'm not sure if we need a better way of tagging things, as it does become confusing when the project tags don't line up with

[2018-09-28 17:34] d3dc commented on #524
This is just `core` typings taking precedence. My attempt to fix it is in master. I'm pretty sure we're just waiting on the next release ( fixing all the other typescript :) )

[2018-09-29 01:03] athrunsun commented on #508
@jackwilsdon @ShMcK Is it an option to move plugins into separate repos? Or keeping all plugins in the same repo as `@rematch/core` is intentional from the beginning?

[2018-09-29 01:04] jackwilsdon commented on #508
I like the idea of splitting them out into their own repositories, especially seeing as we have control over the @rematch team, but in the end this is up to @ShMcK and @blairbodnar.

[2018-09-29 19:50] derrickbeining opened #526 "typescript: how to get `dispatch.model.effect` to show correct type signatures"
I've been struggling for a while trying to figure out how to set up `rematch` for my Typescript/React project. I followed the [TypeScript recipe in the docs](https://rematch.gitbooks.io/rematch/docs/recipes/typescript.html) and looked through [examples/ts/count](https://github.com/rematch/rematch/tree/master/examples/ts/count) (which isn't compiling because of `selectors` on the `shark` model).

I

[2018-09-29 20:01] derrickbeining commented on #526
looks like this is the same as #478 and #520

[2018-09-29 20:02] derrickbeining commented on #526
closing since duplicate

[2018-09-29 21:49] ShMcK commented on #508
I'm not sure that splitting plugins into their own repos will solve the problem. I would, however, encourage people to fork or develop and release their own plugins. We can link to these plugins in the docs.

If I've learned anything in open source, its that an "official" solution doesn't necessarily mean it fits your use case or style of programming.

The underlying issue seems to be related to t

[2018-09-29 23:10] matt-erhart opened #527 "Typescript Tips for the docs in next release"
I recently tried mobx and mobx-state-tree and ran into some counter intuitive stuff and one show stopper (MST takes 30-60s to compile in TS). Found rematch and it has been very good experience. I know ya'll are working on a few TS issues already, but I wanted to point out a good way to pass types into your react components (from #526 ).

after you've got your store:
[code]

[code]

Now you've got

[2018-09-30 02:53] ShMcK commented on #527
Thanks for the very clear example of setting up store typings.

Rematch typings continue to be a problem, I don't think I'm the right person to tackle the issue.

[2018-09-30 02:58] ShMcK commented on #524
Typings seem to work in the current release, with the exception of select plugin typings.

Inside of the select plugin, it attempts to modify the core module typings by extending the Model with a `selectors` key.

[code]

TypeScript does not seem to register type extensions if they are located in a different module.

Any suggestions on how we might proceed?

[2018-09-30 03:03] ShMcK commented on #507
I've put out v1.0.

There remain some issues with plugin related typings, but can be resolved later.

[2018-09-30 03:03] #507 closed

[2018-09-30 03:03] #457 closed

[2018-09-30 03:04] #469 closed

[2018-09-30 03:30] derrickbeining commented on #527
@matt-erhart , are you not encountering issues described in #478, #520, and #526 ?

[2018-09-30 03:35] derrickbeining commented on #478
I'm having the same problem.

[code]

I've been trying to decipher the [typings.d.ts](https://github.com/rematch/rematch/blob/master/src/typings.d.ts), but I'm pretty new to TypeScript, so I'm not entirely sure if I'm on the right track.

The type signature for `effects` ultimately gets its type from the generic type `RematchDispatcherAsync` ([typings.d.ts L75-80](https://github.com/rematch/rematc

[2018-09-30 03:49] derrickbeining commented on #478
I managed to get rid of the type error I was getting (see #526) AND get the correct function signature for `distpatch.model.effectName` by changing `types.d.ts` so that `ExtractRematchDispatchersFromEffectsObject<effects>` didn't use `ExtractRematchDispatcherAsyncFromEffect<E>` and `RematchDispatcherAsync<P, M>` and instead just used the lookup type.

I.e. went from this:

[code]

to this:

[code]

[2018-09-30 03:54] derrickbeining commented on #526
Reopened because #478 is closed.

[2018-09-30 03:55] derrickbeining commented on #526
See my comments [here](https://github.com/rematch/rematch/issues/478#issuecomment-425691702) and my possible solution [here](https://github.com/rematch/rematch/issues/478#issuecomment-425692278)

[2018-09-30 09:51] kkshyu commented on #515
@ShMcK i just solved this and sent the PR, plz review it can give some feedbacks. thx!

[2018-09-30 10:15] kkshyu commented on #478
did you return any value in `effects`? if so, your type will be wrong because it only handles `void` as return type now.
i have fixed this issue in #529
i think it is better for slightly changing

[2018-09-30 16:46] matt-erhart commented on #527
I did reproduce that, but I don't use dispatch that way yet. I think I added async to an effect and TS was fine.  Iirc, I was doing a non-async effect just to pass something from rootstate into a reducer. Are effects the best way to get at rootstate?

I also had the problems with the persist and select plugin and had to use my own local version of the plugins.

[2018-09-30 17:56] #527 closed

[2018-09-30 17:57] ShMcK commented on #526
I believe the issue should be resolved in @rematch/core@1.0.2. Thanks @kkshyu

[2018-09-30 17:57] #526 closed

[2018-09-30 17:58] ShMcK commented on #520
Issue should be resolved with @rematch/core@1.0.2. Thanks @kkshyu

[2018-09-30 17:58] #520 closed

[2018-09-30 17:58] ShMcK commented on #515
Issue should be resolved with @rematch/core@1.0.2. Thanks @kkshyu

[2018-09-30 17:58] #515 closed

[2018-09-30 20:14] #440 closed

[2018-10-01 00:49] d3dc commented on #524
@ShMcK

Doesn't this imply the compiler found the extension?

[2018-10-01 01:07] ShMcK commented on #524
True, the compiler seems to find the type extension. but still creates conflicting typings when using `selectors`.

Unfortunately, I'm not sure what causes the problem, even after reading the TS docs under [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html).

Any ideas?

[2018-10-01 01:33] d3dc commented on #524
I'm working on an example: https://codesandbox.io/s/l7ok4x13wq

I think it all gets found, just some things don't infer type (I'm pretty sure I attempted type information for slice, but its always `any`)...

[2018-10-01 01:55] jaywcjlove commented on #237
https://github.com/jaywcjlove/react-dynamic-loadable

lazy loading more model

[code]

[2018-10-01 06:14] grsmvg commented on #395
Bumping this, since this is a valid bug that shouldn't be lost in between the closed issues. I haven't tested if the stable release also has this bug, but I assume so, since there hasn't been any activity here.

[2018-10-01 18:06] haysclark opened #533 "[RFC]Let's Document: How to normalize data using Rematch?"
I was curious if there is an example of normalizing data with Rematch?

There was a pretty good discussion on this subject in #337; however, I was hoping a more general topic title would get more feedback and ideally examples.  I would love to see a Rematch example similar to the user/articles/comments example in [normalizr's readme](https://github.com/paularmstrong/normalizr).

[2018-10-02 02:27] ShMcK commented on #533
The Redux docs provide some best practices: [Normalizing State Shape](https://redux.js.org/recipes/structuringreducers/normalizingstateshape) & [Updating Normalized Data](https://redux.js.org/recipes/structuringreducers/updatingnormalizeddata).

[2018-10-02 02:36] d3dc commented on #533
I tote this example around a lot: https://codesandbox.io/s/ql6m574l84

This uses normalizr and reselect (@rematch/select) to closely follow the links @ShMck posted.

Instead of relying on multiple reducers to store each type of entity, a single reducer handles the abstraction by passing Normalizr schemas.

This was just a demo of complex selectors; I know delete has several ways it could be handle

[2018-10-02 08:51] bagr001 commented on #522
@ShMcK Maybe it is a TS bug, but I probably found fix for this. Just add exact typing for this case and it seem to work.

[code]
[code]

[code]

[2018-10-02 12:10] cbovis opened #534 "NODE_ENV related warning when used in minified bundle"
I'm noticing an odd issue with Rematch in production whereby I get a console log entry with the following message:

This message comes from Redux and I believe is something to do with how Rematch is bundling Redux alongside it. Redux includes the following code:

[code]

Rematch appears to be bundling in development mode which removes `process.env.NODE_ENV !== 'production' &&` from the resulting b

[2018-10-02 14:04] ShMcK commented on #522
Does this typings issue persist with @rematch/core v1.0.2 ?
If so, happy to merge your fix in as a PR.

[2018-10-02 22:56] bosung90 commented on #534
Happening to me as well when I use create-react-app v2 and deployed to netlify

[2018-10-02 23:04] jackwilsdon commented on #534
Just speculating here but it looks like we no longer provide an `esm` production version of `@rematch/core`, just a development one;

https://github.com/rematch/rematch/blob/0b0340057b9543d3c1635d4cd3c834b20d704cd9/rollup.config.js#L18-L25

The issue is that this file is still listed under `module` in our `package.json`;

https://github.com/rematch/rematch/blob/0b0340057b9543d3c1635d4cd3c834b20d70

[2018-10-03 03:19] ShMcK commented on #534
I believe the issue is related to changes in Webpack 4. These might be related to esm or umd modules, or related to Rollup plugins, or may require some Webpack config changes. Not sure.

I was able to reproduce the problem with examples after migrating to create-react-app-2. Thanks @bosung90. @cbovis can you verify that you're also using Webpack 4?

[code]

[2018-10-03 03:52] #534 closed

[2018-10-03 03:57] cbovis commented on #534
@ShMcK I can confirm I'm using webpack4 but I'm not using create-react-app

[2018-10-03 08:39] wmertens commented on #237
@jaywcjlove thanks, yes that is how it can dynamically add models, but the problem is that the reducer is shared between SSR invocations.

[2018-10-03 16:38] ShMcK commented on #534
I'll look into this later today, but will need to set up a demo project for testing. Any recommendations for a minimum webpack boilerplate that would produce this issue?

There may be a problem with how Rollup is resolving Redux in the build process. Will have to look into it more.

[2018-10-03 23:17] cbovis commented on #534
@ShMcK it's not a particularly simple example of a codebase but you should be able to replicate with the following:

[code]

The webpack config used for that example can be found at https://github.com/cbovis/0x-tracker-client/blob/master/config/webpack/production.config.js

[2018-10-05 06:48] iamvijaydev commented on #345
I have another kind of issue with same plugin mix, both ^1.x.x., in **electron env**. I could create a separate issue if that's required.

When using loading and immer plugin together, `loading.effects.<model>.<effect>` value type changes from `boolean` to `number`. This happens after immer is used to create the draft, for e.g `onFetchSuccess` reducer.

Looking at this code, I ponder how could the

[2018-10-06 15:12] magicspon commented on #534
I'm also seeing this.
Using rematch with gatsby
example: https://wearestraightline.com

[2018-10-07 17:39] ShMcK commented on #534
I've made many different failed attempts to resolve this issue by changing the Rollup configuration.

There is a solution that would be a small breaking change: have users install their own peer dependency for Redux >= v4. As an added benefit, As @cbovis mentioned, users that have both Redux & Rematch would not need to manage two potentially different versions.

The breaking change would be pretty

[2018-10-07 20:59] jackwilsdon commented on #534
Is there any reason to have it as a `peerDependency` as opposed to a normal `dependency`? If we just don't include it in the rolled up bundle but keep it as a `dependency` then `npm` and the likes will handle it all for us, no?

[2018-10-07 21:39] ShMcK commented on #534
I've tried the following with Rollup:

- ensure the dist version of Redux is used by specifying "module" false
- link directly to the dist version of Redux
- explicitly include the dependency in the Rollup config
- don't explicitly include the dependency, only use resolvers
- run compilation after resolving modules
- run compilation before resolving modules
- specify NODE_ENV='production' when bui

[2018-10-07 22:04] ShMcK commented on #534
Found a fix. It seems Webpack 1-3 relied on CJS modules, but as of Webpack 4 UMD modules are used.

Now running a production build for UMD. Will publish soon as @rematch/core @1.0.5

[2018-10-07 22:05] ShMcK commented on #522
Will be resolved in @rematch/core @1.0.5

[2018-10-07 22:05] #522 closed

[2018-10-08 09:29] nyrf opened #538 "SyntaxError: unknown: Unexpected token"
{ SyntaxError: unknown: Unexpected token, expected ; (1:12)

[2018-10-08 09:30] RunningCoderLee commented on #518
I forked this repo and run build command in `plugins/persist` is ok

the `index.d.ts` in `dist` is correct as below:

[code]
but `index.d.ts` file in the newest version (1.1.0) is this:

[code]

does this issue have any update？

[2018-10-08 12:36] iamvijaydev commented on #345
@linonetwo Yep somehow an older version of @rematch/loading plugin got installed. I removed both plugins and tried again and everything worked fine. Thank you so much for looking into it.

[2018-10-08 13:56] 19majkel94 commented on #524
Looks like the combination:
[code]
has no problems with declarations merging. You just need to import the `@rematch/select` package somewhere in your project code (e.g. by creating selector plugin).

But there are a few types issues that makes it awful to use with TypeScript, e.g. the `createSelector` has wrong inferred signature when we use it like in rematch docs:
[code]
It gets this error:

Alt

[2018-10-08 15:35] ShMcK commented on #518
I'll clean this up and release @rematch/persist@1.1.1

[2018-10-08 16:02] #345 closed

[2018-10-08 16:08] #518 closed

[2018-10-08 16:11] ShMcK commented on #524
Is this issue resolved as of #540?

Released as @rematch/select@2.0.3

[2018-10-08 16:19] ShMcK commented on #538
Should be resolved in @rematch/core@1.0.6. Drop a message if the problem persists :)

[2018-10-08 16:19] #538 closed

[2018-10-09 00:33] nyrf commented on #538
@ShMcK It works now, thanks.

[2018-10-09 02:50] RunningCoderLee commented on #518
Many thanks your update but it doesn't resolve this issue completely

the `types` field in `package.json` change to `src/typings.d.ts` but the declaration file that uploaded to npm is `src/index.d.ts`

[2018-10-09 02:53] Arelav opened #542 "declare module '@rematch/persist' is missing"
Looks like `declare module '@rematch/persist'` is missing in types definitions.

TS7016: Could not find a declaration file for module '@rematch/persist'. '/......./node_modules/@rematch/persist/dist/rematch-persist.cjs.js' implicitly has an 'any' type.
  Try `npm install @types/rematch__persist` if it exists or add a new declaration (.d.ts) file containing `declare module '@rematch/persist';`
[cod

[2018-10-09 02:54] ShMcK commented on #518
Sorry, I've fixed the path in package.json and re-released.

Let me know if this resolves the issue in @rematch/persist @1.1.2

[2018-10-09 03:59] RunningCoderLee opened #543 "declare module '@rematch/loading' is missing"
The declaration file path in  `files` and `types` are different，like https://github.com/rematch/rematch/issues/518#issuecomment-428042004

[2018-10-09 08:26] 19majkel94 opened #544 "Reselect v4"
A few days ago, Reselect 4.00 had came to live:
https://github.com/reduxjs/reselect/blob/master/CHANGELOG.md#v400---20180930

The changes are rather small but it would be better if one of the plugin author could take a look at them and update this dep to the newest version. I've tried to run the tests locally but there's no test script in package.json nor `npx jest` doesn't work.

[2018-10-09 08:38] d3dc commented on #544
I never thought about it, but this actually strange: you can run all the plugin tests from the repo root.

`npm test select` should run.

[2018-10-09 08:55] RunningCoderLee opened #545 "@rematch/persist expected 3 arguments, but got 1."
If only pass one parameter into `persistPlugin`, TS will report error as below.

[code]

we should change `persistorOptions` and `callback` to optional in the declaration file

[2018-10-09 09:05] 19majkel94 commented on #544
@d3dc 😞
[code]

[2018-10-09 09:14] d3dc commented on #544
Indeed. Testing plugins was broken by #528

[2018-10-09 09:26] yqz0203 opened #547 "[Question] How to use flow with rematch?"
I tried typescript with rematch, code type checking works fine.

But it seems no flow definition for rematch so that I have to write a mass of type declaration. This makes me sad.😢

What can I do?

[2018-10-09 11:07] jackwilsdon commented on #547
You can contribute some flow types! 😁

You could try running https://github.com/joarwilk/flowgen across our existing TypeScript typings and see how that goes :+1:

[2018-10-09 14:34] 19majkel94 commented on #547
Just forget about Flow 😄 It's behind TypeScript in term of features, it has much smaller community support and typings base and it's starting to die as the contributors switched to ReasonML 😝

[2018-10-10 01:19] Arelav commented on #542
I see the import issue was fixed in https://github.com/rematch/rematch/issues/518 but another issue appears.
`TS2345: Argument of type '{ whitelist: string[]; throttle: number; version: number; }' is not assignable to parameter of type 'PersistConfig'.
  Property 'storage' is missing in type '{ whitelist: string[]; throttle: number; version: number; }'.`

[2018-10-10 04:00] #545 closed

[2018-10-10 04:09] ShMcK commented on #542
There typings are taken directly from "redux-persist".

[code]

I added a line inside of the package to handle storage, using an es module that checks if you're using a web app or react-native and selects localStorage or AsyncStorage.

Will put in a fix shortly and re-release.

[2018-10-10 20:04] Arelav commented on #542
Thanks a lot. Everything looks good after upgrade.

[2018-10-12 09:35] ruixiu opened #549 "immer不好用"
用了这个框架，确实很好用，再也不用写字符串的action名称了。

我在使用的时候，定义的state是这样的：
[code]

[2018-10-15 08:36] 19majkel94 opened #551 "Discussion: Passing Typesafe Props to Selectors"
Right now, we have 3 ways to create selectors that take parameters:
- using normal `return (rootState, props) =>`
- using `createSelector` helper
- using `hasProps` helper

The normal selector and `createSelector` produce selector that we normally call like in v1.0 of select plugin: `select.cart.total(rootState, { shipping: 1000 })`.

But the `hasProps` is different, it acts like a factory: `selec

[2018-10-16 04:04] ShMcK commented on #551
@19majkel94 would you be willing to put in a PR?

@d3dc what are your thoughts?

[2018-10-16 05:10] d3dc commented on #551
I'll have to actually dig into this. I did notice in the last PR we now have:

[code]

This makes sense to be propagating the correct state type, I think. But other than return type, is the call signature different between the two types?

[2018-10-16 08:46] 19majkel94 commented on #551
@d3dc
In typings, `hasProps` is `Parameterizer` which returns `SelectorFactory`, which returns `Selector<S, P, R>`. So the signature in types is wrong, I've discovered this when I was preparing new typings for the selectors plugin. I can detect that in typings and make it typesafe but I think the signature should be consistent.

Yeah, it sucks 😄 But let's think, if we have complicated selector, we

[2018-10-18 17:02] #471 closed

[2018-10-20 22:14] ancestorak opened #552 "TypeScript: dispatcher types aren't properly inferred"
Basic example:

[code]

typescript 3.1.3
@rematch/core v1.0.6

Am I missing something?

[2018-10-20 23:57] ancestorak commented on #552
If I remove the `ModelConfig<number>` annotation then dispatchers are inferred correctly.
[code]

It seems that `ModelConfig` signature is problematic in that it erases type information which TS can otherwise infer. Obviously I need this annotation to enforce state shape (by the way, createModel() is equivalent and suffers from the same problem).

I've managed to narrow it down by annotating only

[2018-10-22 14:14] 19majkel94 commented on #551
Fixing the typings is 5 min of work. This issue is about a runtime API, mostly for JS user that doesn't have red compile error.

Consider this two examples:
[code]

So now it's super easy to call the selector in a wrong way:
[code]

And it would be great if we can convert the `models` in structured selector to act as a curried function, so `select.sample.bar(state, props)` would become `models.sam

[2018-10-22 14:19] ShMcK commented on #552
Have you tried using `createModel`?

See an [example](https://github.com/rematch/rematch/blob/master/examples/ts/count/src/models/dolphins.ts).

[2018-10-22 14:32] ancestorak commented on #552
Yes I did.

Passing state type explicitly (i.e. `createModel<ExampleState>()`) in order to enforce state type breaks type inference for dipatchers.

[2018-10-23 03:01] ShMcK commented on #552
I wish I could be more help. I'm neither the author or a consumer of the typings.

Perhaps @brunolemos may offer some greater insight?

[2018-10-23 08:01] Dugnist opened #555 "Error: Actions must be plain objects. Use custom middleware for async actions."
![screenshot from 2018-10-23 10-57-55](https://user-images.githubusercontent.com/6489460/47345271-04092b80-d6b3-11e8-9c5a-fc6712aad615.png)
![screenshot from 2018-10-23 10-59-05](https://user-images.githubusercontent.com/6489460/47345272-04092b80-d6b3-11e8-922d-a1d807176443.png)
![screenshot from 2018-10-23 11-00-01](https://user-images.githubusercontent.com/6489460/47345273-04a1c200-d6b3-11e8-962

[2018-10-23 08:28] d3dc commented on #555
I answered a little hastily before. In Rematch, the dispatch function is augmented with pre-bound dispatchers. Passing an object as the second argument to `connect` will attempt to be bind all of it's members.

You're trying to `bindActionCreators` with functions that do not create actions.

[2018-10-23 08:41] d3dc commented on #552
Have you tried using a type assertion in createModel?
`state: ... as AType`

[2018-10-23 09:12] Dugnist commented on #555
@d3dc so can you help me with it, please? I can't find the right solution to this problem in your documentation. What do I need to do to pass correct effects to the second argument to connect?

[2018-10-23 09:17] Dugnist commented on #555
@d3dc ok I got it)
![image](https://user-images.githubusercontent.com/6489460/47350005-826acb00-d6bd-11e8-8993-671db31acce3.png)

[2018-10-23 09:17] #555 closed

[2018-10-23 12:51] ancestorak commented on #552
I've just tried it, same result.

[2018-10-25 08:17] nyrf opened #556 "how to load initial state asynchronously"
[code]
the code seems not work. any plugin? Thanks.

[2018-10-25 09:09] d3dc commented on #556
What would the app display while loading? 🤔

[2018-10-25 11:51] jackwilsdon commented on #556
I think @d3dc is asking what you expect the state to be whilst it's loading — you're currently storing the returned promise in the state which isn't a good idea.

[2018-10-25 16:31] Frank1e0927 commented on #549
please use english, especially open source libraries other than china, becasue in github chinese is not a common language
请使用英语交流，特别是除了中国之外的开源库，因为中文在github上不是一个通用语言

[2018-10-25 17:48] nyrf commented on #556
Sorry for my weak english.  i want to load shop cart info from database, the api
[code]
in models.js,
[code]
i want to load cart from the api. any way? thanks.

[2018-10-25 18:18] alhimik45 commented on #262
Just made saga plugin for Rematch https://github.com/alhimik45/rematch-saga
Going to use plugin next month and hope it will be useful not only for me

[2018-10-25 20:22] d3dc commented on #556
I'm not too clear on the hold up. Were you not able to find this in the docs? I guess it might be a little in the vein of a stackoverflow question...

**You can do your api request in an effect and call that effect when your application loads.**

This could just be in an `index.js`:
[code]

You could have a coordinating `app` model:
[code]

If your app is modular, you could go with my favorite, a

[2018-10-25 23:47] d3dc commented on #551
I'm worried things like currying would overcomplicate what is going on. Right now, the plugin tries to do what it says on the box:
- create selectors using reselect
- wire dependencies

And its really only that second part that is important. Build a function, it gets exposed. Following the best practices means these work well in `connect`.

Some issues then that jump out:
1. Sometimes selectors ar

[2018-10-25 23:52] d3dc commented on #551
I think this might help inform where the currying idea came from - One topic that I struggle to bring up properly is the composition of payload extractors that naturally occurs with reselect.

To start, I really think its much more obvious to write arrow functions when we want to change the behavior:

[code]

So, when we use `createSelector`, we can provide an extractor function for props that cho

[2018-10-26 00:00] d3dc commented on #551
extractor function - "props" that change every render. probably from react or vue.
`hasProps` - "props" that never change, but used in more than one way.

[2018-10-26 00:14] d3dc commented on #551
The solution I can think of that makes the collection as homogenous as possible would be to maintain two selector collections, one that is higher-order.

This seems like it would just add complexity:
[code]

[2018-10-26 00:41] nyrf commented on #556
@d3dc Sorry, I didn't express clearly, i want to initial state in models.

[code]

[2018-10-26 01:36] d3dc commented on #556
Before your api has responded, what do you expect your app to be displaying?

[2018-10-26 13:39] nyrf commented on #556
Before api has responded, the initial state can be empty, eg, after user login, cart get data from api. I store cart items in localstorage.
[code]
when i get data from api,

[code]
it seems not work.

[2018-10-26 13:54] nyrf commented on #556
Thanks, i try to get data from api in `componentWillMount ` and initial state, it seems work.

cart.js

[code]

models.js

[code]

[2018-10-26 13:54] #556 closed

[2018-10-26 15:49] ShMcK commented on #97
Ah, it seems you're in an environment that is not supporting Async/Await.

You may need to use babel, typescript, or a polyfill. Learn more [from this babel issue](https://github.com/babel/babel/issues/5085)

[2018-10-26 15:58] ShMcK commented on #262
Great news :)

Personally, we have a project at work that I wanted to migrate but would involve rewriting a lot of saga code. Love to try it out.

When you're comfortable with the plugin, if you'd like to add a link in the docs - I'd be happy to merge the PR.

[2018-10-26 16:32] suazithustra commented on #97
Would it be counterintuitive to just use fetch.then.catch in the effects instead?

[2018-10-27 03:23] nyrf opened #557 "immer and persist can't work together"
When use immer and persis together, seems not work.
[code]

[2018-10-27 17:16] 19majkel94 commented on #551
Ok, I think I get it. So basically `hasProps` is a rematch adaptation of selector creator (`makeGetVisibleTodos` in [reselect docs](https://github.com/reduxjs/reselect/tree/v3.0.1#sharing-selectors-with-props-across-multiple-components)) that memoize the selector caching by props, so you don't need to use `re-reselect`, right?

But I still don't like the structured selector API:
[code]
and
[code]

[2018-10-28 01:15] ancestorak opened #558 "Using selectors inside effects"
As far as I can see, selectors are not provided to effect functions, unlike dispatch. I can't import them from store either because it creates a circular dependency. Am I missing something?

[2018-10-28 11:48] suazithustra commented on #97
Babel is just fine, thanks.
[code]

[2018-10-29 07:41] ruixiu commented on #549
With this framework, it is really easy to use, and no longer need to write the action name of the string.

When I was using it, the state I defined was like this:
[code]

[2018-10-29 08:57] H2rmone opened #559 "Please update docs for @rematch/immer"
replace `npm install @rematch/immer@next` with `npm install @rematch/immer`, the next version of @rematch/immer has problem while migrating from redux to rematch.

[2018-10-29 20:26] benpolinsky opened #560 "BeforeEach 'hook' in model"
Any interest in a beforeEach function that would run before each effect or reducer in a model? My primary interest is w/r/t effects.

Use Case:

Integrating, for instance, redux-oidc. This library gives us a UserReducer which returns a User object with some properties. In nearly every effect in a model, I'm checking to see if a user exists and only proceeding if one does. Otherwise, a reducer is c

[2018-10-29 21:13] MaronMariusz opened #561 "How to call effects after reducer action ?"
Hi.

What I mean in the title is situation like I want to call effect inside some action that modifies store has beed dispatched.

[code]

Let's say that I clicked in a button and it calls `setName` but after that call (before the state change) I would like to run `getPayload` from second model which call api immediately (or even the same model). Is it possible ? What's the good practice for that

[2018-10-29 22:28] d3dc commented on #561
you can use a listener reducer:
[code]

Naively, this sounds like setName has a side-effect:

[code]

You can't batch an effect after a reducer without another dispatch loop - I try to think of it in terms of state transitions and not hooking function calls (which flux tries to avoid imo).

[2018-10-30 07:27] RunningCoderLee opened #562 "How to use @rematch/loading in typescript project？"
When I use loading plugin in typescript project as below:

[code]

ts will prompt like this

![image](https://user-images.githubusercontent.com/13218863/47701661-86669200-dc55-11e8-8de6-b4d40b718b5f.png)

the `RootState` declared like [this](https://github.com/rematch/rematch/blob/b3e809836696dd0b9948a6ddfe7aef268ec5e8bd/examples/ts/count/src/store.ts#L10)

What can I do?

[2018-10-30 17:54] #228 closed

[2018-10-30 17:54] #277 closed

[2018-10-30 17:54] #292 closed

[2018-10-30 17:54] #343 closed

[2018-10-30 17:54] #348 closed

[2018-10-30 17:54] #352 closed

[2018-10-30 17:54] #366 closed

[2018-10-30 17:54] #368 closed

[2018-10-30 17:54] #246 closed

[2018-10-30 17:54] #383 closed

[2018-10-30 17:54] #252 closed

[2018-10-30 17:54] #390 closed

[2018-10-30 17:54] #337 closed

[2018-10-30 17:54] #374 closed

[2018-10-30 17:54] #365 closed

[2018-10-30 17:54] #398 closed

[2018-10-30 17:54] #419 closed

[2018-10-30 17:54] #414 closed

[2018-10-30 17:54] #436 closed

[2018-10-30 17:54] #285 closed

[2018-10-30 17:54] #248 closed

[2018-10-30 17:54] #420 closed

[2018-10-30 17:54] #359 closed

[2018-10-30 17:54] #442 closed

[2018-10-30 17:54] #444 closed

[2018-10-31 10:20] hisanshao opened #564 "Please polyfill @rematch/core"
The webview of most Android phones cannot use rematch because the kernel version is too low. please do polyfill for those

[2018-10-31 12:21] linonetwo commented on #564
Why not bring your own polyfill?

[2018-10-31 16:07] hisanshao commented on #564
@linonetwo  I use @babel/preset-env  "useBuiltIns": "usage" , and webpack module.rules include @rematch , but it`s not work.
only require("@babel/polyfill") is work. but i don`t want to include the whole polyfill which isn't always needed

[2018-10-31 18:33] hisanshao commented on #564
here is an issue about babel 7 can't compile in node_modules, i found the solution here [https://github.com/babel/babel/issues/8672](url)

[2018-11-01 04:57] dcousens opened #565 "Conflicting LICENSE (MIT LICENSE, ISC SPDX)"
In https://github.com/rematch/rematch/pull/24 it is clear you (@blairbodnar, @ShMcK) chose MIT as your license,  and your LICENSE file is that.

But your SPDX identifier on `npm` is released as `ISC`.

[2018-11-01 04:57] dcousens commented on #565
Ref: https://github.com/rematch/rematch/blob/b3e809836696dd0b9948a6ddfe7aef268ec5e8bd/package.json#L16

[2018-11-01 05:02] dcousens commented on #565
The same is for each of your plugins.
Are they ISC or MIT?

[2018-11-01 09:44] H2rmone commented on #519
you have to bring polyfill to your project, because rematch dist includes es7 feature like Array.prototype.includes

[2018-11-02 04:50] #464 closed

[2018-11-02 05:30] d3dc commented on #551
I was going to object to props in a "selector maker", but, AFAICT, using a `structuredSelector` doesn't do much. It avoids creating a new object around the already cached results and then a new object is still created by `connect`.

I guess, in the event a selector is not memoized, it still will be cached at the component level - which is somewhat desirable. (e.g. just using vanilla functions)

I

[2018-11-02 05:43] d3dc commented on #551
Sidebar: I am beginning to doubt my intuition on the common use-cases for `hasProps`.

It assumes components that are rendered at the same time won't request different expensive computations.
1. In a list view, the database is cached and rows in a table will just select different ids - the first cache holds.
2. In a detail view, derived data is cached based on the subject - the second cache holds.

[2018-11-02 05:56] d3dc commented on #551
Sidebar: I am beginning to doubt my intuition on the common use-cases for `hasProps`.

It assumes components that are rendered at the same time won't request different expensive computations.
1. In a list view, the database is cached and rows in a table will just select different ids - the first cache holds.
2. In a detail view, derived data is cached based on the subject - the second cache holds.

[2018-11-03 20:14] #462 closed

[2018-11-04 03:43] d3dc commented on #558
I've had success just using `select` as a circular dependency, as long as its not called until the body of the effect.

There's a little bit of discussion for just using a DI container in [this post I made](https://github.com/rematch/rematch/pull/467#issuecomment-427756662). I'm not sure the best way to implement this. There were a few PRs trying to include a second argument by default and I'm thi

[2018-11-04 04:01] d3dc commented on #552
I'm trying to wrap up a couple of utilities finally and am running into big typing issues when I start using typescript in my tests. A lot of it revolves around the `RematchDispatcher` types discussed here and other places; I'm piggybacking since this is the latest.

@ShMcK I'm not sure I've seen `ts-jest` used correctly in the current project - is there a reason for all the tests to be in javascr

[2018-11-05 03:39] danawoodman commented on #508
This issue also exists for @rematch/immer v1.1.0

https://cl.ly/2dba473fb0d1/Screen%20Shot%202018-11-04%20at%207.37.26%20PM.png

Using @rematch/core v1.0.6

[2018-11-05 03:48] hisanshao commented on #564
there is an error 'init is not a function' about @rematch/core  after polyfill by using @babel/preset-env.

[2018-11-05 04:01] linonetwo commented on #564
Maybe you are importing an "undefined" so its not a function.
Can you log what is imported? `import aaa from '@rematch/core'; console.log(aaa);`
Try to figure out what's going on.

[2018-11-05 07:03] hisanshao commented on #564
import rematch from '@rematch/core'  or
import  * as rematch from '@rematch/core' or
import { init } from '@rematch/core'
yes, after polyfill  is all "undefined". so how to resolve it.

[2018-11-07 10:09] Jemair opened #567 "【immer plugin】Compatible problem!"
plugin version:
        "@rematch/core": "^1.0.0-beta.4",
        "@rematch/immer": "^1.0.2",

On some high version android webview, it will throw these error below. mostly occurs on huawei and meizu, system versions cover from android 7 ~ 8.1

pages runs well on system's native browser

[code]
![image](https://user-images.githubusercontent.com/20502467/48124654-cd88fe80-e2b7-11e8-8ea2-0f5991d87e0

[2018-11-08 09:50] Jemair commented on #567
found it's a rematch/immer's bug

[2018-11-08 18:28] arvindsouza opened #568 "Typescript model dispatch problems"
I'm trying to use dispatch models according to the example in the docs:
https://github.com/rematch/rematch/blob/master/docs/recipes/typescript.md

however, when trying to pass the mapDispatch to the connect function, I'm getting the following errors:
**Types of parameters 'dispatch' and 'dispatch' are incompatible.**

**Type 'Dispatch<Action<any>>' is not assignable to type 'RematchDispatch<{ rese

[2018-11-08 18:37] d3dc commented on #568
In your `mapDispatch` function, you can just return the dispatcher `dispatch.resetData.sendNewData`

I assume `Dispatch` is `typeof store.dispatch`. I'm not sure why you're getting an assignment error, it maybe be trying to match your new function against the shape of Dispatch? i.e. `sendNewData` isn't `Dispatch<Action<string>>`. I'm curious why you wrap your type in Action?

[2018-11-08 18:55] arvindsouza commented on #568
returning it doesn't fix the issue. Is there any way to force Dispatch to match? Sorry if that's a dumb question, I'm kind of new to react/redux.

As for wrapping the type in Action, It was throwing an error:
**[ts] Argument of type 'string' is not assignable to parameter of type 'Action<any, void>'.**
when I passed any other value. the function actually accepts a string value in the mode. This pr

[2018-11-08 22:21] d3dc commented on #568
This might be related to #552. I'm starting to look at ways to actually get the typings testable and there's a few intersection types that don't quite grok for me - dispatch is one of them for sure.

[2018-11-09 16:01] saraivinha85 opened #569 "Reducer action does not pass all parameters"
Hello,

I'm trying to use this library in a new project.
One issue that I found weird is that if I have a reducer with 3 parameters only the first 2 are populated.

See the counter example to show what I mean:
[demo](https://codesandbox.io/s/x34m04wl0o)

I've added a reducer that takes 3 parameters that are added up to the counter, but since the last one is undefined the counter is now set to NaN.

[2018-11-09 20:24] d3dc opened #570 ".prettierrc overrides global parser"
[Currently the root `.prettierrc` has `parser: "flow"` specified](https://github.com/rematch/rematch/blob/master/.prettierrc#L8). This overrides the parser for all file types.

This causes editor plugins to be unable to format json and other formats that aren't parsable by flow.

AFAICT, we don't need this option. Is the fix to remove it?

if it was meant to override parsing for certain file types

[2018-11-09 21:07] jackwilsdon commented on #569
That's correct - Rematch's dispatch methods accept a payload and meta value as the first two arguments, as can be seen here;

https://github.com/rematch/rematch/blob/b3e809836696dd0b9948a6ddfe7aef268ec5e8bd/src/plugins/dispatch.ts#L37

You're being given those as the first two arguments to your reducer, which has a signature like so;

[code]

You can see this from how your reducer is called from R

[2018-11-09 21:15] saraivinha85 commented on #569
I see.. thanks for the heads up.

I think the information that you provided should be in the documentation as it's really confusing.

[2018-11-09 21:31] d3dc commented on #569
This is more of a redux thing than a rematch thing, and that might be why its not well represented in the docs. Of course, if we want to be looked at like a framework, I definitely think we need resources for beginners too.

I think more important than how Rematch wires things might be:

Redux is based on message passing. Every message has the same shape:
[code]

All Rematch steps in to do is tran

[2018-11-10 23:30] d3dc commented on #514
This particular typing issue was fixed after the `1.0.0` release.

[2018-11-10 23:30] #514 closed

[2018-11-11 11:14] kane77 opened #573 "How do you handle authentication"
I have several models, most of which are 'entities' that all have CRUD endpoints. So I have a Crud class that provides all the functions. This works fine, but recently I've been trying to add authentication to the endpopints and I struggle.
The way it's currently structured gives me circular dependency, because in my Crud class I check for 403 and if received I dispatch logout action. But the Crud

[2018-11-11 17:51] kane77 commented on #573
So far I've come up with something like that:

effects: (dispatch) => ({
    async deleteLocationAsync (id: string, state: State) {
      const options = {
        endpoint: `/locations/${id}`,
        method: 'delete',
        success: () => this.deleteLocation(id),
        token: token(state)
      }
      await crudAction(options, dispatch)
    }
}

[2018-11-11 22:53] d3dc commented on #573
Without seeing an example of your first post, I'm a little lost 😬.

What you're doing in the second post looks right. I like the composability of `crudAction` too - I might have a crud model in the store that's much larger.

My API is usually setup as methods pre-bound to the end-points - just so my redux isn't too bloated.

I also use a fetch API that returns `Promise`.

So, my grand change would

[2018-11-13 16:46] SergeyLys commented on #562
It helped to me:

store.ts
[code]

container.ts
[code]

[2018-11-14 21:34] Arelav commented on #568
I'm not sure if is the same but try `"strictNullChecks": true` in tsconfig.

[2018-11-15 03:54] #475 closed

[2018-11-17 20:01] skurfuerst commented on #568
@d3dc @arvindsouza I am also trying to fix this issue. While I did not find a fix yet, #574 contains a test suite based on dtslint which reproduces the error.

[2018-11-17 20:10] #221 closed

[2018-11-19 20:20] danawoodman commented on #508
If I manually change the `index.d.ts` file's import to `import('@rematch/core/src/typing')` my app now compiles. I'm looking for where this invalid import is created but can't find it. @ShMcK could you help me locate this and I'll be happy to submit a PR

[2018-11-20 03:11] julytang opened #575 "Destructuring assignment of the dispatch works weird!"
This problem is quite weird and complex.
First I initialed my model like this, remember the order of the models' keys,
[code]
page->shop-template.
Second, I create effects in model **page** to dispatch a effect or reducer in model **template**
This one works normally.
[code]
But that one, the useTemplate function is undefined.
[code]
But there is a method to make it work. You just change your init

[2018-11-20 04:12] millette commented on #565
ISC is npm's (strange) default. A PR would probably be welcome :-)

[2018-11-21 09:25] miraage opened #577 "React example contains an error"
https://codesandbox.io/s/92mk9n6vww

The `remove` reducer function violates purity.

[code]

Should be written in another way, e.g.
[code]

[2018-11-21 13:00] alexicum opened #578 "Fix readme with how to use connected-react-router with rematch"
[Should I use this?](https://github.com/rematch/rematch/issues/409#issuecomment-397116435)

or may be there is another way?

And there is an old recipe with [react-redux-router .../redux.md](https://github.com/rematch/rematch/blob/master/docs/recipes/redux.md)

[2018-11-21 22:29] d3dc commented on #577
But that state is immediately replaced with a copy (and a new ref) of that state before anything else could read it...

If a tree falls in the woods and no one is there to hear it, does it make a sound?

[2018-11-22 07:53] miraage commented on #577
In the current example it may be okay, but overall it is a bad practice, usually leading to bugs.
Feel free to close this issue if you think that it is not important for this case.

[2018-11-22 10:18] arvindsouza commented on #568
Thanks for the help, I just set it to 'dispatch: any' for the time being. Will probably be removing rematch altogether eventually.

[2018-11-22 10:18] #568 closed

[2018-11-23 06:01] #259 closed

[2018-11-24 06:08] #565 closed

[2018-11-24 06:17] ShMcK commented on #575
So destructuring of the dispatch is producing an `undefined` function.

This is due to some hackery. In JS, everything is an object - even functions.

In order to allow both `dispatch(action)` and `dispatch.model.action` to work, we applied `.model.action` to the function prototype. It was really the only way to avoid a breaking change from normal Redux along with a more desired API.

As we've bot

[2018-11-24 06:29] ShMcK commented on #570
Happy to merge any PR that makes this easier 👍

I understand the frustrations when supporting plugins within the same repo.

[2018-11-24 06:46] d3dc commented on #575
@ShMck The dispatch plug-in sets every model's dispatch to an empty object. The effect plug-in is then running, and has not yet run the `template` model effect factory.

[2018-11-24 07:00] d3dc commented on #578
This has reminded me: The recipe doesn't actually call `bindActionCreators` and you would have to wrap the action creators somehow:

[code]

Just to advertise: I also spit-balled a way to fix up the encapsulation here and a better way to distribute recipes in #572 - The big unknown of course is the recipe packaging.

[2018-11-26 03:18] lizheming opened #581 "[QUESTION] update state direct in effects"
As title said, could we update state in effects directly instead of dispatch reducer?

[code]

[2018-11-27 07:44] zhangyu921 opened #582 "@rematch/loading: store.model() can not enable loading variables, when if used effects function once."
For example, when in part 1 of App and invoke an effects function of one model. Next push to part 2, the injector can not make Loading variables exist.

Hope I make myself clear...

example:  https://stackblitz.com/edit/rematch-loading-issue

[2018-11-27 09:04] julytang commented on #575
@d3dc @ShMcK According to the usage of dispatch, it's more likely a combination of actions grouped by models, it's more similar to Object rather than Function. In my opinion, models should load when store initialed instantly. @ShMcK Function is also an Object in javascript, so you can add any property to it just like what you do to Object. More confusion I got is that the two different usage of di

[2018-11-27 17:56] d3dc commented on #575
@julytang The factories have to be run _in some order_...

The only way I can think of to make the result of every other factory available before they've all been called (intractable) would be to use a `Proxy` to allocate wrappers if a dispatcher hasn't yet been constructed. There's some browser compatibility issues, but it might be worth experimenting with.

[2018-11-28 04:02] dcousens opened #583 "Typescript example fails to compile"
[code]

[2018-11-28 06:27] Jemair opened #584 "【FYI】If you crashed into the error: 'You may not call store.getState() while the reducer is executing.'"
This is not rematch's problem but a redux devTool one.
Take a look at https://github.com/zalmoxisus/redux-devtools-extension/issues/588#issuecomment-442319942

[2018-11-29 03:43] dcousens commented on #583
Similar to https://github.com/rematch/rematch/issues/520

[2018-11-30 01:00] zhenyulin opened #585 "[Question] how do you update the GitHub page generated by Gitbook"
I didn't see script in CI nor a `gh-pages` branch, so was wondering if there's any other automation at the moment?

[2018-11-30 01:42] Jemair commented on #584
it has been fixed, seems like no one faced my issue

[2018-11-30 01:42] #584 closed

[2018-11-30 04:33] nuttikung commented on #578
I have the same problem with react router before for my solution I migrate to use ConnectedRouter.

You can try : https://codesandbox.io/s/72o3k1z3nq

[2018-11-30 14:57] zhenyulin commented on #585
Found it was actually hosted on gitbook.io, so assuming manual work

[2018-11-30 14:57] #585 closed

[2018-12-01 10:30] walkerlin commented on #583
got the same issue using rematch 1.0.6  and typescript 3.2.1

[2018-12-02 05:54] garbin opened #586 "effect be invoked incremently each request server side with next.js"
in next.js `getInitialProps` will be invoked server side each request, we can do something data initializing here. it works well with normal `redux action` but rematch `effects`, so I think this issue is `rematch` related no `next.js`.
pseudocode
[code]

here is the repo you can reproduce this issue, any idea? https://github.com/garbin/next-rematch-issue
[code]
reproduce step
[code]

[2018-12-03 05:14] danawoodman commented on #508
It's strange. Running `npm run build` generates a proper `dist/index.d.ts` file but when you `npm install @rematch/immer` it seems npm changes the path in the `index.d.ts` file to incorrectly point to the wrong path. Any ideas on how this could be fixed @ShMcK?

[2018-12-03 06:01] danawoodman commented on #508
I upgraded to `v1.1.0` via `npm i @rematch/immer@next` and the issue goes away!

[2018-12-03 11:11] Skeeev opened #587 "[QUESTION] Effects axios request cancelation"
Hello there,

I faced a problem with a cancelation of `axios` requests from my `rematch` effects. To be more precise, the problem is that I have a drop-down component, which sends data requests via `effect` on each change. I need to cancel the previous request if I change drop-down item before a request is done. `Axios` has cancel token for such situations and f.e. `redux-saga` has an approach to

[2018-12-04 07:15] #386 closed

[2018-12-04 10:34] tsl opened #588 "Dispatch with object type not trigger loading/show and loading/hide"
I found a issue when I using plugins: [loadingPlugin], the action loading/show not trigger, when I dispatch type object like dispatch({ type: 'model/actionName' }), it will trigger when I dispatch.model.actionName.

Case dispatch with object type:

![case-1 1](https://user-images.githubusercontent.com/14858308/49436567-08fde680-f7ec-11e8-80d0-795b6eaa4943.jpg)
![case-1 2](https://user-images.githu

[2018-12-04 14:41] 890f2151c2be69c51db72017546d00fd opened #589 "fix link to typescript example"
examples link(https://rematch.gitbooks.io/rematch/examples/ts/count/) on https://rematch.gitbooks.io/rematch/docs/recipes/typescript.html page is broken

[2018-12-10 20:43] #494 closed

[2018-12-10 20:43] #486 closed

[2018-12-10 20:43] #493 closed

[2018-12-10 20:43] #495 closed

[2018-12-10 20:43] #498 closed

[2018-12-11 13:05] raitucarp commented on #520
this issue still exist on @rematch/core@1.0.6

[2018-12-11 13:07] raitucarp commented on #583
got the same issue using rematch 1.0.6

[2018-12-11 16:01] crazy4groovy opened #590 "update immer plugin dep version"
https://github.com/rematch/rematch/blob/master/plugins/immer/package.json#L29

[code]

latest is 1.7.4: https://github.com/mweststrate/immer/tree/v1.7.4

[2018-12-11 16:31] crazy4groovy commented on #590
or perhaps make it a peer dependency?

[2018-12-12 07:59] #397 closed

[2018-12-19 17:10] taranda commented on #376
I'll renew my request to keep subscriptions in Rematch.

[2018-12-19 22:05] #482 closed

[2018-12-20 19:22] #454 closed

[2018-12-21 17:04] crazy4groovy opened #592 "loading plugin can dispatch the effect's result on "hide" action?"
https://github.com/rematch/rematch/blob/master/plugins/loading/src/index.ts#L136
[code]

instead, wouldn't it be awesome if:
[code]
??!

[2018-12-21 17:08] crazy4groovy commented on #592
To be clear, this might give similar functionality as https://github.com/pburtchaell/redux-promise-middleware/blob/master/docs/introduction.md where the fulfilled async payload is included in the action.

[2018-12-21 17:14] crazy4groovy commented on #592
Or.... it's never made sense to me to return anything from an effect; even the effect example doesn't show it:
https://github.com/rematch/rematch/blob/master/docs/api.md#effects
So maybe this is something that core should address? (dispatching the data returned from an effect)

[2018-12-23 02:57] eparizzi opened #593 "dispatch is not available in effect"
The documentation says that you can dispatch actions from an effect.
![image](https://user-images.githubusercontent.com/412489/50380397-a5294980-0644-11e9-8888-5d27e7e26195.png)
https://rematch.gitbooks.io/rematch/docs/api.html#effects

But I'm getting `dispatch is not defined`.

Here's a little project based on the loading example reproducing it.
https://stackblitz.com/edit/react-v9u71f?file=mode

[2018-12-23 03:11] eparizzi commented on #593
Nevermind. I just saw the example that I need to make `effects` a function receiving `dispatch`.

This should be documented in the `effects` section.

[2018-12-23 03:11] #593 closed

[2018-12-23 06:35] #505 closed

[2018-12-26 18:06] zhangwilling opened #594 "[discuss] the way of use dispatch impact the loading plugin"
here are ways of dispatch using  in effects:

  1. dispatch({ type: 'count/incrementAsync', payload: 1 })

  2. dispatch.count.incrementAsync(1)

the first will not emit loading, but second is ok.

a little bit confusing.

[2018-12-27 15:11] jackwilsdon commented on #594
Duplicate of #588

[2018-12-27 15:11] #594 closed

[2018-12-28 16:12] crazy4groovy commented on #592
I'm working on a new plugin I call "effectLifecycle"
https://glitch.com/edit/#!/rematch-example?path=src/vendor/effectLifecycle.js:67:8
Seems to be working well so far.

[2018-12-28 19:21] suazithustra opened #595 "Reverting all models to initial state when logging out."
How would you guys do this without putting
[code]
in every model?

[2018-12-30 03:53] rmlzy commented on #595
mark

[2018-12-30 05:07] rmlzy commented on #4
Can anyone provide an example?

[2018-12-30 14:24] JiangWeixian opened #596 "devtools trace"
devtools trace output is not clear?

at Object.eval (webpack-internal:///./node_modules/
rematch/core/dist/umd/rematch.js:29:17
at eval (webpack-internal:///./node_modules/
rematch/core/dist/umd/rematch.js:21:14
at Object.eval [as next] (webpack-internal:///./node_modules/
rematch/core/dist/umd/rematch.js:22:40
at eval (webpack-internal:///./node_modules/
rematch/core/dist/umd/rematch.js:4:251
at

[2018-12-30 19:05] #511 closed

[2019-01-03 15:02] #512 closed

[2019-01-04 13:02] hardfist opened #597 "withExtraArgument"

[2019-01-04 13:03] #597 closed

[2019-01-07 09:08] koss-lebedev commented on #561
You can define your first model like this:

[code]

And then call `setNameAsync`

[2019-01-07 09:16] jackwilsdon commented on #561
Seems like #246 would allow you to achieve this, but it's been closed for some reason.

[2019-01-07 14:41] 19majkel94 commented on #544
What about this? Is it worth to update?

[2019-01-08 09:03] semoal commented on #595
You can create a rootReducer, rematch works perfectly with Redux things.
Here you have an example using Redux: https://stackoverflow.com/questions/35622588/how-to-reset-the-state-of-a-redux-store/35641992#35641992

[2019-01-09 21:49] d3dc commented on #4
{
  effects: {
    async loadData(payload, rootState) {
      try {
        const response = await fetch('http://example.com/data')
        const data = await response.json()
        dispatch.example.update(data)
      } catch(error) {
        dispatch.errors.handle({ error, withToast: 'an example message' })
      }
    }
  }
}

[2019-01-09 22:12] d3dc commented on #581
Late to the party here, but:

Replaying an action log could have different state updates occur depending on how `await fetch(payload)` went.

This has the potential to make state changes non-deterministic, no?

[2019-01-10 01:53] lizheming commented on #581
Thank you for your reply, I understand what you said and agree with you very much.

[2019-01-10 01:53] #581 closed

[2019-01-10 19:41] #524 closed

[2019-01-10 19:43] d3dc commented on #533
Sticking a pin here, because if there's one guide that needs to exist for Rematch, it's CRUD.

[2019-01-10 19:45] d3dc commented on #533
I've worked on an implementation of the [TodoMVC](http://todomvc.com) app [using the toolkit I've been hacking on](https://github.com/d3dc/react-flying-saucer/blob/master/examples/todos)

[2019-01-10 19:50] d3dc commented on #595
You can also re-use a base reducer per model:

[code]

[2019-01-12 12:08] suazithustra commented on #595
thanks guys

[2019-01-12 12:08] #595 closed

[2019-01-12 18:00] #322 closed

[2019-01-13 16:09] FullStackerWeb commented on #584
Hi @Jemair

Same issue on here.
I'd like you to let me know how I can fix this issue with a more detail explanation.

Regards.

[2019-01-13 21:27] WestBrian opened #601 "[TypeScript]: Dispatch doesn't infer reducer or effects functions"
I have followed the TypeScript example exactly but my `dispatch` object isn't inferring my reducer or effects functions. Oddly enough, it was working when I just had effects and no reducer functions. Here is the code:

`store.ts`
[code]

`auth.ts`
[code]

`Component.tsx` (I had to cast the dispatch object because I was getting an error that Redux's dispatch object was not equal to Rematch's dispat

[2019-01-15 09:36] erikmueller commented on #561
If I understood that correctly you could achieve a similar pattern as with sagas take (and then do various things and dispatch other actions) with these effect subscribers (which is in my opinion much more intuitive than using a saga). Am I missing something and can we just reopen #246 (Seems like it fell victim to the stale bot)?

[2019-01-18 14:34] canyavall opened #603 "[Question] Immer returning different object despite values are the same"
HI guys, maybe I'm doing a wrong implementation or maybe I didn't understand how immer works.
I thought that with immer, if I have in the state an object A in the reducer M and I dispatch the reducer to update M with the object B where A !== B but values are, Immer would not modify the state. But after a test with Jest I  could see that it is modified.

As I'm using the Immer plugin and I'm afraid

[2019-01-21 01:54] #208 closed

[2019-01-22 12:25] hardfist opened #604 "Object.entries is not compiled in cjs version of @rematch/immer"
It seems that @rematch/immer's cjs version is not es5 compatible, since it doesn't compile Object.entries, unfortunately Object.entries is buggy in some chrome versions which broke application.
https://bugs.chromium.org/p/chromium/issues/detail?id=836145
https://stackoverflow.com/questions/49385066/the-strange-behavior-of-object-entries

[2019-01-23 03:45] linonetwo commented on #478
For me, the same error message comes from my forget to return `state` in my reducer.

[2019-01-23 12:40] semoal commented on #573
I do an async call to my api, that returns a token -> stored on cookies, now I have two things:
1. A high-order component that checks PrivateComponents (Must be logged in)
2. And an interceptor on Axios for every http request, put that Bearer Token (if this returns a 403, it goes directly to an error reducer, that handle this error (delete state, redirect....)

I have to implement yet another high

[2019-01-24 19:59] d3dc commented on #262
From following the issues over in [the repo](https://github.com/alhimik45/rematch-saga/issues/1#issuecomment-441762109)  there's a few outstanding questions needing answers before this would cover most use cases.

I'm closing this for now.

[2019-01-24 19:59] #262 closed

[2019-01-25 08:35] linonetwo commented on #562
Full boilerplate:
[code]

[2019-01-31 07:46] canyavall opened #606 "[Issue] has no exported member 'getSelect'."
I was checking the documentaiton and in order to make typescript work with select plugin, the documentation says:

[code]

If I do it I get:

[code]

Is the documentation outdated?

[2019-01-31 21:47] #237 closed

[2019-02-03 19:44] patsissons commented on #583
I wound up using this to get around the issue (which is essentially that the model shape is not getting inferred from `createModel`.

[code]

now instead of `createModel<State>({ ... })` you would use `bindState<State>().toModel({ ... })`

[2019-02-05 12:51] phmatray commented on #583
I was having the same problem with a CRA2 installation.

During a build, CRA overrides the file tsconfig.json. Assuming that the problem comes from the "react-script" package, it is possible to work around the problem by installing CRA via this link.
https://github.com/Microsoft/TypeScript-React-Starter#typescript-react-starter.

The key was in these lines "react-scripts-ts is a set of adjustments

[2019-02-06 08:16] sven09 commented on #479
Hi, thanks for the hint.
We have renamed a rematch model file and this the only loading effect that is not found afterwards (ts).
Do you have any hint. It works after clearing site data and then later, it happens again. ... Strange
Thanks

[2019-02-06 17:36] #547 closed

[2019-02-06 22:30] phmatray opened #607 "TypeScript 3"
Hello and thank you for this fantastic library. I use it on a daily basis in an open-source project

With a fresh installation of Rematch, npm gives me the following errors.

[code]

Could we consider an upgrade of the peerDeps to TypeScript 3 and rematch/code@^1.0.6?

[2019-02-07 07:47] canyavall commented on #607
Ummm, it is strange, for the select plugin it requests the     "@rematch/core": "^1.0.6", you shouldn't have this issue actually

[2019-02-08 03:19] danawoodman commented on #606
Same issue here. Opening the type file shows that the `getSelect` type definition does not exist.

[code]

[2019-02-08 03:22] danawoodman commented on #601
Similar issue here. Getting:

[code]

My model looks very similar to the above and I have an async effect called `setLanguage` which is used by the `connect`ed component. When I consume the component, I get the above error.

Have followed the Typescript guide to a T and triple checked everything

[2019-02-08 03:25] danawoodman commented on #583
I've tried @patsissons solution to no effect. Believe I am following the guid exactly. Using a create-react-app application using the new Typescript support and the latest versions of everything:

[code]

[2019-02-08 12:33] canyavall commented on #601
Hi WestBrian, I had the same issue than you and my problem was that createModel was wrapping an object with properties and not the constant of the object.
Can you try this?

In auth.ts

[code]

[2019-02-08 13:40] daniel-stoll commented on #601
Hi, I had the same problems. Some hours after investigating the issue I found a OK solution I can live with.

Creating a rematch model example.ts
[code]
notice the typecast of the createModel. This will atleast fully type the reducers in the components.
The effects in the components only have the keys from the payload, but you can cast them!

The dispatched effects/reducers in the model can't be t

[2019-02-11 18:24] danawoodman opened #609 "How to use Rematch Type definitions for Effects that return values?"
Right now I am getting type exceptions with effects that return values, eg:

[code]

Getting:

[code]

I expect it to know that I am returning a value in the `something` method but it does not.

How can I make sure the typing is detected correctly?

Thanks!

[2019-02-13 11:09] semoal commented on #609
1º -
 I'm not sure if Rematch is ready to be used 100% in TypeScript.
2º -
You're doing an await to dispatch.someModel.stuff(), but you didn't defined any reducer for handle async action stuff.

Example:
[code]

[2019-02-13 11:16] semoal opened #610 "Request feature: Using React Hooks (16.8) in Rematch"
We should try to give this library a push, has a big future, so easy to use and brilliant performance.

- We should see if someone has time, to build a Plugin for use rematch models with React Hooks (16.8), to access stateToProps, and dispatch simpler.
- I think we need some maintainers here, I see the project a bit abandoned.

I'm open to discuss everything, and I'm glad to help If i am able to.

[2019-02-13 15:51] jackwilsdon commented on #610
It's probably worth keeping an eye on https://github.com/reduxjs/react-redux/issues/1177, as without it I'm not sure how much we can do (especially if efficiency is a concern).

[2019-02-13 23:03] danawoodman commented on #609
Thanks @semoal.

1. That would be sad if it were the case 😢

2. Reducers only handle change of state (which I am doing, my code snippet wasn't complete). It seems that Rematch doesn't know that I am returning a value from the effect which is the core issue I am addressing. Rematch supports returning from an effect which you can `await` on in your React component or wherever you want. I want it to

[2019-02-14 06:15] canyavall commented on #610
For what I could read react-redux library has some performance issues, we will have to wait.

Anyway, if I'm not wrong, there is nothing we can do to move rematch into Hooks, actually, rematch is not a project specific for React, as you can see in the package json, it is an abstraction layer for redux. That means (I didn't check it) that the project maybe could be used in Vue, Angular and plain ja

[2019-02-14 06:35] canyavall commented on #609
@danawoodman
I checked it in my code and I didn't have any issue, actually
´´´
    async fetchChannels() {

        this.setChannelsLoading(true)
        try {
            const url = "tv/channels"
            const data = await getRequestIB<ChannelsCenterChannel>(url, headers)
            return data
        } catch (e) {
            Logger.error("fetchChannels: " + e.message)
            dispatc

[2019-02-14 16:42] canyavall commented on #609
@danawoodman I just faced the same issue, for some reason now the code complains...

I think there are quite a lot of issues with types and meanwhile they don't fix it (or someone that erally knows about it) I had to use :  //@ts-ignore

[2019-02-14 16:51] semoal commented on #610
You're right didn't tough about this was just a framework of redux instead of React, my bad.

[2019-02-14 16:51] #610 closed

[2019-02-16 16:15] #589 closed

[2019-02-16 16:33] ShMcK opened #611 "New Maintainer(s) Wanted"
Unfortunately, do a shift in career paths I haven't been doing much frontend work over the past 6 months. My mind is somewhere else. As a result, I haven't invested much time in Rematch - I've fallen behind in responding to issues, merging PRs and publishing on NPM. I'd love to see the project continue to move forward and would be happy to help with any transition.

If you're interested in being a