[2019-02-20 02:25] #567 closed

[2019-02-21 05:28] fantasticsoul opened #612 "hi, I like rematch, and i also recommend react-control-center"
react-control-center is totally different with redux, it is the very very close to react, write your app in react way with [react-control-center](https://github.com/fantasticsoul/react-control-center) ^_^

[2019-02-21 05:29] jackwilsdon commented on #612
Please don't advertise your projects on other repositories.

[2019-02-21 05:29] #612 closed

[2019-02-21 06:36] H2rmone commented on #611
Hello, I'd like to try it if I can. Last year I migrate from redux to rematch in our productions. And our front-end team found it easier to resolve app state with rematch. Also I created a PR about browser support because one of our production has very low version requirement.

[2019-02-21 10:02] SuJunming commented on #611
I would like to try it

[2019-02-21 10:09] SuJunming opened #613 "Is there no communication group?"
Is there no communication group?

[2019-02-21 10:10] SuJunming commented on #613
qq. WeChat.

[2019-02-21 13:58] lkostrowski opened #614 "Strange TS behaviour?"
Hi, meet my Model

[code]

As you see quite simple logic. Can you explain why `this.removeOne(notification);` shows typescript warning `Invalid number of arguments, expected 2 `? This is quite same reducer as `append`, which doesn't show it.

It's quite often when I have to force `any` types using Rematch :(

[2019-02-22 03:53] ShMcK commented on #613
There's Github :)

[2019-02-22 03:55] ShMcK commented on #611
@H2rmone I'll send you an email, let's chat.

[2019-02-22 03:55] skout90 commented on #508
in my case, `v1.1.0` => `v1.0.2`. then the issue goes awa!

[code]

[2019-02-22 06:36] SuJunming commented on #613
Can you provide China's exchange group? Or I can create it.

[2019-02-22 06:38] SuJunming commented on #613
Do I have to await every interface request. If I don't have to wait, but update the UI when the data request is completed?

[2019-02-22 06:39] SuJunming commented on #613
Does multiple waiting block UI rendering? Is there demo?

[2019-02-22 18:52] canyavall commented on #614
Hi @lkostrowski
Check this topic #601

[2019-02-24 04:21] #557 closed

[2019-02-24 11:42] varoot commented on #601
About that `mapDispatch` typing that you need to cast to any. I solved by augmenting `react-redux` module like this:

[code]

[2019-02-24 18:04] tanvirraj commented on #611
Hey @ShMcK .
we are doing a very big project in rematch. and we are very much happy with that. we also decide to do our next project with rematch. actually next all project .
i would love to contribute

[2019-02-25 04:38] ShMcK commented on #611
@tanvirraj I've sent you an email as well, let me know if you're available for a chat.

[2019-02-25 06:28] SuJunming opened #615 "Does multiple waiting block UI rendering? Is there demo?"
Do I have to await every interface request. If I don't have to wait, but update the UI when the data request is completed?
Does multiple waiting block UI rendering? Is there demo?

[2019-02-25 08:53] jackwilsdon commented on #615
This library is a layer over Redux — it works in a very similar way.

This library shouldn't block UI rendering, as it's just a state management tool. Take a look at the loading plugin see how loading states can be handled.

[2019-02-25 16:49] semoal commented on #611
Same here, we're developing all our newest products with Rematch, actually the learning curve and organization of the project much easier than standard redux.

I'm not experimented with TypeScript, but I could help reviewing pull request, and giving some help to people.

We can chat if you want @ShMcK

[2019-02-26 05:09] ShMcK commented on #611
@semoal I'll shoot you an email as well.

[2019-02-26 08:40] #549 closed

[2019-02-26 09:40] #559 closed

[2019-02-26 15:39] murtukov opened #616 "Async initial state"
I would like to suggest an idea. I think it would be useful if we had a possibility to set a promise in the initial state.

Suppose we have a registration form with a select dropdown field (cities), which should be filled from remote server.

Option #1:
[code]

In this example we use a special **remoteData** function with 2 arguments:
1 - any callback or a string name of the effect of this model
2

[2019-02-26 22:11] derrickbeining commented on #611
I'd like to give a hand. I've been migrating a project to rematch at work, and I just started a greenfield react-native project that I'm designing with rematch from the get-go. I've also spent a good deal of time trying to get a decent TypeScript experience with rematch, and think I might be able to improve the situation on that front if I can find the time.

[2019-02-27 00:40] #560 closed

[2019-02-27 07:16] SuJunming commented on #615
But not always use async await. Otherwise, the asynchronous callback data can't be saved. I hope I can still trigger an action to update the UI after I don't wait.

[2019-02-27 08:33] lkostrowski commented on #601
For me using `Dispatch = typeof store.dispatch` fails with effects like this:

![image 2019-02-27 at 9 32 35 am](https://user-images.githubusercontent.com/9268745/53476413-a32f9c80-3a72-11e9-98f6-e865f646d6db.png)

[2019-02-28 13:50] daniel-stoll commented on #601
Unfortunally the same goes for me. Having multiple models within the "Globalmodels" seems to be the issue. Haven't thougt much about that.
Here i present the latest version i'm quite happy with. It adds a little bit of boilerplate, but in the end it is something a template can handle pretty good.

[code]

There are some tricks to this.
In the beginning we separate the typings for the stateless com

[2019-02-28 19:32] canyavall commented on #616
Correct me if I'm wrong but actually you don't need to connect your component to use an effect. You have to use it in componentdidmount in order to have it in your props when the update component cycle takes place but, if you want to dispatch an effect inside your code, you don't need to connect the state

You have to connect the state whenever you want to re render your component when the global

[2019-02-28 19:33] canyavall commented on #615
then don't declare the function as an async function so you don't expect a promise and don't have to await ^_^

[2019-02-28 19:34] canyavall commented on #611
In our company we are using rematch every where, I'd like to help but my level is not enogh.... Anyway, I'll try to support as much as I can this library ^_^

[2019-03-01 10:22] RunningCoderLee commented on #562
The way I used  as below:

[code]

[2019-03-01 13:25] #519 closed

[2019-03-02 18:28] d3dc commented on #616
IMO, containers are generally an unnecessary abstraction - especially now that react gives us some very nice ways to access context and effects.

My opinion on this is pretty much summed up by a hook I'm working on:
[code]

[2019-03-02 22:45] ShMcK opened #618 "NPM publish pipeline"
I've become a bottleneck for Rematch releases. At first, I thought it may be easier to pass the project to someone more involved, but now I wonder if the majority of my role can be automated.

We have great test coverage, which makes me think it may be a good idea to auto-publish releases to NPM.

Following merges into master, Travis could automate the following actions:

1. if code changes are de

[2019-03-03 02:35] ShMcK commented on #577
Closing as already fixed. Thanks!

[2019-03-03 02:35] #577 closed

[2019-03-03 02:36] ShMcK commented on #583
Issue should be resolved in the latest release.

[2019-03-03 02:36] #583 closed

[2019-03-03 02:37] ShMcK commented on #607
The latest release `@rematch/core@1.1.0` now uses TS 3+.

[2019-03-03 02:37] #607 closed

[2019-03-03 21:52] blairbodnar commented on #618
Sounds good to me!

[2019-03-04 08:24] canyavall commented on #618
First of all, is nice you ask to the community.
In my point of view, is good if you can automate it but, in the other hand, I think would be good if someone than you can push that button too.
Then, another small thing is the maintenance of the issues. Having 33 issues open is not the best way to go for one library.
In my opinion, would be good that someone helps maintaining the library, I think yo

[2019-03-04 08:35] bagr001 commented on #609
@ShMcK This used to work in previous version. Now, the return value of the promise is always undefined. This is a cool "feature" I really love on rematch.

[2019-03-04 13:24] semoal commented on #609
I'll check it guys as soon as possible.

[2019-03-04 13:24] #613 closed

[2019-03-04 13:27] semoal commented on #615
As @jackwilsdon Rematch is a layer over Redux, so the library probably never will block UI rendering, you just have to handle when your state has data or not.

[2019-03-04 13:27] #615 closed

[2019-03-04 13:29] semoal commented on #618
Also sounds good for me, at least, always must be a manual button for publishing the production version

[2019-03-04 13:30] semoal commented on #606
I'll check this asap too!

[2019-03-04 13:34] semoal commented on #604
@hardfist is this issue still open or we can close?

[2019-03-04 18:44] #552 closed

[2019-03-05 02:44] hardfist commented on #604
still open

[2019-03-05 16:33] #564 closed

[2019-03-09 05:22] gungdeaditya opened #620 "cannot find/install @rematch/typed-state"
I cannot find @rematch/typed-state using npm or yarn, how I supposed to install it ?

[2019-03-09 08:59] semoal commented on #620
Looks like the package disappeared, you're right.
@ShMcK can you confirm you made it private or something like this?

[2019-03-09 17:03] #570 closed

[2019-03-09 17:08] ShMcK commented on #620
`@rematch/typed-state` should be available now.

[2019-03-09 17:08] #620 closed

[2019-03-09 22:24] #569 closed

[2019-03-10 04:36] gungdeaditya opened #621 "Missing typings definitions for `persist` model"
I got warn once installed @rematch/typed-state. But another models got no error since I add typings inside. How to fix this kind of error ?

[2019-03-10 04:37] gungdeaditya commented on #621
I'm using `import storage from 'redux-persist/lib/storage/index.native'`

[2019-03-11 16:02] kevinluvian commented on #606
hi, is there any updates? @semoal

[2019-03-11 17:19] semoal commented on #606
As you can see in this commit I found, getSelect got removed for getting autocomplete always when using @rematch/select plugin.
https://github.com/rematch/rematch/commit/148e8100cda5a8da4a705d8b261fed8ce5950778#diff-adfd610834090020180c37221296a7e0

I'll open a new issue, for updating the docs.

[2019-03-11 17:19] #606 closed

[2019-03-11 17:21] semoal opened #622 "Update docs about Typescript select plugin - Outdated docs"
https://github.com/rematch/rematch/commit/148e8100cda5a8da4a705d8b261fed8ce5950778#diff-adfd610834090020180c37221296a7e0

We have a { getSelect } destructuring that doesn't exist since 23 June... so let's try to improve this documentation.

[2019-03-12 08:45] wenber commented on #611
@ShMcK  I get one problem when I use  rematch。  If use a <Input  value={this.props.inputValue} onChange={this.props.actions.change} />   .when I input chinese . I find  only can input   English alphabet。 I will send you an email to  let  you see。

[2019-03-12 09:08] semoal commented on #611
Open an issue for this, don't make a mess of this discussion.

[2019-03-13 03:36] ShMcK opened #623 "Chinese translating to English"
Issue from @wenber:

If use a `Input value={this.props.inputValue} onChange={this.props.actions.change}` .when I input chinese . I find only can input English alphabet.

[2019-03-13 03:38] ShMcK commented on #623
@wenber - that’s very interesting.

Perhaps consider setting your html page to use Mandarin: `<html lang=“zh”>`

What result do you get if you use component `state` instead of Rematch. For example, if you use the `onChange` to set the state of a component.

I don’t believe Rematch manipulates the string values. If I'm wrong, please point me to the code inside of the `src` directory.

[2019-03-13 09:48] semoal commented on #623
I've created this Stackblitz @ShMcK, changed my keyboard input to Chinese and without idea of it, in my opinion looks okay.

https://react-pcc6fh.stackblitz.io

[2019-03-13 15:12] travisbickle opened #624 "Error "Cannot read property 'call' of undefined" when testing effects directly in react with jest [QUESTION]"
I'm using rematch with react. I'm writing tests for the models right now, and everything works fine except when trying to test effects directly. I always get "Cannot read property 'call' of undefined".
I can't get past this error.
Any help would be greatly appreciated.
This is my test:
[code]

And here is a piece of the model:

[code]

[2019-03-13 16:14] jackwilsdon commented on #624
`marketsGrid` is actually a function which accepts a `dispatch` function, returning an object of effects.

[code]

[2019-03-13 16:35] travisbickle commented on #624
Thanks @jackwilsdon ! That does the trick. I overlooked that completely.
I suggest revising the 'testing' recipe so as to help other clueless guys like me.
Keep up the good work!

[2019-03-13 16:35] #624 closed

[2019-03-13 18:38] ptsurko commented on #558
@d3dc  Why not to pass store instead of rootState in effect function? with async effect rootState is changing over time and does makes any sense. when you pass store instead of rootState - we can do `store.getState` and get current actual state at any time.

How about change effect function api to pass store as 4th parameter to avoid breaking changes?

For me right now I made plugin to inject stor

[2019-03-14 15:05] vikhotey opened #625 "[Question] typescript dispatch autocomplete and typesafe"
How make dispatch type autocomplete when access throw `state.dispatch.[model].[action]` or `({ [model]: [action] }: Dispatch) => ({ ... })` ?

Store configuration:
[code]

Usage:
[code]

[2019-03-16 04:56] gungdeaditya commented on #595
I'm sorry, can you please providing snippet example of doing resetting state with baseReducer ?

[2019-03-18 02:47] Binaryify commented on #623
it work fine on my Mac, maybe is your input method software problem

[2019-03-18 07:18] jsculsp opened #626 "[Question] Can immer plugin control auto freeze switch just like immer using setAutoFreeze(true/false) ?"
Using immer, i can control whether to freeze object returned by produce function by using setAutoFreeze function. How can I do this if using immer plugin?

[2019-03-18 07:52] yqz0203 commented on #562
Maybe convert the return type of each effect to boolean is better.  😉😉

[code]

[2019-03-18 08:48] RunningCoderLee commented on #562
I think the above code is perfect

[2019-03-18 08:48] #562 closed

[2019-03-18 18:58] abdih commented on #611
I'd be interested in helping out, if you want to send me an email :smiley:. Thanks in advance.

[2019-03-20 15:54] #623 closed

[2019-03-20 15:56] semoal commented on #626
Probably I'm wrong but immer plugin is just a extension of real immer so I think you can simply import setAutoFreeze function and toggle between true or false.

[2019-03-20 15:58] semoal commented on #625
I'm not sure if it's possible due typescript autocomplete is generated with Interfaces, and our models work through objects.

[2019-03-20 15:59] semoal commented on #621
Could you provide an example of code?

[2019-03-27 18:54] #575 closed

[2019-03-28 02:54] #582 closed

[2019-03-30 05:35] #578 closed

[2019-04-01 15:36] kole commented on #611
Oh man, yes let's please keep this project moving forward! SOOOOO much better than redux. I am happy to contribute if you still need people.

[2019-04-02 11:35] #587 closed

[2019-04-04 10:01] nganhkhoa commented on #588
I think we should fix this, it is more Redux to write `dispatch(ACTION)`. I don't understand why `distach(ACTION)` fails to set loading, because `dispatch.models.effects` is just an alias to `dispatch(ACTION)`.

[createDispatcher](https://github.com/rematch/rematch/blob/ddd44c1e97b56f8843f55e4ea4c4511a6a8358fe/src/plugins/dispatch.ts#L36)

[effects/onModels](https://github.com/rematch/rematch/blob

[2019-04-05 03:45] derrickbeining commented on #609
@bagr001 , I just notice that too. I know I just recently used Rematch where `effects` return the `Promise` for the value they `return`ed. But now it doesn't. Looks like there was a release on npm about a month ago. I tried installing a few previous version too though, and they all seem to return `Promise<undefined>` as well. Does anyone know the last version that allowed the caller to consume the

[2019-04-05 06:27] bagr001 commented on #609
@derrickbeining I am using `@rematch/core@1.0.6` which seem to still have this feature.

[2019-04-05 11:21] SpadarShut opened #628 "Selectors don't receive rootState"
I'm trying to use selectors, but the functions passed to `createSelector` never receive any arguments. Here's my code (just like in the docs):
[code]

If the selector gets passed an argument, then the function receives it as first argument, in place of `rootState`.

The selector is called in mapStateToProps as `store.select.weather.today()`.

[2019-04-05 13:22] derrickbeining commented on #609
@bagr001 I tried that one and I'm still getting the same `Promise<undefined>` behaviour. Ugh. What is happening.

[2019-04-05 13:33] derrickbeining commented on #609
@bagr001 , eureka! I've discovered that (at least for me) the issue was coming from `@rematch/loading`, not `@rematch/core`. I was using the loading pluging (as usual) and when I commented it out, my effects started returning `Promise<expected_value>`. I suggest you try that as well.

[2019-04-05 13:37] derrickbeining commented on #609
@bagr001 okay, so apparently `@rematch/loading` had a bogus release a month ago that reverted `latest` from `1.1.3` to `0.5.1`, so that's why the loading plugin is breaking stuff. Guess I'll open a separate issue for that.

[2019-04-05 13:47] derrickbeining opened #629 "@rematch/loading breaks effects in @rematch/core"
Hi 👋 , happy user of @rematch here.

After a wild goose chase last night trying to figure out why my models' `effects` were all returning `Promise<undefined>` when they clearly shouldn't, I discovered this morning that if I disabled `@rematch/loading`, then my `effects` resume returning `Promise` for the expected value.

I took a peak at `@rematch/loading` on npm and discovered that there were two

[2019-04-05 13:48] derrickbeining commented on #609
https://github.com/rematch/rematch/issues/629#issue-429764261

[2019-04-05 13:54] jackwilsdon commented on #629
It appears that the problem is in fact that `0.5.1` is tagged as `latest`, whilst `1.1.0` is still a `next` version (i.e. a "beta"). I'm not sure if this is the case anymore, and if so then the existing `1.1.3` should just be tagged as `latest` without another deployment.

Tagging @ShMcK because I don't know who else has NPM publishing rights.

[2019-04-06 17:31] robertpenner commented on #601
@WestBrian I actually get better TypeScript autocompletion when I don't use `createModel`. It seems the TypeScript inference is more detailed I feed `init` the "raw" `models`, whereas `createModel` results in less-specific inference. Give it a try.

[2019-04-06 23:35] d3dc commented on #628
Hey @SpadarShut

This behavior is by design. We don't call `getState()` for you. You'll need to pass `state` and `payload` from somewhere (perhaps you already have those values in `mapStateToProps`?)

"Selectors" are an established concept you'll see across libraries outside of rematch. [The docs summarize this here](https://rematch.gitbooks.io/rematch/plugins/select/#basics):

[2019-04-06 23:38] d3dc commented on #628
It's worth mentioning you don't need to call `createSelector` if you're not depending on any other selectors. (I thought it was a runtime error from reselect tbh)

[2019-04-06 23:40] d3dc commented on #601
Has anyone tried using Discriminated Unions in the typings? I haven't taken a look in a minute, but I suspect `name` is a great tag!

[2019-04-07 00:08] d3dc commented on #587
@Skeeev

I might naively say there's nothing stopping you from doing this as a side-effect in an effect -
[code]

You might also be able to return active requests from a selector and consider Ajax requests derived values somehow.

[2019-04-07 00:13] d3dc commented on #586
This bug seems well documented. I'm tagging it and reopening it.

[2019-04-07 00:17] d3dc commented on #625
@semoal Shouldn't tsserver be able to examine a discriminator in every objects source?

[2019-04-07 01:00] d3dc commented on #558
@ptsurko I have gravitated toward a similar custom plugin exposing a limited API.

I generally disagree with calling `getState()` in an effect, as, at least to me, that seems like what effects abstract for us. Chaining effects in the actual base model is exactly the same as how other models extend and hook into its flow.

[2019-04-07 06:36] SpadarShut commented on #628
From the example `const moreThan50 = store.select.cart.expensiveFilter(50.00)` I decided store is passed to selector if called as an object prop. Now I looked further and saw how store is passed also.
Sorry for troubles and thanks for helping out.

[2019-04-07 06:36] #628 closed

[2019-04-08 01:55] #596 closed

[2019-04-10 16:09] mauleb commented on #629
Effects are broken for me with a react native project using core@1.1.0 and loading@1.1.3. Getting undefined like everyone else has been.

[2019-04-11 03:54] robertpenner commented on #601
Yep, I prefer to sacrifice strong typing inside my model (where it's easy to see things centralized), so that I can have more detailed code completion and types out in my app and unit tests.

[2019-04-14 21:29] mathew3 commented on #629
I was getting `undefined` from all effects with `"@rematch/loading": "0.5.1"`

fixed by @derrickbeining advice

[code]

[2019-04-14 22:49] ShMcK commented on #629
I've updated @rematch/loading to have the npm tag for latest.

[2019-04-17 17:00] eric-burel opened #631 "Access current state or model name in effects for model reusability"
Hi,

I use Rematch/Redux massively in one of my apps for managing scenes state (data + global UI state for each page) instead of React component state. I know this may be considered a suboptimal usage of Redux, but this pattern allows me to persist state between page changes as a default even when component unmounts, which I think is a good pattern in professional apps. Using React state is doable

[2019-04-24 19:23] acnebs commented on #595
Looking to how this would be done in pure Redux is probably needlessly complicated.

@gungdeaditya, this is the solution I'm using, and I think it is fairly elegant / concise.

Init the store with the rootReducer you need.
[code]

And then call RESET_APP whenever you need to by sending a message, ala classic Redux.
`dispatch({ type: 'RESET_APP' })`

[2019-04-25 08:58] eric-burel commented on #631
Just to provide a few more insights, related to #390 and #230 , here is how I ended up composing model:
[code]

`composeModels` is just a merging utility that will merge state, reducers, etc. The final model name is passed as a param. With this pattern the state stays relatively flat.

I am not yet satisfied though.
First, in my reusable models, I need to pass `MODEL_NAME` explicitely because I ca

[2019-04-25 08:59] semoal commented on #629
Looks the issue is fixed with @ShMcK retag!

[2019-04-25 08:59] #629 closed

[2019-04-25 10:34] nianiaJR opened #632 "@rematch/loading can't mention the state.loading.effects.model exisitence"
I'm using rematch with typescript. I have a problem about:
![image](https://user-images.githubusercontent.com/8124783/56729653-6210eb80-6788-11e9-8286-d9dfda9db443.png)
I have a task model, it has a effect method like 'asyncTaskList’，but the typescript can't resolve if the interface 'asyncTaskList' exists. How can I solve this, thank you.

[2019-04-26 09:42] yqz0203 commented on #632
Duplicate of #562

[2019-04-26 10:21] nianiaJR commented on #632
@yqz0203 thx, but I think they are not the same problem, in the [#562](https://github.com/rematch/rematch/issues/562), there isn't a loading definination in the `state`, so he use the typescript declaration merging to solve this(I did this already). In my problem, I want `state.loading.effects` to recognize what interfaces it has (such as the 'task'). It just judged the effects as a `any` type.

[2019-04-26 10:24] yqz0203 commented on #632
You can try [my solution](https://github.com/rematch/rematch/issues/562#issuecomment-473804575), works well.

[2019-04-28 07:29] nianiaJR commented on #632
Ok, I got it. Thx.

[2019-04-28 07:29] #632 closed

[2019-04-29 05:52] firofame commented on #395
I can confirm that is not working in "react-native": "0.59.5" with "@rematch/core": "^1.1.0", "@rematch/immer": "^1.1.0", "@rematch/loading": "^1.1.3", "@rematch/persist": "^1.1.6", with the following order:

`import { init } from '@rematch/core';
import immerPlugin from '@rematch/immer';
import createRematchPersist from '@rematch/persist';
import createLoadingPlugin from '@rematch/loading';
impor

[2019-05-02 17:15] #592 closed

[2019-05-04 10:54] olso commented on #618
@ShMcK https://blog.npmjs.org/post/184553141742/easy-automatic-npm-publishes

[2019-05-07 15:54] #544 closed

[2019-05-10 21:32] #551 closed

[2019-05-13 20:36] d3dc commented on #631
@eric-burel Have you considered writing your abstract models as higher-order functions instead?

[code]

That would more closely mirror a HOC with a `name` - `displayName` parallel.

[2019-05-13 20:45] d3dc commented on #631
@eric-burel Namespacing might refer to how e.g. the loading plugin works. When the store loads a model, it can create its own state with the given model name. If you're accessing loading state in the model, the model should know its name.

[2019-05-15 12:12] #561 closed

[2019-05-15 13:39] eric-burel commented on #631
Using a composition is what I do already, but you may have reducers and effects name clash. Having a similar behaviour as the loading system would solve that indeead, as you would have something like `state.pagination.myModel` (no risk of name clash) instead of `state.myModel.pagination` (risque of name clash within myModel).

[2019-05-23 12:49] olso opened #633 "Apply for sponsorship dude"
https://github.com/sponsors

[2019-05-23 12:49] olso commented on #611
#633

[2019-05-23 13:24] #573 closed

[2019-05-26 20:53] semoal commented on #633
@ShMcK probably you're interested on this mate. I'll give a donation at least for a coffee

[2019-05-26 20:54] #626 closed

[2019-05-26 20:55] semoal commented on #625
Can we close this? Did you find any good solution mate @vikhotey

[2019-05-26 20:57] semoal commented on #616
D3DC and Miguel answered this pretty clear. I close this.

[2019-05-26 20:57] #616 closed

[2019-05-26 20:59] #508 closed

[2019-05-26 21:01] semoal commented on #621
@gungdeaditya can i close this?

[2019-05-26 21:01] #621 closed

[2019-05-27 05:52] vikhotey commented on #625
Not found solution.

[2019-05-27 05:52] #625 closed

[2019-05-27 10:01] #614 closed

[2019-05-28 12:18] hardfist commented on #604
1.1.0 version， `rematch-immer.cjs.js ` compiled code contains `object.entries`
![image](https://user-images.githubusercontent.com/8898718/58477198-93187d80-8185-11e9-85a3-240d3ce2da20.png)

[2019-05-29 02:36] JiangWeixian opened #637 "why ts example incrementDolphins payload is any?"
![image](https://user-images.githubusercontent.com/6839576/58525187-6b64fc00-81fd-11e9-9fb4-546d7cb1ac91.png)

[2019-05-29 02:41] #637 closed

[2019-05-29 02:47] JiangWeixian opened #638 "ts count example type error"
![image](https://user-images.githubusercontent.com/6839576/58525629-07433780-81ff-11e9-998a-0547cf76a384.png)
![image](https://user-images.githubusercontent.com/6839576/58525658-23df6f80-81ff-11e9-9cb5-7b840f5fa90c.png)

[2019-06-01 03:44] akhilshastri opened #639 "rematch nextjs example with code-split"
Hi ,

I was following https://github.com/zeit/next.js/tree/canary/examples/with-rematch example from nextjs repo, but it seems whole bunch of models get loaded in bootstrap phase only.

It would helpful if you provide code-split example;

I personally tried using store.model function from rematch  but it's making my code more complex and I personally not agreeing on what i built :(

[2019-06-01 13:17] #622 closed

[2019-06-02 22:34] ShMcK commented on #633
Appreciate it, but I think sponsorship is more for actively maintained projects. I haven't been doing a great job in that case.

I am working on a project that may warrant sponsorship in the near future :)

[2019-06-03 06:15] semoal commented on #639
You can use rematch with next js as easy as a normal spa.

I’ll post a example later.

[2019-06-03 08:03] akhilshastri commented on #639
Thanks semol, Yes I can use it with nextjs and nextjs has an example but this example registers all model object in init phase.

Hence all the models are primarily required as part of common chunk so no lazy loding happens for React models.

[2019-06-04 05:49] fantasticsoul opened #641 "can rematch offer user auto bind setter"
sometimes i just want to modify store state in a simple way, so can rematch offer user auto bind setter? just like below:
https://stackblitz.com/edit/cc-sync-demo

[2019-06-06 08:01] sven09 opened #642 "Resetting loading state when using it combination with persist"
Hi,
we are using rematch (and loving it) together with the loading and the persist plugins in our expo apps. Du to another external component (barcode scanner) that crashed while the app was loading, the loading state was stored in persist and after restart of the app still true.

Is there a way to reset the loading state  (after app start in our situation) or exclude from persist?

Won't it be an

[2019-06-06 10:43] semoal commented on #642
Hi Sven, on your persist plugin initializer, you can put [redux persist options](https://github.com/rt2zz/redux-persist/blob/master/docs/api.md#type-persistconfig) like this:
[code]

[code]

Probably this will work for you problem mate.

[2019-06-06 18:44] semoal commented on #641
I'm not sure what you need mate, more simply to modify state calling a single function.
Could you be more precise? Thanks

[2019-06-06 19:08] d3dc commented on #641
[Dan Abromav once tweeted](https://twitter.com/dan_abramov/status/793379336309071872?lang=en):

Given that, this type of mixin behavior is easily achieved when you're building your model:
[code]

[2019-06-07 02:32] danawoodman commented on #609
This still breaks for me using the latest versions of everything with:

[code]

This is using code exactly like in the [Typescript recipe](https://github.com/rematch/rematch/blob/master/docs/recipes/typescript.md).

@semoal are you able to get the example working without error?

[2019-06-07 02:49] d3dc commented on #641
Another thought: if you want a root reducer to handle all of the setters, it would be easy to write a plugin that adds a `rootReducer` to the store configuration, and then adds the methods to the store's dispatch when it's ready.

[2019-07-03 04:22] iceberg211 commented on #639
@semoal ,  This is a strong demand and needs help。

[2019-07-03 04:52] d3dc commented on #639
?
[code]

[2019-07-03 06:54] iceberg211 commented on #639
I tried to use decorator to code-split，But it failed because next.js has two rendering methods, causing confusion. Is there a better way? I think it's necessary to do so.
[code]
**withRematch.js**

[code]

[2019-07-09 03:29] dehamzah opened #645 "Code split example"
is it possible doing code split redux with rematch?
anyone can give some basic example?

[2019-07-10 05:31] JiangWeixian opened #646 "npm run test error"
when i checkout this repo, after

[code]

but, i got errors

[code]

[2019-07-11 04:40] iceberg211 commented on #645
I did, but I don't think it's elegant enough. You can use it as a reference and improve it together.
[https://github.com/iceberg211/next-rematch-lazy](url)

[2019-07-11 04:43] iceberg211 commented on #639
Does anyone have a better way?
[https://github.com/iceberg211/next-rematch-lazy](url)

[2019-07-11 05:07] xahon opened #648 "RematchDispatch doesn't inject types"
so I have in my store code
[code]

sample model
[code]
state passed into `mapStateToProps` autocompleted fine,
but `mapDispatchToProps` autocompletes only to model's instance but not its inner `reducers` property
![image](https://user-images.githubusercontent.com/18731681/61023429-53cc8600-a3ed-11e9-8b12-217ff557bcec.png)
the same applies to `effects`

I also tried to install all versions of `reac

[2019-07-13 09:44] PradhumnSingh commented on #257
How and from where to invoke LOCATION_CHANGE action?

[2019-07-15 10:43] HiMrHu commented on #611
I want to be a part of it. I've been using rematch for almost a year now and actively recommend it to others. However, my weakness is that my English is bad

[2019-07-18 02:11] HiMrHu opened #651 "I want to participate in the development of rematch"
I want development rematch, But what do i do. I've started reading the source code.

[2019-07-18 05:24] canyavall commented on #651
I'd start checking the open issues and trying to fix them.

If there's not, then, try to improve the code or think/ask for ideas to implement in rematch as a plugin

[2019-07-18 07:24] HiMrHu commented on #651
ok， i can try

[2019-07-19 06:30] gusleo opened #652 "Support React Navigation v3"
Hi all, I'm trying using existing @rematch/react-navigation to React Navigation V.3, but I get error "undefined is not not function(near '...reactNavigation.addNavigationHelper...')
How I can resolve this issue?

![Screenshot_43](https://user-images.githubusercontent.com/15825376/61514108-c2cf5d80-aa31-11e9-8be6-3a6f624a285a.png)

[2019-07-19 19:51] Javi opened #653 "AsyncStorage has been extracted from react-native core and will be removed into its own module"
Currently, the persist plugin checks out if AsyncStorage is available from redux-persist, but it'll stop working soon. It should use https://github.com/react-native-community/async-storage as a dependency instead.

[2019-07-20 10:16] HiMrHu commented on #645
@dehamzah  like this, the name is must

[code]

[2019-07-25 19:41] Mkaranter commented on #609
Having the same issue in my project. Strictly followed ts + rematch and still getting the same error.

[code]

@danawoodman looks like this is the same issue. Did you find reasonable solution?

<img width="328" alt="Zrzut ekranu 2019-07-25 o 21 39 03" src="https://user-images.githubusercontent.com/20187678/61903426-c0cf3800-af24-11e9-8376-ab53d4a17344.png">

[2019-07-26 04:26] pawelotto opened #654 "This should be the official Redux"
Guys, I can't even find words to express how amazing this library is and it's beyond me why on Earth anyone would still use raw Redux when we have this.

This should be the official implementation of Redux and I want to express my gratitude for your hard work making my life so much easier.

Thank you so much for Rematch.

[2019-07-26 09:15] fnknzzz commented on #648
hi, I found same cases like you. I would pull request for this.

[2019-07-26 10:14] chengzibaba opened #655 "Cannot add models when dispatching actions"
forbid Redux DevTools plugin chrome
loading.effects.xxx === undefined
cmp_2.tsx:6 Cannot read property 'xxx' of undefined
Cannot add models when dispatching actions

https://codesandbox.io/s/rematch-loading-crash-8vgf3

![image](https://user-images.githubusercontent.com/10796720/61944539-7acfae00-afd0-11e9-9b03-f0244858cdf9.png)
![image](https://user-images.githubusercontent.com/10796720/61944609-

[2019-07-27 08:19] fnknzzz opened #656 "fix: better typescript experience"
Our team has been migrating into rematch for about two month,  feels excellent. But finding some typing confusing.

- Now in the repo running `npm run test:ts` would not passed.

- When dispatching, it seems lost typing constrains. For example, now in `example/ts/count/src/App.tsx`, in  `mapDispatch`, you can dispatch whatever you want and not receive any errors. Like dispatching an string, but nu

[2019-08-01 05:11] thinhtran3588 commented on #653
You could change the storage like this:

[2019-08-04 16:23] #655 closed

[2019-08-05 00:51] #588 closed

[2019-08-05 00:51] #586 closed

[2019-08-05 00:51] #376 closed

[2019-08-05 00:51] #590 closed

[2019-08-05 01:51] #558 closed

[2019-08-07 03:19] worldzhao commented on #562
can you get loading autosuggestion by above code?

[2019-08-07 03:24] worldzhao commented on #562
![image](https://user-images.githubusercontent.com/25662450/62592476-dc174b80-b905-11e9-8d9b-57ff1e6a0a22.png)

[2019-08-07 03:41] yqz0203 commented on #562
@worldzhao

I test it and works fine.

Can you check your `@rematch/core` and `typescript` versions？

This is mine

![image](https://user-images.githubusercontent.com/8850879/62593081-1da8f600-b908-11e9-8bd4-d75f8df9e225.png)
![image](https://user-images.githubusercontent.com/8850879/62593093-24d00400-b908-11e9-9970-45b932d77014.png)

[2019-08-07 03:53] worldzhao commented on #562
@yqz0203

[2019-08-07 03:55] worldzhao commented on #562
@yqz0203
![image](https://user-images.githubusercontent.com/25662450/62593616-05d27180-b90a-11e9-91e6-39676698beee.png)
![image](https://user-images.githubusercontent.com/25662450/62593640-1aaf0500-b90a-11e9-87b2-07bfb8b9eac8.png)

I try to install the rematch core version like yours, but it cause other types error...

[2019-08-07 04:28] worldzhao commented on #562
@yqz0203 ok, the function `createModel` in @rematch/core result in this problem... I am a green hand in typescript. But, this is what the official docs recommmend, and will result ln losing the `dispatch` method auto compeleting.https://rematch.gitbooks.io/rematch/docs/recipes/typescript.html , thx

[2019-08-09 04:53] #601 closed

[2019-08-12 10:12] SuJunming opened #660 "Websocket and rematch demo?"
Websocket and rematch demo

[2019-08-12 10:12] SuJunming commented on #660
Can it be provided?

[2019-08-12 10:37] semoal commented on #660
You can follow any Redux tutorial:
https://medium.com/@ianovenden/redux-websocket-integration-c1a0d22d3189

[2019-08-12 10:37] #660 closed

[2019-08-25 18:04] BeKnowDo commented on #654
I'm trying to find "gotchas" and...I can't.

[2019-08-26 04:33] fuafa opened #661 "Some suggestions about the type definition"
My bad, this is correct

~~## The order of overloads matters~~

~~We use a lot of intersection type of functions, which is the same as function overloads. According to TypeScript official docs, function overloads should from specific to general so that we can prevent from always resolving to general cases (any).~~

~~Example:~~

~~The order of the first 3 should be revert.~~

[code]

## The order

[2019-08-27 05:43] #604 closed

[2019-08-27 06:51] #395 closed

[2019-08-27 18:53] iamgollum opened #662 "Consider extending readme examples with hooks from `react-redux`"
https://react-redux.js.org/next/api/hooks

[2019-08-27 23:35] grubstarstar commented on #368
do you mean this?? Will the reducers then respond to the `doSomething` action?

[code]

[2019-08-29 03:19] Yu1989 commented on #611
Have we decided on this? Would love to see an awesome project like this gets maintained properly!

[2019-08-29 12:04] acnebs commented on #292
The issue with using rematch's effects is that there doesn't seem to be a good way to perform a rollback.

I mean sure, you could pull in the store and save the previous value in your function from there, but that seems like a very inefficient way of doing this.

[2019-09-02 11:46] canyavall opened #663 "Fast way to reset the state?"
There's any way to clear and reset the state completely?

[2019-09-02 11:51] semoal commented on #663
Create a root reducer and just call it:

[code]

Then you can call it like this:

[code]

[2019-09-02 12:27] semoal commented on #661
There are already some open pull request that resolves this issue, possibly this week i take a look to all of them and we'll choose the best option.

Feel free to check them out if you want.

[2019-09-03 12:14] loxator opened #664 "Documentation breaks while searching on https://rematch.gitbooks.io/rematch/#getting-started"
The tab freezes when searching on the Left hand bar while at the Getting Started page. Works fine otherwise.

[2019-09-04 05:38] kunaldodiya opened #665 "Data not persisted if action dispatch from another model"
Hi, if I call dispatch from same model, state is being persisted but if i call dispatch to another model, data not persisted on refresh,

For Example

[code]

[code]

[code]

[code]

after refreshing name always the initial state, can you help me with this, am i doing something wrong ?

[2019-09-04 13:51] mathieutu commented on #533
@d3dc This issue was automaticaly closed. Could we reopen it? I've exactly the same question.

[2019-09-04 21:30] DominikSerafin commented on #442
Rematch is great, but this confuses me - why are rematch reducers async?

Shouldn't they be 100% synchronous, just like using redux dispatch?

[2019-09-05 12:09] #664 closed

[2019-09-05 15:07] hardfist commented on #611
we heavily use rematch in our product and nearly fix rematch's typing problem, and I would like to do some help, especially about typescript problem

[2019-09-06 06:35] semoal commented on #645
Feel free to create a pull request for adding this to examples folder.

[2019-09-06 06:55] uy-xela commented on #611
Is it possible that you guys can share a forked version of rematch with better support for typescript? We also heavily use rematch in our typescript project and it would really help us. 😄

[2019-09-06 11:30] kunaldodiya commented on #665
Found the issue, it was immer plugin and redux persist not working well together, removed immer plugin and now it's working again

[2019-09-06 11:30] #665 closed

[2019-09-07 18:54] ShMcK commented on #611
I've added anyone who commented here as wanting to be a collaborator.
This grants you write access for merging PRs (with enough approvals).

I think for security purposes I'll maintain npm publishing control. I've heard some horror stories. If I'm slow to respond, shoot me an email.

Does that sound reasonable?

[2019-09-08 16:11] ShMcK commented on #656
Should be resolved with @rematch/core v1.2 in #657.

[2019-09-08 16:11] #656 closed

[2019-09-08 16:12] ShMcK commented on #661
Should be resolved in @rematch/core v1.2 in #657.

[2019-09-08 16:12] #661 closed

[2019-09-08 16:14] ShMcK commented on #662
Merged with #643.

[2019-09-08 16:14] #662 closed

[2019-09-08 16:15] ShMcK commented on #651
@HiMrHu I've added you as a contributor with write access recently. Thank you for the interest :)

[2019-09-08 16:15] #651 closed

[2019-09-09 06:53] dcefram opened #669 "Rematch documentation"
It seems like the documentation in gitbooks just got broken. Not sure where to report this, just putting it here as there are no other "community" links in the readme.

Vid: https://1drv.ms/u/s!An91-OBinmQQmzFbajU1lE-udFVf

[2019-09-09 06:58] semoal commented on #669
As you can see we migrated from Gitbook to a self-hosted solution: https://rematch.github.io/rematch/

[2019-09-09 07:00] dcefram commented on #669
oh my bad, didn't notice the updated link in this repo's description. Updating bookmarks. Thanks! :)

[2019-09-09 07:00] #669 closed

[2019-09-09 11:51] #638 closed

[2019-09-13 03:52] uhoh-itsmaciek opened #671 "Broken link in README"
The README links to https://github.com/rematch/rematch/blob/master/docs/api.md#reducers which 404s for me. It looks like this eventually ended up at https://github.com/rematch/rematch/blob/master/docs/api-reference/api.md#reducers -- is that right?

[2019-09-14 19:52] ShMcK commented on #671
Thanks, links should be fixed with #672 👍

[2019-09-14 19:52] #671 closed

[2019-09-15 15:58] semoal commented on #648
Probably close on the last version

[2019-09-15 15:58] #648 closed

[2019-09-15 16:08] daniel-stoll opened #673 "not async effects are not typed correctly"
**Describe the bug**
Payload is not infered correctly

**To Reproduce**
Create an effect that is not async
[code]

call the effect from another effect or mapDispatch will result in a typing error:
```dispatch.dolphins.decrementDolphin(123)```

**Expected behavior**
Typed payload or atleast no typing error

[2019-09-15 18:09] semoal commented on #673
Interesting, in what version is happening your issue?

We fixed this issue on version 1.2.0

[2019-09-16 14:58] AdrianMF opened #675 "404 error when trying to access the Migration Guide"
**Describe the bug**
The link to the Migration Guide in the README give a 404 error:
https://rematch.github.io/rematch/#/migrating-from-redux

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/rematch/rematch
2. Click on 'Migration Guide'
4. See error 404

**Expected behavior**
I would expect a link to the Migration Guide. I also tried Googling for "rematch migration gu

[2019-09-16 15:40] semoal commented on #675
Try this url: https://rematch.github.io/rematch/#/migration-guide

Fixed on the pr i submitted right now! Thanks for the ping!

[2019-09-16 15:40] #675 closed

[2019-09-17 07:45] dayze commented on #419
Still having this bug, anyone find a solution for this ?

[2019-09-17 08:00] daniel-stoll commented on #673
i used 1.2.0 ;)
checked out the repo and tried it there aswell and it is not working

[2019-09-17 11:27] Webbrother commented on #663
Not sure but just an idea:

[code]

[2019-09-18 12:42] hardfist commented on #646
caused by redux's bug, see https://github.com/reduxjs/redux/issues/3466  ,should be fixed by https://github.com/rematch/rematch/pull/649

[2019-09-18 12:43] #646 closed

[2019-09-19 23:43] avindra opened #678 "scoreboard labels"
https://rematch.github.io/rematch/#/purpose?id=scoreboard

![image](https://user-images.githubusercontent.com/126848/65288562-43373b00-db15-11e9-990f-2ee3ae3c0b47.png)

Exactly what is meant by the label `async` ?  I find myself confused here. "thunks" are also not the only way to manage side effects with redux. [redux-saga](https://github.com/redux-saga/redux-saga) has been around for 2 years now

[2019-09-20 04:27] lee-aaron opened #679 "Question: Using Rematch Persist"
I'm having trouble getting started using Rematch Persist. I update the state with something then I reload / close & open the app again but the state does not persist. I noticed on using the transform the inbound state when it serializes and persists that the state gets reset to an initial state. The outbound state when it rehydrates has the correct state. Am I setting it up correctly or is there s

[2019-09-20 06:54] semoal commented on #678
For handling async request on redux you need a external library like redux-saga, redux-thunks.
On Rematch, it's just effects with async await. Example:

[code]

With just 30 lines we have implemented a login structure, in a single file.

[2019-09-20 10:03] #653 closed

[2019-09-21 16:35] semoal commented on #679
I can't see anything wrong mate.
Use standard persist, if that works, try step by step.
[code]
If that works, the problem may be your transform method, if the issue persist try to post it on redux-persist. Think that rematch plguin is just a wrapper of redux-persist. Our plugin only has like 20 lines

[2019-09-23 16:10] lee-aaron commented on #679
Hi, Thanks for your response! I will ask them and see what the issue is. Another question I had was I'm not sure if I'm using redux devtools correctly with this application because I have this right now and I see dispatches being called but my console log methods inside the effects aren't being triggered. Am I missing something?

[code]

[code]

[2019-09-24 02:31] Frank1e0927 opened #682 "how to getState from redux api?"
i have a old redux-saga application,
i saw the migration of rematch.

when i code
[code]

but when i use getState() api, i can not get the origin(redux) reducer node
i use getState()  got this structure
[code]

here is some problem

my old app, mapStateToProps have a lot code like this
[code]

it means i should do a lot of remodeling... may be state.XX -> state.reducer.XX

is there something good

[2019-09-24 10:32] semoal commented on #682
Now you have this:
[code]

But rematch doesn't work in that way, you need to specify models:
[code]

Of course you'll need to migrate all your async actions to effects, your reducers to reducers, and state to state in your $(model).js file.

mapStateToProps **never** will contain .reducer

[2019-09-24 10:34] semoal commented on #679
Your questions is duplicated https://github.com/rematch/rematch/issues/419, and probably there's no solution, feel free to post any clue you find.

[2019-09-24 10:34] #679 closed

[2019-09-29 02:45] hardfist opened #684 "add RematchProvider components"
**Is your feature request related to a problem? Please describe.**
It seems that lots of dispatch typescript problems caused by the incompatible api  between React-redux and rematch ,We may provide another Provide component to solve these problems, while keep the origin provider for backward compatible, just like what easy-peasy's doing https://easy-peasy.now.sh/docs/api/store-provider.html
**Desc

[2019-09-29 06:56] HiMrHu commented on #684
thanks

[2019-10-01 00:53] #633 closed

[2019-10-01 16:27] xeoneux opened #685 "Upgrade current immer version to 4.0.0 from ^1.5.0"
**Describe the bug**
The current immer version in the immer plugin is ^1.5.0

**Additional context**
It fixes a lot of issues with immer

[2019-10-03 02:50] ShMcK commented on #685
@xeoneux would you be interested in putting together a PR?
Happy to merge and publish

[2019-10-04 04:38] #685 closed

[2019-10-04 19:58] #642 closed

[2019-10-05 04:36] #641 closed

[2019-10-08 05:01] sdujack2012 opened #688 "Can reducers be dynamically added into a model by using a custom plugins?"
Hi there,

I am trying to add some dynamic reducers to a model by creating a custom plugin. I have tried modifying reducers in onModel function and it didn't work. Then I went through the source code and found out that onModel only uses copied version of the reducers from the model so modifying reducers in onModel function won't work. Can anyone help and suggest some alternative ways of doing it?

[2019-10-08 07:33] canyavall commented on #688
It is funny, I was thinking on that, try to create a plugin that can create one effect + reducer + state + selector only defining the minimum (the selector, reducer and state would be created dynamic).

I'll check it this week, if someone has any idea, please, share it ^_^

[2019-10-08 07:44] sdujack2012 commented on #688
I quickly realised we can create a function that accepts models and adds reducers in these models and then passes the modified models to the config object in the plugin. This way the added reducers will be taken into consideration when creating the store. Hope this helps.

[2019-10-08 14:17] canyavall commented on #688
THx, i'll check, right now I want to create a plugin for error handle, if I can ^_^. Then will focus on this topic

[2019-10-08 22:41] Javi commented on #673
I can second that this is still happening, using `createModel` as well.

[2019-10-09 02:00] hirikarate opened #689 "Effect that shares a name with a reducer is not called"
I want to trigger an effect when the reducer has caught an action from another model, but all my attempts failed.

**First attempt:**

[code]
It throws error `Invalid effect name (watcher/@@router/LOCATION_CHANGE)`

**Second attempt:**

[code]
In this case, the reducer `recordMiracle` is invoked, but the effect with same name isn't but it should be, as [the docs](https://rematch.github.io/rematch/

[2019-10-15 14:41] Neddz commented on #673
I can confirm this is happening to me as well using `"@rematch/core": "^1.2.0"` and `createModel()`

[2019-10-16 21:45] KevinGhadyani-minted commented on #262
For integrating with Redux-Observable, a simple method would be exposing `dispatch` in `dependencies`. I actually just wrote a completely unrelated article on doing this last night: https://dev.to/sawtaytoes/the-best-practice-anti-pattern-jj6

I think epics are far more complex and really shouldn't live in an `effects` object on Rematch. Trying to integrate it in there doesn't make much sense sinc

[2019-10-17 02:43] ShMcK opened #691 "Doc links not working"
On the docs site, links pointing to the same page don't work.

See https://rematch.github.io/rematch/#/api-reference/api and click on "init".

Let's look at the link in api.md.

[code]

The link compiles to:

[code]

Which results in a 404. The link should actually point to:

[code]

---

The same-page link bug may be an issue in our implementation or a bug in Docsify itself.

@semoal what are you

[2019-10-17 17:59] Sawtaytoes commented on #262
For integrating with Redux-Observable, a simple method would be exposing `dispatch` in `dependencies`. I actually just wrote a completely unrelated article on doing this last night: https://dev.to/sawtaytoes/the-best-practice-anti-pattern-jj6

I think epics are far more complex and really shouldn't live in an `effects` object on Rematch. Trying to integrate it in there doesn't make much sense sinc

[2019-10-17 21:41] semoal commented on #691
@ShMcK fixed Shawn, was pointing to a wrong .md section, now all that api reference sections works nice

[2019-10-18 06:17] #691 closed

[2019-10-18 23:11] imbsky opened #693 "Don't pin parser to TypeScript for Prettier"

[2019-10-19 16:53] DalderupMaurice commented on #611
What exactly are the TS problems?
We were debating to start using rematch (in a TS project) now that development is active again

[2019-10-19 22:03] Gerlison opened #695 "Can't pass payload as Object to actions"
**Describe the bug**
I have an async action and I pass it to component via mapDispatch (like DOC says to do). When I pass the payload like a String or an Array it's work beautifuly. But if the payload passed is an Object or a variable that contains an Object it throws `arguments[0].indexOf is not a Function`

**To Reproduce**
Steps to reproduce the behavior:
1. Setup rematch as Doc leads
2. Call a

[2019-10-20 10:27] #652 closed

[2019-10-24 06:31] YanYuanFE commented on #409
[code]

[2019-10-24 06:49] semoal commented on #695
Could you provide a minimal example to reproduce? Like a codesandbox, o stackblitz

[2019-10-25 01:05] Gerlison commented on #695
The first time I experienced the issue in a RN project, I could not reproduce it on codesandbox. I'll recreate the same situation of the first time, publish it to a repo and pass the link here as soon as possible. Thanks for support.

[2019-10-25 21:36] #695 closed

[2019-10-27 06:44] filipyoo opened #696 "Cannnot see store states with Reactotron"
**Describe the bug**
Despite following the [doc](https://rematch.github.io/rematch/#/recipes/devtools?id=reactotron) to set up Reactotron with rematch, cannot show store state/effects.
I have the latest version of rematch (1.2.0)

**Expected behavior**
Properly shows store states/effects, but only asyncstorage/api reponse are shown.

**Additional context**
Here's my setup:
In `~/store/Reactotron.c

[2019-10-28 07:35] BlueSky1997AL opened #697 "Trouble while using enum as payload with Typescript"
**Describe the bug**
In `RematchDispatcher<P = void, M = void>`, when `P` is enum type, get unexpected dispatch function type. The `extends` operator in type `RematchDispatcher` seems to expand the enum type passed by the generic `P`. This behavior block me from using enum type as payloads.

**To Reproduce**
I declare a model named `test`, payload of its dispatcher `setNewTest` is an enum: `TestEn

[2019-10-31 03:58] sdujack2012 opened #699 "Can 'config' also be a function that accepts 'currentConfig' as a parameter?"
**Is your feature request related to a problem? Please describe.**
I have been using Rematch for building the data layer of my appliactions. I like that fact that Rematch provides plugin apis that allow for some awesome magic which can't be achieved easily by Redux. But the 'config' in the plugin apis is quite limited and there is no easy way for plugins to communicate on 'config' because 'config'

[2019-10-31 05:27] pjamrozowicz commented on #699
I stumbled upon the same issue - making plugins work together, specifically Immer and Persist, as well as the lack of ability to create nested persisted reducers. I’m on the mission to make it happen as I really like the idea of rematch ;) but there are some things that need to be done before that - some cleaning up etc. that I’m currently working on, and the time is limited of course so it might

[2019-10-31 05:41] sdujack2012 commented on #699
Hi pjamrozowicz,

Thank you for your reply. I also like the idea of Rematch and am keen on I improving it. I would like to contribute to it as well. I have studied the source code for some while now and roughly know how to do it. I understand that we all have our own business to do. But do you mind if I raise a pr for the proposal?

Cheers,
Kai

[2019-10-31 05:59] pjamrozowicz commented on #699
I think @ShMcK should answer you, as he is the one in power. Although, I must tell you that I've already offered another solution for this, which is a little bit different than yours and doesn't concern plugins with checking if `combineReducers` is already defined or not.
I would love to implement it right away as it's really not that big, but before we make the code more complicated, it would be

[2019-10-31 08:08] sdujack2012 commented on #699
Hi @pjamrozowicz ,

My proposal is not limited to solving just combineReducers and could help solve a range of issues that people have encountered with plugins. But I agree with you that we need to make it cleaner before we implement it.  I'd love to help you with that if you can share with me your solution. I am always happy to help. I have implemented several Rematch plugins for some projects at

[2019-10-31 11:59] JiangWeixian commented on #262
https://github.com/JiangWeixian/rematch-observable

welcome use and debugs

[2019-10-31 23:02] pjamrozowicz commented on #699
Sure, I'm not saying it's limited to just combineReducers problem - actually it solves many issues so I guess your idea could be implemented too.
It just makes creating plugins a bit more complicated, since you need to understand rematch implementation details and check if combineReducers is already defined etc.

What I had in mind was to also add a couple of additional 'hooks', for example - `onR

[2019-11-01 00:08] sdujack2012 commented on #699
Hi @pjamrozowicz ,

Thank you for your reply. I think our ideas will work well with each other. I really like your idea of onReducer and onRootReducer for providing ability to enhance reducers.

My proposed feature is to provide an option to merge configs provided by mutiple plugins instead of just overriding. Also it is backward compatible. So existing plugins will still work and new plugins can

[2019-11-03 04:34] #693 closed

[2019-11-03 04:42] ShMcK commented on #699
I wonder if merging configs might even still be backward compatible for the vast majority of users.

I tend to lean towards a simpler API with fewer options and defaults that fit the majority of use cases. Any breaking changes could be documented in the CHANGELOG.

[2019-11-03 22:41] sdujack2012 commented on #699
Hi @ShMcK and @pjamrozowicz  ,

Thank you for your reply. To demonstrate what I really want to achieve. I have create a pr in my own forked rematch repo.
https://github.com/sdujack2012/rematch/pull/1
Please have a look when you have time.

This feature helps create plugins that are smarter and more 'responsible'. With this feature we can have the following benefits:

It is 100% backward compatible

[2019-11-05 00:18] Aircity commented on #237
https://redux.js.org/recipes/code-splitting#code-splitting
How to use things like [redux-dynamic-modules](https://github.com/Microsoft/redux-dynamic-modules) in rematch?

[2019-11-05 00:29] pjamrozowicz commented on #237
Rematch provides the ability to dynamically add models/reducers using `store.model` function (https://rematch.github.io/rematch/#/api-reference/api?id=storemodel). Is there a use case where you would like to use specifically redux-dynamic-modules?

[2019-11-05 16:01] dayze commented on #419
After further investigations I find the issue
From **remote-redux-devtools** documentation :
[code]
In rematch, enhancers are always compose with ```Redux.compose``` if **redux-devtools** is disabled

From **redux.ts**
[code]
A way to make rematch works with **remote-redux-devtools** is to expose a **customCompose** property which can be used like this
[code]
and something like this in **redux.ts*

[2019-11-07 10:14] simonsmith opened #712 "[Question] How to use dispatch type without exporting with typeof?"
All the examples I see show the following type exported from the `./store` file:

[code]
My issue is I'm creating my store in a function like the below:
[code]
The reason for this is so it can be created fresh each time when server rendered (as seen in the [Next example](https://github.com/zeit/next.js/tree/canary/examples/with-rematch))

Is there a way for me to achieve the same typing without ac

[2019-11-08 03:20] sdujack2012 commented on #712
Hi @simonsmith,
 It looks correct to me.
The value from init() is of type RematchStore which has dispatch as type RematchDispatch<Models>.
RematchDispatch<Models> automatically derives reducers and effects for dispatch according to Models.

Please refer to https://github.com/rematch/rematch/blob/master/src/typings/index.d.ts#L129 for reference.

Cheers,
Kai

[2019-11-08 06:52] #639 closed

[2019-11-10 09:00] dakiesse opened #713 "[Question] Getters for models"
I have a model:
[code]
I've wanted to include in the model a new property for getting calculated values the are connected with this model. For example, I wanted to get one of several text for button depending on the currentStage. And I've decided to make a new plugin for adding new property 'getters':
[code]

This plugin does the same thing as 'effects' but only for 'getters' property and has non-

[2019-11-16 01:46] vimcaw commented on #509
I tried this config in rematch 1.2.0 and redux-undo 1.0.0-beta9-9-7, but it doesn't work and cause many problems, such as some component doesn't rerender after the used model updated.

[2019-11-16 02:01] vimcaw commented on #509
even I just set `combineReducers` to `reducers => combineReducers(reducers)`, nothing else, it still causes many problems, such as some component doesn't rerender after the model they used updated.

[code]

[2019-11-16 06:11] vimcaw commented on #509
I found the reason, multiple `combineReducers` config (whether on `init` config or plugin inner) will cause conflict, this is also why `immer` and `persist` plugin can't work together.

[2019-11-20 08:31] chenjizhao opened #715 "[Question] Check loading inside effect"
One important purpose for loading handling is to avoid calling one effect the second time when there is already another call undergoing for same effect. Before using rematch, this logic is done like below with redux-thunk:
[code]
By using rematch loading plugin, the code looks like:
[code]
Now the problem is that I found when the effect is been called. Loading flag for that effect is directly chan

[2019-11-22 09:43] 777PolarFox777 opened #716 "Incorrect type inference when payload is a union type"
**Describe the bug**
I have a model like this:
[code]
It looks like when I'm using just string or ModalState everthing is ok and my `dispatch.modal.show` reducer type is something like this `(payload: string) => Action<string, void>`.

But when I'm using union of ModalState and string type of `dispatch.modal.show` becomes like this `(action: Action<any, void>) => Dispatch<Action<any, void>>`, so I

[2019-11-22 12:40] 777PolarFox777 commented on #716
Okay, I've tried to apply changes from this PR: https://github.com/rematch/rematch/pull/714
It fixes not only enum types, but also union types too!

[2019-11-22 17:27] #716 closed

[2019-11-25 09:31] BlueSky1997AL commented on #697
See [distributive conditional types](http://www.typescriptlang.org/docs/handbook/advanced-types.html#distributive-conditional-types) for more information

[2019-11-25 09:31] #697 closed

[2019-11-28 06:48] FirsovRG commented on #515
@Krasnov8953, I have the same problem too

[2019-11-28 06:52] sup4x commented on #515
Guys, I have the same problem as guys have @Krasnov8953 , @FirsovRG

[2019-11-28 09:24] Krasnov8953 commented on #673
Anybody found the solution for this?

[2019-11-28 14:03] daniel-stoll commented on #673
I think i found the bug in the index.d.ts.
The type ExtractRematchDispatchersFromEffectsObject only gets passed down ExtractRematchDispatcherAsyncFromEffect for all effects.
Since we can't use an optional type here, it is better to extend the ExtractRematchDispatcherAsyncFromEffect with the missing synchronous dispatched functions.
In my project this does the trick, however, I wasn't able to get t

[2019-11-28 14:38] ShMcK commented on #515
Happy to review any PRs that resolve the issue

[2019-11-29 10:06] Krasnov8953 commented on #673
No itsn't working for me, "@rematch/core": "^1.2.0", model initialized without createModel helper.

[2019-11-30 01:35] Oba-One opened #717 "Add types for React-Navigation"
Hi! I love rematch and typescript, and currently I'm using the persist, immer, and navigation plugins. The navigation plugin doesn't have a `index.d.ts` file when importing it. I manually added it in my `node_modules` and was going to make a pull request to add it to the plugin but wasn't sure how to approach it. It's probably a quick fix and is more of a convenience than an issue.

[2019-11-30 22:09] semoal commented on #717
Feel free to create a fork with your index.d.ts implemented, and we'll review it!

[2019-12-02 12:28] #609 closed

[2019-12-04 09:03] canyavall commented on #713
Maybe I missunderstood what you want to do, but it looks like the select plugin to me

[2019-12-04 09:07] canyavall opened #721 "When using store.model typescript drives crazy"
**Describe the bug**
When using store.model to add a model to an existing store, the store types don't include the new model

**Expected behavior**
After using store.model() and add a new model, the store.dispatch didn't recognize the new model in the store. Is expected that types are working properly and the new model can be recognized

[2019-12-04 15:10] QuentinouLeTwist opened #722 "[Question] How to properly mutate the state in a reducer ?"
Hey guys,

I was trying to update an element in array of objects. Basically I have an array of object and each object has a `status` property. I'm looking for updating the `status` property using a reducer.

This is pretty straightforward but I'm missing something. So first I was trying this :

[code]

But that does not affect the state in my model so then I tried the following :

[code]

And that

[2019-12-05 05:28] QuentinouLeTwist commented on #721
Could you share your piece of code ?

[2019-12-05 07:15] canyavall commented on #721
`
import React from 'react';
import {ImageProps} from "./ImageTypes";
import {dispatch, store} from "../../store";
import ImageStoreModel, {isImageIdInFailedImages} from './ImageStoreModel'

store.model(ImageStoreModel)

const ReactImage: React.FC<ImageProps> = (props) => {
    const {src, imageId, fallbackUrl, width, height, alt} = props

    let imageSrc = src
    if (isImageIdInFailedImages(ima

[2019-12-05 08:03] hardfist commented on #722
[code]
just use immer

[2019-12-05 12:52] QuentinouLeTwist commented on #722
Ok so If I summurize, the state is not getting updated when returned like in the first piece of code because rematch compares the object returned to the model's state and since this last has already been updated directly in the method (because passed by reference I guess), it does nothing. Am I correct?

[2019-12-06 04:13] hardfist commented on #722
yes， but it's redux do the optimization to pass unnecessary rerender

[2019-12-06 11:22] #722 closed

[2019-12-08 15:10] 777PolarFox777 opened #723 "TypeScript gives type error in effects"
**Describe the bug**
I've tried some examples from docs:
[code]

And this code gives me an error in effects field of my model:

[code]
I assume this might be because of RematchDispatch<void> type. It is incompatible with RematchDispatch<RootModel>.

**Expected behavior**
Work without any errors.

**Desktop (please complete the following information):**

- OS: Window 8.1
- Browser: Chrome 78

**Add

[2019-12-13 03:46] onlyling commented on #723
I met it too.
[code]

[2019-12-13 06:01] 777PolarFox777 commented on #723
As a temporary solution I use `dispatch: RematchDispatch`. It works but no method suggestions available on models.

[2019-12-14 19:39] daveowenatl opened #725 "How to access state from an effect"
Redux Thunk documentation provides the following example:

[code]
I am curious how to achieve a similar conditional dispatch using Rematch.

I see a number of old questions asking the same thing, but I'm thus far not able to find anything that works.

[2019-12-16 10:29] thinhducngo commented on #725
Your question is not clear. Try this (I think this can solve your problem):

`
effects: dispatch => ({
        async incrementIfOdd(payload, state) {
            const { counter } = state;
            if (counter % 2 !== 0) {
                this.increment()    // or dispatch.counters.increment()
            }
        }
    })
`

[2019-12-16 10:47] thinhducngo commented on #715
Instead of using loading plugins, u can use your local loading.
[code]

[2019-12-17 17:30] crazy4groovy commented on #725
Nice, the answer that I was I was looking for now! :)

(`this` only contained namespaced dispatchers from the effects' model)

[2019-12-19 06:38] Aircity commented on #444
@rematch/persist 1.1.6 persist does not work after using store.model() method.
 I’ve run into the problem, too.
And it seems run well, when your Redux-DevTools is on. 😅To find the problem, you must turn off your Redux-DevTools.

[2019-12-19 07:03] Aircity commented on #444
@ShMcK

[2019-12-19 23:41] #678 closed

[2019-12-20 06:51] #725 closed

[2019-12-20 10:29] #713 closed

[2019-12-20 14:32] simonasdev opened #726 "Effect with typed rootState parameter causes incorrect dispatch function type"
**Describe the bug**
When effect's `rootState` parameter is assigned a type any other than `any`, that effect inside dispatch object becomes incorrectly typed. Removing the type from `rootState` parameter also prevents this issue (since it's the same as typing it as `any`)

**To Reproduce**
Model:
[code]
Somewhere else:
`dispatch.model.updateCurrentUser(payload)`
Produces error:
`Property 'type' i

[2019-12-23 18:47] #654 closed

[2019-12-24 10:21] wssjq198913 commented on #395
I have the same issue,  does anyone have a workaroud?

[2019-12-24 16:58] pjamrozowicz commented on #395
@wssjq198913 I would suggest waiting for the version 2 to be released, I fixed this bug there: https://github.com/rematch/rematch/pull/720

[2019-12-25 05:16] #682 closed

[2019-12-29 14:46] #684 closed

[2019-12-30 05:03] snipebin commented on #395
@wssjq198913  I resorted to using [immer](https://immerjs.github.io/immer/) directly instead of `@rematch/immer` and so far works without problems. Notice the use of `produce` on example below:

my-tabs-model.ts

[code]

store.ts

[code]

[2020-01-02 11:35] Izhaki opened #735 "Justification of this project in light of Redux Toolkit (rtk)"
[Redux Toolkit](https://redux-toolkit.js.org/) seems to have many parallels to this project. It is an official redux project.

The documented rationale of this project seems to target conceptual and pain-points with 'classic' redux that are equally addressed by the Redux Toolkit.

So the question is: How this project differs from Redux Toolkit? I think this should be added to the docs.

[2020-01-02 11:37] Izhaki commented on #654
The official Redux Toolkit seems to have many parallels to this project.

See https://github.com/rematch/rematch/issues/735

[2020-01-02 18:06] d3dc commented on #735
Rematch allows Redux to be extended with plugins that introduce "kinds" of reducers. This helps remove the boilerplate and conceptual overhead for more complex interactions.

It also adds Typescript and has been attempting to do type inference, something that has to be a little opinionated.

There are also some opinions baked in like strict scoping of side-effects to models - this has come up in i

[2020-01-02 18:09] mathieutu commented on #735
I've tried rtk for a while before leaving it in favor of rematch.

I've chosen rematch because of:
- async effects handling,
- easier typings because of everything in models,
- the plugin api which allows really awesome things very quickly,
- action dispatcher directly integrated instead of actions creators (I was afraid of this one initially, but I can't do without it now)

And in fact, rematch i

[2020-01-04 07:08] #645 closed

[2020-01-08 07:38] oyo-ravi-yadav commented on #534
facing this issue again `"@rematch/core": "^1.3.0",`
sample repo : https://github.com/raven619claw/starter-kit/tree/develop

[2020-01-11 08:51] duyphanz opened #736 "Rematch loading plugin return integer values instead of boolean values"
**Describe the bug**
I've tried to reset the store by following [this](https://github.com/rematch/rematch/issues/663). And, I found that the value types from rematch loading plugin have been changed from boolean to integer.

I have an [example](https://github.com/phanduy12214/test-rematch) based on an [nextjs-with-rematch example](https://github.com/zeit/next.js/tree/canary/examples/with-rematch),

[2020-01-15 11:55] #663 closed

[2020-01-16 04:52] zhangshichuan opened #737 "Cannot get mapState data"
hello everyone.
![image](https://user-images.githubusercontent.com/8280832/72494470-ea777500-385e-11ea-8383-48a7c02fe352.png)
![image](https://user-images.githubusercontent.com/8280832/72494479-f19e8300-385e-11ea-8500-6d3941aaa896.png)
![image](https://user-images.githubusercontent.com/8280832/72494524-172b8c80-385f-11ea-8e1e-354a98f50546.png)

[2020-01-16 04:55] zhangshichuan commented on #737
I wrote according to the official document example. But I can't get the data in mapState through props. Print the state to delete undefine. But the method in my mapDispatch can be called normally. The first time I use rematch. Please give pointers!

[2020-01-16 04:56] zhangshichuan commented on #737
I wrote according to the official document example. But I cannot get the data in mapState through props. The state output is undefined. But the methods in my mapDispatch can be called normally. The first time I use rematch. Please give pointers!

[2020-01-16 04:57] zhangshichuan commented on #737
![image](https://user-images.githubusercontent.com/8280832/72494734-c700fa00-385f-11ea-81c0-35269b102cf7.png)

[2020-01-16 04:59] zhangshichuan commented on #737
![image](https://user-images.githubusercontent.com/8280832/72494801-f3b51180-385f-11ea-9692-590aad8dab96.png)
![image](https://user-images.githubusercontent.com/8280832/72494819-016a9700-3860-11ea-8201-961142506225.png)

[2020-01-16 19:48] oyo-ravi-yadav opened #738 "Redux warning for using minified code outside of NODE_ENV === 'production'."
**Describe the bug**
Getting this warning when building prod webpack config and running it

[code]

https://github.com/rematch/rematch/issues/534
I think this was already mentioned and resolved but is still happening

**To Reproduce**
Steps to reproduce the behavior:

clone https://github.com/raven619claw/starter-kit/tree/develop
run `yarn`
`yarn build:prod` and then start with `yarn start:prod` a

[2020-01-17 12:41] simonasdev commented on #726
idk if this is my setup problem or else. Unable to reproduce this consistently. Also might be fixed with #733

[2020-01-17 12:41] #726 closed

[2020-01-20 08:10] thehappycoder opened #739 "Type inference isn't great with Typescript"
I am trying rematch for the 1st time. Unfortunately, it is not acceptable to me that the inference isn't great. Please let me know if it's a bug. I left some comments in the code.

[code]

[2020-01-28 13:38] gaoqiang19514 commented on #268
How's it going?

[2020-01-30 08:15] kenberkeley commented on #723
I tried these approaches:

1. https://rematch.github.io/rematch/#/recipes/typescript
2. https://github.com/rematch/rematch/tree/master/examples/ts/count
3. https://github.com/rematch/rematch/tree/master/examples/ts/strict-count

None of them work.

Thanks @onlyling for the awesome workaround!

[2020-01-30 23:44] #717 closed

[2020-02-03 17:50] 777PolarFox777 commented on #739
Try to set some types explicitly:
[code]

[2020-02-03 21:02] thehappycoder commented on #739
@777PolarFox777

That may be OK.

But this is not, unfortunately.

I tried redux-toolkit's slices, which only required me to explicitly define types for actions. Works well so far.

[2020-02-05 17:59] #688 closed

[2020-02-06 04:14] #689 closed

[2020-02-06 18:08] andrejunges commented on #689
I don't think this issue should be closed.
I believe this is a valid bug and the expected behaviour would be having the effect listeners being triggered, no matter the model.

[2020-02-11 17:04] #712 closed

[2020-02-13 12:24] blade254353074 commented on #562
[code]

[2020-02-14 14:09] roryokane commented on #735
[This roadmap for Redux Toolkit][comment], written in 2019-01-21, includes a short comparison to Rematch:

Assuming Redux Toolkit’s goals have not changed since then, that comparison could be used as the basis for a comparison in Rematch’s docs.

[comment]: https://github.com/reduxjs/redux-toolkit/issues/82#issuecomment-456261368

[2020-02-16 21:15] #611 closed

[2020-02-19 16:51] lgenzelis commented on #562
@blade254353074 that's amazing! You should totally make a PR with that.

[2020-02-22 19:22] #723 closed

[2020-02-22 19:38] ShMcK commented on #739
Type inference issues may be resolved with #742

[2020-02-25 12:52] #696 closed

[2020-02-27 12:17] daniel-stoll commented on #673
tried it with the new version 1.4.0 and it is still not working. It is not that bad since the effects most of the time are async.

[2020-03-03 02:27] #699 closed

[2020-03-24 09:26] kunaldodiya commented on #337
https://github.com/kunaldodiya/rematch-redux-orm

[2020-03-27 12:35] krunaldodiya opened #752 "Even Easy-Peasy State Management has computed property"
I like this a lot as a state management solution, But the main feature lacking in this system is computed property,

Sure We can access any computed value using selector but it's pain, imagine if we have to use authUserSelector to almost all screen and we have to add additional line of code,

with selector

[code]

but in computed property, it is too easy to access like

[code]

Please add built i

[2020-03-28 20:45] TuiMao233 opened #753 "这样的设计如何?"
[code]

[2020-03-31 08:22] semoal commented on #753
We can't help you on chinese mate.
Feel free to ask in English, thanks.

[2020-03-31 08:22] #753 closed

[2020-03-31 08:26] #739 closed

[2020-03-31 08:29] semoal commented on #737
Are you still having problems?
I'm not sure if that type of reducers works well.

[2020-03-31 09:35] beilunyang commented on #557
I also met the same problem, Have you solved it?

[2020-04-01 11:14] stefensuhat opened #754 "@rematch/loading keep returning undefined during initialization"
When I put loading plugin keep returning `Error: Reducer "loading" returned undefined during initialization. If the state passed to the reducer is undefined, you must explicitly return the initial state. The initial state may not be undefined. If you don't want to set a value for this reducer, you can use null instead of undefined.`

[code]

Using latest version.

[2020-04-01 12:28] #754 closed

[2020-04-03 09:06] #721 closed

[2020-04-04 17:10] theunreal commented on #385
@kdela I tried the same and got reactReduxFirebase.reactREduxFirebase is not a function, this is my store code:

[code]

[2020-04-05 12:54] theunreal opened #755 "Integration with react-redux-firebase"
**Describe the bug**
Unable to integrate with react-redux-firebase

**To Reproduce**
Try to integrate react-redux-firebase with rematch

**Expected behavior**
No errors

**Screenshots**

I have tried to integrate react-redux-firebase with rematch using the following code:

[code]

But app crash with the following error:

`Invariant Violation: Invalid hook call. Hooks can only be called inside of t

[2020-04-06 19:53] avrame opened #756 "Equivalent to redux's store.subscribe()?"
I'm working to replace Redux in a complex web app with Rematch. The existing code is using `store.subscribe()` to attach listeners for when certain models are updated. I'm guessing that the "Rematch way" of doing this is to add effects to the Rematch models, but I don't want to radically alter the structure of the app - state watch handlers should be able to be added anywhere in the code. Does rem

[2020-04-06 21:13] avrame commented on #756
Thanks @semoal  but I think my scenario is different. I need a way of subscribing to any change to any of the models.

[2020-04-06 21:30] pjamrozowicz commented on #756
@avrame rematch store is basically a redux store with extra properties so it also has the very same `store.subscribe` method. I've never used this approach personally but in general, every action, from effect or not, reaches the store, so I guess the subscribe approach should trigger for any action.

[2020-04-07 18:22] avrame commented on #756
ok, thanks @pjamrozowicz - I'll take another look and see if I can get it working.

[2020-04-14 12:14] #715 closed

[2020-04-17 21:30] bitlab-code commented on #756
@avrame

You can create your own plugin.

In my case I needed to attach a listener whenever a field in the model are updated, so i've created a simple plugin that use [redux-whenever](https://github.com/caiogondim/redux-whenever.js).

but it must be said that the documentation on plugins should be improved

[2020-04-19 14:48] th3d0g commented on #533
Second that.

[2020-04-20 00:34] TomasTarasovic commented on #609
I had the same issue as @Mkaranter and @danawoodman.
I am using "@rematch/core": "^1.4.0", "react-redux": "^7.2.0", "typescript": "~3.7.2"
Is there any working solution without errors?
I would like to use connect not hooks.
@semoal
Thanks, guys!

[2020-05-01 09:16] reflash opened #758 "Using rematch with Redux Hooks"
Hi,

I was checking out documentation and I'm wondering if rematch supports redux hooks at the moment. I can't find any examples in the docs. Currently Redux can use hooks like `useSelector, useDispatch, useStore`, so what is the approach with rematch?

Also [https://rematch.github.io/rematch/#/recipes/typescript?id=select-plugin](https://rematch.github.io/rematch/#/recipes/typescript?id=select-pl

[2020-05-07 06:42] tangdw commented on #758
`import { useDispatch, useSelector } from 'react-redux'
`

[2020-05-12 00:52] #736 closed

[2020-05-12 15:04] Hainesy commented on #758
How do we use `useSelector` in conjunction with the selectors plugin?

[2020-05-13 22:00] d3dc commented on #758
right now:
[code]

[2020-05-15 22:00] roryokane commented on #735
This is still an issue. The [README](https://github.com/rematch/rematch/blob/master/README.md) still does not mention “Redux Toolkit” or “RTK” at all.

[2020-05-15 23:08] Izhaki commented on #735
Oddly, we are using RTK, but soon we'll have to port some of our system into a system using Rematch, and the question surfaced again... why Rematch?

I think it would be really useful if people can see the benefits of Rematch over RTK (and possibly vice versa).

[2020-05-17 07:01] tangdw commented on #735
why Redux Toolkit?

[2020-05-18 06:48] tomploem opened #759 "Property '..' does not exist on type 'never'"
**Describe the bug**
I am building a react app (typescript) and used the examples. All examples use one type "sharks state = number" and i am trying to expand the example with an 'authentication' object. Defining the the model in a "mapDispatch" or "mapState" triggers following error:

**Property 'isAuthenticated' does not exist on type 'never'**

The error is also triggered when i want request an

[2020-05-18 09:29] javaLuo commented on #759
typescript 3.8.3 is work.
3.9.2 error

[2020-05-18 11:59] endro-00 commented on #759
Thanks, it works now!

Let me know if you need some help testing if it works again. For now, i did a rewind to 3.8.3

[2020-05-20 10:02] mtt87 commented on #759
Same issue, works with 3.8.3 but not with 3.9.2, the problem seems to be `never` here:
[code]

Not sure how to solve it, first time I see `never` being used 👀

[2020-05-20 12:46] Hainesy opened #760 "Model missing on dispatch object in effects."
Using the effects API like such:

`effects: ({ model1, model2, model3 }: Dispatch) => ({ ... })`

In one particular scenario I am finding one of my model's effects is not defined on the dispatch object.

Is there anything that would prevent one of the models appearing?

It works fine when using `useDispatch<Dispatch>().model3`.

[2020-05-21 01:33] kingdavidmartins opened #761 "Issue migrating from Vanilla Redux TS -> Rematch TS"
**Describe the bug**
Seems that in Rematch core currently as is init({}) can't merge inferred types from `models` and ported over types from `reducers`.

**To Reproduce**
[code]

Anywhere we do the following
[code]

We get the following

[code]

Ideally I would like to do something like

[code]

Any suggestions with getting `LegacyStore` to play nice with init?
- iOS
- Browser chrome

[2020-05-21 20:47] slashwhatever opened #762 "Adding a method to actions"
I'm using rematch in a new project which relies on an older library which uses [redux-act](https://github.com/pauldijou/redux-act) internally. One of the things redux-act does is add a `getType` method to action creators - this method just returns the string name of the action.

I need to create a plugin to enhance "actions" in rematch so when the older library goes to call `getType()` on an actio

[2020-05-28 10:52] Hainesy commented on #760
Is there a way round this? At the moment this is blocking me completely.

[2020-05-28 18:25] JEkedorff opened #763 "Re-use selector from another selector?"
Hi!

I love the lib. Great work!

I need some minor guidance, any help would be very appriciated.
I am trying to re-use my first selector 'selectedItemKey' from my second selector 'selected**Sub**ItemKey, to navigate to the correct sub-item in a deep object in store '.

I was hoping below code would work, but it fails in 'selectedItemKey' saying my model name is not a member of the provided state.

[2020-05-29 00:59] pjamrozowicz commented on #760
Could you include some code example so we could replicate your problem?

[2020-06-01 13:12] Micev opened #764 "initial state overwrite models"
Hi it seems that initial state overwrite models

Here is my example:
`const store = (init({`
    `name: 'test',`
    `redux: { initialState },`
    `models: ({ ...models} as unknown) as RematchModels`
  `}) as unknown) as Store;`
`store.select.getState = (state: RootState) => state;`
`

Where `initialState = { currency: 'USD' } ` and `models: {currency: 'USD', selected: 'PM' }`

After invoke store

[2020-06-03 12:15] slashwhatever commented on #763
Assumes initial state is something like:

`
{
  items: {
    byId: {}
  },
  lastQuery: {}
}
`

You're using the select plugin which means you have access to `createSelector` and you can use other selectors to create another new one:

`selectors: (slice, createSelector) => ({
  _items() {
    return slice(({ items }) => items.byId);
  },
  _lastQuery() {
    return slice(({ lastQuery }) => lastQue

[2020-06-03 12:18] slashwhatever commented on #464
How did this issue die? Never implemented?

[2020-06-04 03:48] pjamrozowicz commented on #464
It was never implemented but it could be a nice addition to the v2 PR if someone wants to join me in improving rematch:
https://github.com/rematch/rematch/pull/720

A few places would need to be updated:
- the code itself
- tests
- examples
- documentation

[2020-06-04 14:29] JEkedorff commented on #763
Thanks a lot!

[2020-06-04 14:29] #763 closed

[2020-06-11 13:42] zhangjing28 opened #769 "Property 'increment' does not exist on type 'never'"
I got `Property 'increment' does not exist on type 'never'` while running the examples of hooks in ts
**To Reproduce**
just run the https://github.com/rematch/rematch/tree/master/examples/ts/hooks project

Add:
I found the it was because of code [here](https://github.com/rematch/rematch/blob/master/src/typings/index.d.ts#L69) Maybe it can't be `never`.
And i did some search about [How do I dynamic

[2020-06-12 13:22] bdevo1896 commented on #769
I have also just run into this problem.  Weird thing is that it was all working fine a week ago and without changing any of my Rematch code or mapped components using the Dispatch, it just all broke with types only. For some reason though, it will still build, run, and execute dispatched reducers, so I'm at a loss for what is happening.

[2020-06-12 14:03] bdevo1896 commented on #769
So, I did a pretty hacky way of getting the inferred types. The createModel function works pretty well because it gives help in the model and outside for at least the function names and some typing, but the tradeoff of using createModel is that you can't use the dispatch factory. Like so:

`
effects: (dispatch: Dispatch) => ({
//functions go here...
})
`

Now the model looks like this:

`
import {

[2020-06-13 13:31] zhangjing28 commented on #769
@bdevo1896 It works, but when I  try declare the state as an object, I got the property of state does not exist on type 'never'. By the way what's the typescript version on `package.json` in your project

[2020-06-15 04:37] bdevo1896 commented on #769
I'm actually stuck on a new problem where RematchDispatch is not typing correctly at import. I'm on typescript version 3.6.5 for testing purposes, but the latest or not, the problem didn't change.

[2020-06-15 07:26] naponmeka commented on #769
@zhangjing28 ```Property 'kind' does not exist on type 'never'.``` is related to typescript 3.9 (Intersections Reduced By Discriminant Properties) which is more aggressive. I believe there's some issue within the rematch code base. I'm rolling back to typescript version 3.8.3 for my project. If you are using vscode please make sure the editor is using typescript from the project (open a .ts/.tsx f

[2020-06-15 08:38] zhangjing28 commented on #769
@naponmeka Thanks, there is no such error on typescript version 3.8.3.  I agree with you, , So I will keep this open util find issue within the rematch code

[2020-06-22 09:05] NoemiRozpara commented on #769
I believe this PR solves this issue https://github.com/rematch/rematch/pull/720 let's keep our fingers crossed for the quick merge 🤞

[2020-06-27 23:38] mgutz commented on #735
tldr; RTK seems to be the create-react-app for redux state---inflexible but good enough.

Just some quick thoughts after a quick use of RTK

Immer is opt-in in rematch. RTK uses immer to protect users against themselves. I see their point. We've run into bugs where an engineer did not properly immutably update state. Still, I prefer immer to be opt int maybe the 5% of our reducer functions where p

[2020-06-29 03:29] #673 closed

[2020-07-02 21:09] feelthepain444 commented on #385
@theunreal I got it working this way :

[code]

Then in my `App`:

[code]

[2020-07-15 08:05] Coder-JJ commented on #395
try this out: [rematch-immer-combine-persist](https://github.com/Coder-JJ/rematch-immer-combine-persist)

[2020-07-15 08:05] Coder-JJ commented on #557
try this out: [rematch-immer-combine-persist](https://github.com/Coder-JJ/rematch-immer-combine-persist)

[2020-07-27 12:45] tianzhich opened #787 "Rematch can not extract dispatchers's type from model"
**Describe the bug**
I followed the [recipe about using rematch with TypeScript](https://github.com/rematch/rematch/tree/master/examples/ts/count/). It seems that TS can not extract the correct types from model dispatchers. Please see below.

**To Reproduce**
Steps to reproduce the behavior:

1. You can check out the source code on [my codesandbox](https://codesandbox.io/s/rematch-typescript-8mit8

[2020-07-28 02:42] tianzhich commented on #769
I also run into this prob but I did not notice your issue. I also opened one #787 and give some opinions.

And I fixed it in PR #788.

[2020-07-28 02:48] tianzhich commented on #787
PR #788

[2020-07-28 20:34] ShMcK commented on #618
I'd like to setup the following GitHub action to test and deploy:
https://github.com/marketplace/actions/automated-releases-for-npm-packages

[2020-07-29 09:17] #752 closed

[2020-07-29 09:17] #738 closed

[2020-07-29 13:26] semoal commented on #618
I've successfully implemented a github workflow through lerna and conventional commits standard.
You can easily do manual deploys of the next version or master version. 

<img width="958" alt="Screenshot 2020-07-29 at 15 15 23" src="https://user-images.githubusercontent.com/22656541/88805720-cd2d4700-d1af-11ea-9777-824e75396701.png">

On push or pull requests automatically runs:
- Install with (ca

[2020-07-29 13:30] semoal commented on #618
@ShMcK we must set on the project, the default branch **next** to github listen worfklow_dispatch events, (at least for now, until next and master take the same ci.yml)

[2020-08-01 08:19] #737 closed

[2020-08-04 16:11] heny opened #791 "@rematch/persist"
When using @rematch/persist, localStorage did not save it. Please help to see what is wrong. Thank you
demo url：https://codesandbox.io/s/friendly-leaf-1qj6h

[2020-08-04 16:30] pjamrozowicz commented on #791
Are you just starting up a new project? You could consider giving a try the new version of Rematch (https://rematch.netlify.app/#/quick-start) and see if you have any issues.

[2020-08-04 17:58] semoal commented on #791
@heny hi mate, you are not using correctly the plugin.

white should match the model name, if you change ["persisted"] to ["list"], will work correctly.

Anyways, you should try our new version of rematch@next. We reimplemented some features, and improved typrescript typings.

Here you have a working example:
https://codesandbox.io/s/weathered-firefly-wbj4p?file=/src/store/index.js

[2020-08-04 18:02] semoal commented on #787
Hi mate, could you give a try to our **next** version? We fixed all the issues with typescript typings.
[code]

I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

[2020-08-04 18:09] semoal opened #792 "[V2] - Closing roadmap"
Hi guys,

You can test all the changes installing the next version on all the other packages:
[code]

## Todos before stable
- [x] Improve examples folder with typescript codebases (they're the most conflictive), we should keep also the js examples. #812
- [x] Improve documentation about typescript plugins #817
- [x] Try to remove @ts-ignore on codebases as much as we can. #816
- [x] Improve testi

[2020-08-04 18:17] semoal commented on #769
Give a try to our next version guys, it's already released. Feel free to submit any issues or something you find interesting.

[2020-08-04 18:19] semoal commented on #764
Hi mate, could you give a try to our next version? We fixed all the issues with typescript typings.

[code]
I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

[2020-08-04 18:19] #764 closed

[2020-08-04 18:19] semoal commented on #761
Hi mate, could you give a try to our next version? We fixed all the issues with typescript typings.

[code]
I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

[2020-08-04 18:20] semoal commented on #760
Hi mate, could you give a try to our next version? We fixed all the issues with typescript typings.

[code]
I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

[2020-08-04 18:20] semoal commented on #759
Hi mate, could you give a try to our next version? We fixed all the issues with typescript typings.

[code]
I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

[2020-08-04 18:20] #758 closed

[2020-08-04 18:20] #756 closed

[2020-08-04 18:21] #755 closed

[2020-08-04 18:22] semoal commented on #762
Hi mate, could you give a try to our next version? We fixed all the issues with typescript typings.

[code]
I added a pinned issue where you can report all the things you find, or create individual issues with the label v2.

Feel free to try to create a plugin with the new codebase, super easy with lerna and typescript code base !!

[2020-08-04 18:22] #762 closed

[2020-08-05 05:21] tomploem commented on #759
Works like a charm 👌 Thanks for providing an update on the issue!

[2020-08-05 09:48] slashwhatever commented on #762
I worked around the issue in the end but I'm more than happy to try v2 - when we have a little breathing space from release windows :)

Congrats on getting to v2 - I'm very much enjoying using the library 👍

[2020-08-06 08:25] duyphanz opened #793 "Cannot install @rematch/core"
**Screenshots**

![image](https://user-images.githubusercontent.com/13731780/89509117-16f1df00-d7f9-11ea-9865-7303ca5c451f.png)

[2020-08-06 08:30] pjamrozowicz commented on #793
@duyphanz It looks like an issue with npm, nothing related to rematch (https://status.npmjs.org/).

[2020-08-06 08:30] #793 closed

[2020-08-06 09:59] Cammoy commented on #596
I having this issue too.

[2020-08-06 10:02] Cammoy opened #794 "Devtool Trace error"
**Describe the bug**
devtool trace is not working as expected the result in unusable

**To Reproduce**
where the action was fired from etc

redux: {
      initialState,
      devtoolOptions: { trace: true }
    }

**Expected behavior**
show correct point in code

**Screenshots**

at Object.eval (webpack-internal:///./node_modules/
rematch/core/dist/umd/rematch.js:33:17
at eval (webpack-internal://

[2020-08-06 11:43] semoal commented on #794
Could you share please, the rematch version?
Actually the codebase from v2.0.0-next from v1.x.x differs a lot.

Thanks

[2020-08-06 15:33] heny commented on #791
@pjamrozowicz Thank you, I will try to use it. I found that the installation document of this link you gave was written incorrectly. Two NPMS appeared

[2020-08-06 15:54] semoal commented on #791
You're right i'll fix it asap, thanks mate

[2020-08-06 15:54] #791 closed

[2020-08-08 21:07] nahuelb commented on #292
Hello, I would like to know if @ShMcK answer is still the way to go to work with state management on offline first apps. I am starting to work on a project and a I not sure to use Rematch with persist or Redux with redux-offline.

[2020-08-09 11:07] semoal commented on #292
If you can go with rematch and persist, is the way to follow. I didn't tried redux-offline, but if i have to use base redux and not rematch for just using the offline option, i would kill my self.

[2020-08-10 09:20] zhangjing28 opened #796 "[V2]-Type 'RootModel' is not assignable to type 'Models'."
**Describe the bug**
error: 'Type 'RootModel' is not assignable to type 'Models'.' when run examples/ts/hooks

**To Reproduce**
just cd example/ts/hooks and `npm i && npm run start`
**Expected behavior**
no error

[2020-08-10 09:25] semoal commented on #796
Are you using the next version?

[2020-08-10 09:29] semoal commented on #796
<img width="776" alt="Screenshot 2020-08-10 at 11 28 16" src="https://user-images.githubusercontent.com/22656541/89768941-9edb3000-dafc-11ea-9b45-8e16ab5258f8.png">

For me compiled succesfully, steps i did:

- On root: npm install & npm run bootstrap
- After that moved on that example folder and run: npm start

0 fails.
[code]

[2020-08-10 11:40] zhangjing28 commented on #796
@semoal Thanks, it was my mistake! I did not run the example on the brunch 'next'

[2020-08-10 11:40] #796 closed

[2020-08-10 11:43] zhangjing28 commented on #769
Thanks for you guys, it was recovered on v2.

[2020-08-10 11:43] #769 closed

[2020-08-11 15:19] #759 closed

[2020-08-11 15:19] #760 closed

[2020-08-11 15:19] #761 closed

[2020-08-11 15:19] #787 closed

[2020-08-11 15:22] #618 closed

[2020-08-11 18:13] haikyuu opened #797 "Typescript extractions broken in next (2) version"
Note I'm using the `2.0.0-next.1` version of rematch.

**Describe the bug**
Duplicate of https://github.com/rematch/rematch/issues/787
This bug has been reported before and a fix was suggested here for instance https://github.com/rematch/rematch/pull/788. But it was closed as already fixed. And it seems it's still an issue.

**Expected behavior**
Dispatch and state types should be extracted correc

[2020-08-11 18:17] haikyuu commented on #792
@semoal Thanks a lot for your great work on this library. I've created an issue to track typescript extraction as it seems to be broken even in the `next` version. #797

[2020-08-11 18:19] semoal commented on #797
Could you provide us a reproduction repo?

In this way we can debug better the issue

[2020-08-11 18:22] haikyuu commented on #797
@semoal Sure. I'll create one

[2020-08-11 18:36] haikyuu commented on #797
@semoal here it is. https://codesandbox.io/s/gifted-shape-6oywz?file=/src/models/questions.ts

[2020-08-11 21:59] semoal commented on #797
Thanks @haikyuu we'll look asap onto it

[2020-08-11 22:31] semoal commented on #797
If you need a workaround i've fixed it haikyuu, we'll look into extracter type of the state, because is the type that is failing.

Changed to this:

[code]

[code]

[2020-08-12 12:23] haikyuu commented on #797
@semoal Thanks a lot @semoal

[2020-08-12 12:34] haikyuu commented on #797
@semoal

Note that `Dispatch` types are also failing

[2020-08-12 16:01] AUTOi opened #798 "_this is undefined - in example scripts"
New to React but trying out your example scripts, but cant get them to work, any ideas why its broken:

`TypeError: _this is undefined
onModel/<
F:/Repos/reactselect/src/index.ts:101
onModel
F:/Repos/reactselect/src/index.ts:99
prepareModel/<
F:/Repos/reactselect/src/rematchStore.ts:94

  91 | 		model
  92 | 	)
  93 |

  95 | }
  96 |
  97 | /**

forEachPlugin
F:/Repos/reactselect/src/bag.ts:27

[2020-08-12 16:05] semoal commented on #798
Could you provide the steps that you done?
I can't see anything in the things you pasted

[2020-08-12 16:08] haikyuu commented on #798
@AUTOi a codesandbox would be very helpful

[2020-08-12 16:12] AUTOi commented on #798
New React App via:
npx create-react-app my-app --template redux
npm install @rematch/core@next

Then copied these files:
https://github.com/rematch/rematch/tree/next/examples/select-react/src

My package.json

{
  "name": "my-app",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "@reduxjs/toolkit": "^1.4.0",
    "@rematch/core": "^2.0.0-next.1",
    "@rematch/select": "^2.0.5",

[2020-08-12 16:18] haikyuu commented on #797
@semoal When declaring the initial state and typing it in the upper scope, typing works just fine. I've updated the codesandbox and it works fine now.

It's probably an issue of type extractions needing types to be explicitly defined rather than inferred. And that's fine IMHO.

Another thing is that the user needs to type reducers and effects parameters to get their typings in other places in the

[2020-08-12 16:25] haikyuu commented on #797
@semoal Here is a PR for the docs improvements https://github.com/rematch/rematch/pull/799

[2020-08-12 16:29] AUTOi commented on #798
Fixed, by adding "@reduxjs/toolkit": "^1.4.0", to your package.json and using that instead of mine.

[2020-08-12 16:40] semoal commented on #798
You don't need reduxjs toolkit if you're planning to use rematch. Actually toolkit was built thinking in alternatives to redux boilerplate like rematch.

This issue is not related to rematch. Thanks for using @rematch mate, if you find any issue, or improvement feel free to open other issue

[2020-08-12 16:40] #798 closed

[2020-08-13 22:16] semoal commented on #797
I've fixed the requirement of explicitly define the initial state, i'm fixing a minor issue on the dispatch function and i'll release a @next version with this issue fixed @haikyuu

[2020-08-14 13:06] semoal commented on #797
Changed from this:
[code]
![Screenshot 2020-08-14 at 15 03 29](https://user-images.githubusercontent.com/22656541/90252180-59419e80-de3f-11ea-8a9e-80e1273973d0.png)

to this:
[code]
![Screenshot 2020-08-14 at 15 04 12](https://user-images.githubusercontent.com/22656541/90252233-6d859b80-de3f-11ea-99d9-1c5ef5eb1b66.png)

Complex types looks fixed, but now the dispatcher function can't get it to wor

[2020-08-19 07:31] #533 closed

[2020-08-19 15:17] semoal commented on #797
🚀🚀🚀 Released the fix on 2.0.0-next.2 .🚀🚀🚀
Confirm @haikyuu that you're issue is fixed, you only need to things:
[code]
to
[code]

and in your model file:

[code]

[2020-08-23 03:50] sahzhang opened #806 "Typescript next effects broken for functions with more than one argument"
**Describe the bug**

I am using `2.0.0-next.2`. I encountered an error with `effects`. If you try to pass in more than a single argument into an effects function, Typescript will throw an incompatibility error.  I think this has to do with the recent types changes that were patched.

**To Reproduce**
Steps to reproduce the behavior:

Code Sandbox Link:
https://codesandbox.io/s/gifted-https-2l7cv?

[2020-08-23 12:35] mossen opened #807 "How to connect Gatsby with rematch?"
With redux it seems to be easy by following:
https://github.com/gatsbyjs/gatsby/blob/master/examples/using-redux/src/state/createStore.js

but with rematch there is no official document. Can anyone help?

[2020-08-23 16:25] #806 closed, assigned to nobody

[2020-08-23 22:27] mossen commented on #807
@semoal thanks, please share a link here.
Also I do not want to have a wrapper/layout and use that in every single page link. something with wrapWithProvider would be the best I guess.

[2020-08-25 04:00] JoviCheng opened #808 "rematch next effects argument error"
**Describe the bug**
I am using **2.0.0-next.2.**, i trying a demo with DOCS.Quick Start,

when i give the rootState declarations RootState,

like this:

`effects: (dispatch) => ({
    async add(payload: number, rootState) {
      const { count } = rootState.main
      dispatch.main.setFields({
        count: Number(count + payload)
      })
    }
  })`

to

`effects: (dispatch) => ({
    async ad

[2020-08-25 05:34] semoal commented on #808
State is automatically infered you dont need to type It.

Look the documentation, on quick start section!

[2020-08-25 06:33] JoviCheng commented on #808
![image](https://user-images.githubusercontent.com/8762574/91132870-e3132680-e6df-11ea-8563-9241f5df96ef.png)

thanks!
you mean like this ?

[2020-08-25 07:23] tianzhich commented on #808
We fixed the auto inference of `rootState` param on the next version, stay tuned.

[2020-08-25 10:45] JoviCheng commented on #808
got it,thanks!

[2020-08-26 07:02] fantasticsoul commented on #735
hey, my dear friend, have you tried [concent](https://github.com/concentjs/concent)?  that will make state management much easier than u experienced before.

[2020-08-26 13:15] semoal commented on #808
Released the fix on next tag. 2.0.0-next.4

1. You need the as on the rootState param it's automatically inferered.
2. If you're state is complex, you must use the as on state object, if not, just let typescript infer the types.

Check https://rematch.netlify.app/#/quick-start for more documentation also you can look examples folder count-react-ts and hooks-react-ts are tested on our testing suite

[2020-08-26 13:52] semoal commented on #807
@mossen i've pushed an example with typescript + gatsby + rematch@next.4

![2020-08-26 15 50 58](https://user-images.githubusercontent.com/22656541/91311993-00b1c000-e7b4-11ea-90a1-85588680f9eb.gif)

About this, i'm not an expert with gatsby but i'm 100% sure you can create a wrapper for the page you want.

[2020-08-26 13:53] #808 closed

[2020-08-26 13:53] #794 closed

[2020-08-26 13:54] #797 closed

[2020-08-26 22:52] mossen commented on #807
@semoal Thanks for that, that helps. How ever I am looking for a way to not have to wrap every single file with the provider. I will ask this in Gatsby repo as well in case if anyone knows a way.

[2020-08-27 06:09] #807 closed

[2020-08-27 20:39] semoal opened #811 "Regression in destructuring models from effects dispatch param"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2425.8%20Funded-%2300A156.svg" />](https://issuehunt.io/r/rematch/rematch/issues/811)

**Describe the bug**

Regression about destructuring dispatch models from function param.

**To Reproduce**
[code]

**Expected behavior**
Should work on the same way than not destructured like v1.

**Screenshots**
<img width="933" alt="Scr

[2020-08-27 20:45] semoal opened #812 "Improve typescript examples codebase."
We're thinking in to improve examples folder with anything you consider, I though about:

### New examples:
- [x] complete example in typescript with (loading, persist, immer, select, updated) (we'll run the testing suite to that example)
- [x] NEXT-JS Example (typescript or not, i don't care) =)

### Refactor examples:
- [ ] All the examples of plugins (in my opinion should be together), they're

[2020-08-28 01:50] tianzhich commented on #811
related https://github.com/microsoft/TypeScript/issues/40279

[2020-08-30 14:34] linonetwo opened #813 "Type 'RootModel' does not satisfy the constraint 'string'.ts(2344)"
**Describe the bug**
I'm trying to setup as ts example:

[code]

But I get `Type 'RootModel' does not satisfy the constraint 'string'.ts(2344)`

Because

[code]

**To Reproduce**
Steps to reproduce the behavior:

Try example

https://github.com/rematch/rematch/blob/df373bddd487bd2d4467df13ee071f2eae28acba/examples/hooks-react-ts/src/models/index.ts#L5-L8

**Expected behavior**
It should allow exam

[2020-08-30 15:12] semoal commented on #813
Hm, are you using next version?

npm install --save @rematch/core@next

[2020-08-30 15:28] linonetwo commented on #813
Thank you! I should have tried this first...

[2020-08-30 15:28] #813 closed

[2020-09-03 13:51] mtt87 opened #814 "How to use persist plugin with TS and v2?"
**Describe the bug**
[code]

**To Reproduce**

[code]

[code]

That's the error I get from TS, everything else seems to be good, thanks for improving TS support with this new version ❤️

[2020-09-03 15:23] linonetwo opened #815 "TS gives error when use V2 with immer plugin"
**Describe the bug**

I have simple model like

[code]

and `rootModelType.ts`

[code]

I get

[code]

in `toggleDebugMode`, it ask me to return the state, but actually I'm using immer plugin...

[code]

**To Reproduce**
simply a type error...

**Expected behavior**
Allow to toggle a "immer mode" that don't need to return a state.

**Screenshots**

![Screen Shot 2020-09-03 at 11 22 04 PM](https://

[2020-09-03 17:04] semoal commented on #814
You need to pass RootModel to init<>
[code]

We still have to change some improvements about typescript on the documentation, still not the stable i would.

Thanks for your interest on Rematch 👍🏻

[2020-09-03 17:08] semoal commented on #815
We're still improving a bit typescript, we're closing the gap with plugins, loading and persist works good.
Please, pass RootModel to init function, we're still on work in progress on the documentation. (We're glad if you could help to close this gap with documentation)

[code]

[2020-09-03 17:13] mtt87 commented on #814
👋 thanks for your reply, I tried but it didn't fix the error

This is my entire store file
[code]

[2020-09-03 17:28] semoal commented on #814
https://stackblitz.com/edit/react-ts-rdafag?file=models%2Fmodels.ts
I share with you a working example, looks all okay, anyways i'll create a react native app to take a closer look.

[2020-09-04 02:15] tianzhich commented on #811
Hi, @pjamrozowicz I have found 2 related problems with this issue, it's not only about typescript but also javascript.

We are waiting for TypeScript to fix the ts problem. But about js, Look at the snippet below:

We `createDispatcher` like this,

![image](https://user-images.githubusercontent.com/33218310/92191339-1d29b880-ee96-11ea-9065-f5183af5678d.png)

And inside it, pass the `rematch.dispat

[2020-09-04 04:08] tianzhich commented on #811
I seem to figure it out a little bit.

In the v1 version, Shawn split the reducers creator and effects creator into 2 separate plugins and creating effects after reducers created. So the effects creator can access the model cause it was created in reducer creation.

But we combine them into createDispatcher in v2, and not inject created modelDispacther to `rematch.dispatch` before it was passed to

[2020-09-04 04:18] tianzhich commented on #811
@semoal We still can't destruct dispatch from param of effectsCreator. I think it was a pending issue that TypeScript should fix for us. There is no difference between destruction from param or inside the function.

But now it functions normally and is consistent with v1.☺️

[2020-09-04 05:28] tianzhich opened #816 "Remove @ts-ignore on codebases"
In the previous refactor, too much `@ts-ignore` was used. We are thinking to remove them before the stable release. We need to consider all the packages following:

- [x] core
- [x] immer
- [x] loading
- [x] persist
- [x] select
- [x] updated

[2020-09-04 10:17] semoal commented on #816
Only core & select has pending @ts-ignores 👍🏻

[2020-09-04 10:32] semoal opened #817 "improve: plugins documentation examples with typescript"
We must update the documentation with javascript|typescript toggle on the plugins section.

They're a bit outdated with the current codebase, because now is required to pass RootModel to init<>, and the doc isn't showing anything with typescript.

- [x] immer
- [x] loading
- [x] persist
- [x] select
- [x] updated

[2020-09-04 14:22] linonetwo commented on #814
You will need to use

[code]

[2020-09-04 14:25] mtt87 commented on #814
Thank you, what worked was this
[code]

so adding `as Plugin<RootModel>` seems to do the trick

[2020-09-04 14:27] #814 closed

[2020-09-07 13:44] Hainesy commented on #760
Hi, well the issue I raised isn't a typings issue; its an issue with the injected effect dispatcher being undefined.

After upgrading I'm getting an issue with a reducer being of type `never` from `useDispatch`. I don't think I'll be taking the upgrade right now...

[2020-09-07 13:47] Hainesy commented on #811
I think this is the same issue I raised here: https://github.com/rematch/rematch/issues/760

I have experienced it when there is a circular dependency between two models, i.e. effects from each model are dependent on the other.

[2020-09-07 15:55] semoal commented on #811
we released 2.0.0-next.5, could you try it out? in some internal codebases this issue is fixed. (we still have the typescript issue)

[2020-09-08 02:54] tianzhich commented on #760
Yes, I have found this issue. Suppose you define the following models: `{ model1, model2, model3 }`. You can now only use the destructed `model1` and `model2` from `model2`, you can't access `model3` which is undefined.

We will try to fix it.

Could you provide a reproduce? I haven't run into this. I created a [CodeSandbox](https://codesandbox.io/s/rematchv2-typescript-mpos8) which you can use fo

[2020-09-08 11:56] BenevidesLecontes opened #818 "createModel does not have definitions for selectors"
**Describe the bug**
When using createModel the definition type does not have selectors or Im missing something?

- Version 2.0.0-next.5

[2020-09-08 12:41] tianzhich commented on #818
We are refactoring the type definitions of the codebases and `@rematch/select` have not done yet. You can track on this: #816

[2020-09-08 12:43] BenevidesLecontes commented on #818
@tianzhich ok thanks, for now i'm removing my selectors from my models.

[2020-09-08 13:15] tianzhich commented on #816
I removed the ts-ignore from `core` and improved typings based on that. Have a look Sergio 😄

If there is no error, the only left package was `select` which was more complex than others, we are near!

[2020-09-09 11:45] Hainesy commented on #760
Yes I just came to the same conclusion: you can only use models that have been declared before the current model.

I'll try upgrading again when this bug is fixed and try to provide a reproduce for the other issue.

[2020-09-10 03:49] tianzhich commented on #816
I came to some problem with `select`. It differs much from other plugins, on typings and designs. And I'm not familiar with reselect. Some help needed.

[2020-09-10 04:11] tianzhich commented on #816
I need some guides from `reselect` and `select` plugin users.

[2020-09-10 08:59] tianzhich opened #821 "[@rematch/loading] effects always be loading if they were unresolved before."
**Describe the bug**
I found if there was an unresolved effect, then `state.loading.model.effects.effect` will always being true.

**To Reproduce**
I accidentally ran into an unresolved promise returned by one of my effects. And I found the loading of it will always be true even it was resolved in the next effect call.

I found a code snippet of loading package:

[code]

If there was an unresolved

[2020-09-10 11:42] tianzhich commented on #818
@BenevidesLecontes Hi, we are looking for contributors that can help us with the refactoring of `select`. PR welcome if you are interested. #816

[2020-09-11 12:26] semoal commented on #821
This would be a breaking change, because right now if someone is using loading plugin for handling situations with many promises running.

I'm thinking in situations where this can be useful (in my opinion there isn't, i didn't thought yet too much)

For me should be:
- asNumber : 1 loading - 0 not loading
- asBoolean : `true` loading - `false` not loading

[2020-09-11 12:43] tianzhich commented on #821
You are right. I have not fully understood the purpose. There shouldn't be an unresolved promise, I asked for my service provider to return the error message and resolve the promise.

[2020-09-11 13:01] semoal commented on #821
We'll release a Major version with brraking chances so if we consider something is better than the actual codebranch, just lets improve it

[2020-09-11 20:24] etamity commented on #268
got it working with this code

[code]

[2020-09-14 14:35] Hainesy commented on #760
@tianzhich Are you able to provide an ETA on the fix?

[2020-09-14 16:18] semoal commented on #760
https://codesandbox.io/s/rematchv2-typescript-forked-kr8ly?file=/src/models/sharks.ts

Check this example, i'm using three models, calling dispatch actions of all models, and apparently works well.

if the issue is destructing the dispatch models from effects: ({ model1, model 2 }) =>, we're actively thinking on a solution but we got in troubles because typescript closed our issue on typescript co

[2020-09-14 16:20] semoal commented on #760
As the #792 said, I estimated to release the next version to mid-end october.
Our focus is giving full compatibility with typescript, and avoid too much breaking changes for elevating the adoption process.
Feel free to collaborate if you're interested =)

[2020-09-16 13:08] alex-zhang opened #822 "Model Effect with sync function should not wrapper with async function"
**Describe the bug**

Model effects  with sync function should not wrapper with **Promise** return

**To Reproduce**

[code]

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version 1.3.0

[2020-09-17 16:55] semoal commented on #822
Could you try the new version of rematch? Using @next tag,

[code]

[2020-09-19 08:22] magicdawn commented on #231
Since the subscription plugin has been deprecated now (2020-09-19).
I made a tiny plugin to do same. just `listen` the verb.
for anyone looking for this.

[code]

[code]

[2020-09-25 08:48] alex-zhang commented on #822
ok thanks

[2020-09-25 15:47] saraivinha85 opened #823 "1.x to 2.x migration effect does not return promise"
**Describe the bug**
In v2.0 the effect function does not return a promise.

In version 1.x I have this code that works fine.
[code]

In v2.x it complains that first.then is not a function.

**To Reproduce**
Try the code above

**Expected behavior**
I want to be able execute the second effect after the first one succeeded.

[2020-09-25 17:29] vanzi6 commented on #736
Hello all, I have the same problem.

[codesandbox example](https://codesandbox.io/s/rematch-loading-test-zyovu)

Not the best quality, but you can see that `state.loading.effects.count.addByAsync ` is changing from `boolean` to `number`
![image](https://user-images.githubusercontent.com/21037158/94296648-d8acac80-ff6b-11ea-8189-6a7194aa7f83.png)

**To replicate**
1. Go to example link, open consol

[2020-09-29 12:05] vanzi6 opened #824 "[@rematch/loading] effect returning integer instead of boolean"
Hello all, I have the same problem.

[codesandbox example](https://codesandbox.io/s/rematch-loading-test-zyovu)

Not the best quality, but you can see that `state.loading.effects.count.addByAsync ` is changing from `boolean` to `number`
![image](https://user-images.githubusercontent.com/21037158/94296648-d8acac80-ff6b-11ea-8189-6a7194aa7f83.png)

**To replicate**
1. Go to example link, open consol

[2020-09-29 12:09] semoal commented on #824
Could you try to install the next version if the issue persists?
We're actively working on the next branch so a faster fix probable will come in that branch

Thanks

[2020-09-29 12:38] vanzi6 commented on #824
I change versions [codesandbox](https://codesandbox.io/s/rematch-loading-test-forked-nqoh0)

@rematch/core 1.4.0 -> 2.0.0-next.5
@rematch/loading 1.2.1 -> 2.0.0-next.5

I can not reproduce the problem.

In my project I will have to rewrite some code in order to do some more testing, since I am using typescript.

In [documentation](https://rematch.netlify.app/#/quick-start) I see you are actually a

[2020-09-29 14:34] semoal commented on #824
Actually yes, we are just improving examples, improved typescript experience
https://github.com/rematch/rematch/issues/792

Actually yes, we are only working on improving typescript experience, the codebase is fully rewriten to typescript & lerna.
At the end of october we'll release v2 as a stable version, so probably is not going to change more.
https://github.com/rematch/rematch/issues/792

[2020-09-29 14:35] semoal commented on #824
Also 1.4.0 version is not compatible with newer typescript, so if you're codebase is written in typescript, you must use `next`, and follow the new documentation

[2020-09-30 07:57] vanzi6 commented on #824
I have compared next with 1.4.0 that I am currently using, regarding typescript. I can mostly rewrite it using regex, so not really a big deal.
On the other hand typescript support is way better.

Whether you want to close the issue or leave it open for reference I'll leave it up to you. Thank you.

[2020-10-03 15:27] somenugget commented on #823
Shouldn't it be?
[code]
with model name specified and without `()`

[2020-10-05 22:23] alexb148 opened #825 "Question: how to update a value in the store based on other values being set"
Hello, I'm not quite sure how best to explain what I'm looking for, so my terminology may not be quite right, but essentially...

What's the best way to have a property in my store update based on the value of other properties? For example, I have boolean properties a, b and c, and a 4th property "all" which should be true if each a, b and c are all true, otherwise false.

My basic model looks lik

[2020-10-06 10:19] saraivinha85 commented on #823
Please check example:
https://github.com/saraivinha85/rematch-next-test

[2020-10-06 10:35] semoal commented on #823
reducers are not promises, if you use effects you will get that wanted promise,
I'll create a pull request to your codebase with some best practices later tonight

[2020-10-06 11:13] semoal commented on #823
https://github.com/saraivinha85/rematch-next-test/pull/1/files @saraivinha85 here you have mate

[2020-10-06 11:56] saraivinha85 commented on #823
Thanks for the explanation and example.
But can you tell me why my example worked with version 1.x?

[2020-10-06 12:50] semoal commented on #823
Probably in version 1.x reducers were also promises, but that's not correct

[2020-10-08 11:39] #823 closed

[2020-10-08 11:50] semoal commented on #825
Hello mate, you could create selectors
https://rematch.netlify.app/#/plugins/select?id=select-plugin
https://github.com/reduxjs/reselect

- Selectors can compute derived data, allowing Redux to store the minimal possible state.
- Selectors are efficient. A selector is not recomputed unless one of its arguments changes.
- Selectors are composable. They can be used as input to other selectors.

If y

[2020-10-08 14:39] semoal commented on #821
I'm goin' to change this @tianzhich the correct way is 1 loading, 0 not loading, true loading false not loading.

Shouldn't be incrementers.

[2020-10-08 16:06] semoal commented on #821
Well, looking and the examples folder i saw the logic of this.

Some users are using this to loading.model.effects, asNumber to know how many promises are running at x time.

So probably this behaviour should be the standard way of doing the things.

[2020-10-08 17:45] semoal commented on #815
Hi mate, we just released v2-next.6 with immer plugin fixed in typescript!
Close if fixes your codebase

[2020-10-09 13:36] linonetwo commented on #815
Works Great!

[2020-10-10 17:43] alexb148 commented on #825
@semoal thanks, that does sound like it should do what I want, although I've been experimenting for a while trying to integrate it into my code without much success.

So far I have the following, where I'm trying to create the selector in models.js and map this to my component in App.js.
https://codesandbox.io/s/rematch-select-test-54j5c?file=/src/models.js

Have tried a lot of variations based on

[2020-10-10 18:59] semoal commented on #825
https://codesandbox.io/s/rematch-select-test-forked-uz2vc?file=/src/store.js.  @alexb148  here you have mate, you should use the next version

[2020-10-12 15:10] #825 closed

[2020-10-12 15:11] #824 closed

[2020-10-12 15:11] #822 closed

[2020-10-14 11:57] semoal commented on #812
Will postpone vue and esm modules examples after stable release, if someone is interested in collaborate feel free

[2020-10-14 11:58] semoal commented on #811
I close this issue cuz it's fixed the circular referencing issue on javascript codebases.
I'll open a new one to track typescript issue

[2020-10-16 02:08] tianzhich commented on #821
Yep, this was the original purpose! I'll closed this.

[2020-10-16 02:09] #821 closed

[2020-10-16 03:25] lovetingyuan opened #829 "doc site code style issue"
https://rematch.netlify.app/#/api/models?id=models
<img width="1070" alt="WeChat82281cdc20ebda197b5f16074ebcb64a" src="https://user-images.githubusercontent.com/7310471/96209443-35ffb080-0fa2-11eb-96ee-f8ada6ba4648.png">
 the code text color is mixed with the background color, could you please fix this color issue?

[2020-10-16 03:26] lovetingyuan commented on #829
it seems turn back to normal already.

[2020-10-16 03:26] #829 closed

[2020-10-17 19:39] alexb148 commented on #825
@semoal thank you, this was very helpful and I've got it all working in my app now. There was a little more to importing the selectors into my app than I had expected, I was trying to treat them the same way I map state and dispatch. Getting the hang of it all now though, thanks again!

[2020-10-17 23:41] semoal commented on #825
I'm glad I coulda help, We're still improving the compatibility with typescript + re-select(select), if you're experimented on Typescript we're looking for contributors to help =)

[2020-10-21 00:11] brownbl1 opened #830 "v2 - dispatch.<invalid-property> doesn't emit typescript error"
**Is your feature request related to a problem? Please describe.**
First of all, fantastic project. I've really enjoyed using it for a while now and just upgraded to the latest as part of a typescript revamp. But I've noticed a typings issue and I'm not sure if it's a bug or intended behavior, but I think it could improved either way. I've created a sandbox using the latest of everything and I'm s

[2020-10-23 13:52] kingdavidmartins commented on #761
Thanks, the issues were resolved

[2020-10-23 13:58] brownbl1 opened #831 "v2 - typescript issue with @rematch/persist plugin"
**Describe the bug**
I am trying to integrate `@rematch/persist` into my typescript re-write and am encountering some more type conflicts.

**To Reproduce**
Steps to reproduce the behavior:
I re-created the getting started sample from the docs and followed the instructions for adding in `@rematch/persist`. It's working, but the typescript compiler is yelling about property `count` missing from an

[2020-10-23 16:31] semoal commented on #831
Hi mate, thanks for using rematch.

You need to pass explicitly, actually all the plugins except select are working 100% perfectly with typescript.

[code]

I'll update the doumentation to be clearer to the users

[2020-10-23 17:11] brownbl1 commented on #831
Ah, that's interesting. I thought I had tried that.. but you're right, it's working with that!

[2020-10-23 17:11] #831 closed

[2020-10-24 10:59] semoal commented on #830
Yes you're absolutly right, it shouldn't return any, should return typescript error

[2020-10-24 11:22] brownbl1 commented on #830
Thanks.. I am still learning how to write typescript types. I tried to figure out how to change the generics but couldn't quite figure it out.

[2020-10-30 01:28] paulmcconico opened #832 "Allow numerous Redux Store instances"
**Is your feature request related to a problem? Please describe.**
Currently, when I create 2 Rematch stores via the 'init' function exported from @rematch/core, the dispatch methods of the first Rematch store are overwritten with the dispatch methods generated for the second store.

I'm testing the functionality of my application and for each test I need a clean Redux Store. Due to the need for a

[2020-10-31 20:16] semoal commented on #832
Hm, looks an interesting situation. I'll take a look on it.
Did you tried with next version or latest?
Thx mate for using rematch

[2020-11-02 08:31] semoal commented on #832
You also can take a look to rematch testing suite, that probably will help you creating good tests.

Also I see some errors in your example
- models: must be an object
- const a.dispatch is not written correctly.

On Rematch v2.x.x@next every init functions returns a new store with `Rematch store ${count++}` so any instance is different. Give it a try!

[2020-11-09 10:17] semoal commented on #830
This can be improved on https://github.com/rematch/rematch/blob/next/packages/core/src/types.ts#L427 where ReduxAction is returning any always, there we should do a mapper to check if that effect exists, in that case add any to provide compatibility with Redux Dispatch, if not exists just return never/or unknown as you want.

[2020-11-09 20:30] semoal commented on #551
We'll this issue was opaque to me until now.
We're close to release v2.0.0 with a full rewrite of Typescript and the typing system.
But... We have issues with select plugin.. @MichalLytek   already two years passed but probably you could guide us a bit #828

I currently suck writing complex types and we re abit stuck @tianzhich

[2020-11-10 00:07] paulmcconico commented on #832
@semoal Using version: 0.6.0
Indeed, both are errors. The code above is not what is found in my codebase. The codebase has correct implementation. I will correct the code above.

[2020-11-10 02:36] paulmcconico commented on #832
@semoal I read through the example here [](https://rematch.netlify.app/#/quick-start?id=basic-usage) for initializing Rematch. Just a heads up, there is a circular dependency. The 'count.ts' cannot import from 'models.ts' if 'models.ts' imports from 'count.ts'.

May cause some issues when typing models but I haven't tried writing code using this new pattern.

[2020-11-10 09:20] semoal commented on #832
The rootModel must be passed to createModel to make it work.

You can look at examples folder where is a https://github.com/rematch/rematch/tree/next/examples/all-plugins-react-ts, full suite with typescript.

[2020-11-10 18:06] paulmcconico commented on #832
@semoal My concern is that this version of Rematch JS, a widely adopted framework, suggests a programming pattern that contradicts basic principles of programming. It may be worthwhile to rewrite some of these methods/patterns so that the end-user does not have to introduce a dependency cycle into their application.

[2020-11-10 18:12] semoal commented on #832
We didn't see any dependency cycle in any application, Typescript setup is "complex", because Redux typing aren't easy, and we try to make it as easy as possible.

Here you have, https://codesandbox.io/s/flamboyant-germain-n8pq1 we're still improving the examples

[2020-11-10 18:14] paulmcconico commented on #832
@semoal Take a look at the example above. Clearly, count.ts imports models.ts AND models.ts imports count.ts.

[2020-11-10 18:26] semoal commented on #832
I didnt' say coding is complex, but that import internally is not a dependency cycle, because it's just importing types that internally are resolved from the same file.

Anyways, I'll look into it, if we can look to a better solution to this. Feel free to provide any pull request with your suggerences.

[2020-11-10 18:27] paulmcconico commented on #832
@semoal So, you're suggesting that importing types doesn't cause a dependency cycle because the types (imports) are stripped during transpile process?

[2020-11-10 18:28] semoal commented on #832
Yes, basically that.

[2020-11-10 18:38] paulmcconico commented on #832
@semoal Ok fair enough.

[2020-11-10 19:24] paulmcconico commented on #832
Thanks @semoal !

[2020-11-11 06:17] codefactor commented on #735
To me it's a red flag that the documents don't mention a comparison to Redux Toolkit. Reading through the issue comments did give some insights, though.

[2020-11-11 08:27] semoal commented on #735
Rtk was created after Rematch existence. That's why the documentation is a bit outdated related to "inspiration". We didn't take any inspiration in redux toolkit because didn't exist, I'll try to create a section on the docs about the biggest differences 👍🏻

[2020-11-11 11:17] tianzhich commented on #830
I couldn’t find a way. We can’t override the type of redux-dispatch, and we can’t keep the compatibility between rematch-dispatch and redux cause we must keep the type param the same with redux. So we cant pass rootModel to patch redux-dispatch as we do in rematch-dispatch

[2020-11-12 15:27] bichotll commented on #735
Was looking for that as well.
A lover of Rematch and never used Rtk before and wanted to know what the story was related to that subject.

[2020-11-12 17:43] codefactor commented on #735
@semoal ,
Thanks that would be great. I am trying to get a sense as to the activity on the project, with Redux Toolkit being around for a few years already, it gives a sense to liveliness of the project. Our team needs to standardize in all locations on some higher level Redux library, and so far RTK is winning due to it's broader adoption within the organization.

So far the comparisons I've seen

[2020-11-16 21:37] semoal commented on #735
Actually Rematch isn't a framework because it's just 2kb gzipped (RTK is 10kb gzipped 😮 ) . It's just an abstraction layer that you could build on your own, Rematch was created 4/5 years ago to resolve Redux boilerplate, nowadays probably could have more sense to use RTK because the community is larger and it's a native official solution.

But Rematch offers a standard way of doing things, busines

[2020-11-18 09:23] semoal commented on #832
Thanks to you for using Rematch Paul

[2020-11-18 09:23] #832 closed

[2020-11-25 03:46] rayallen001 commented on #237
For @rematch/core@1.4.1, the `model` method seems to be removed. Are there any other methods to lazily load models?

[2020-11-25 03:48] rayallen001 commented on #237
For @rematch/core@1.4.1, the `model` method seems to be removed. Are there any other methods to lazily load models?

[2020-11-25 04:17] tianzhich commented on #237
Can you try `rematch@2.0.0-next.6`? You can use [`store.addModel()`](https://rematch.netlify.app/#/api/store?id=store) to lazily load models.

[2020-11-25 04:21] tianzhich commented on #237
We are ready to release the rematch@v2, in the first week of Dec. We refactored the codebases and improved the typings experience with typescript. Stay tuned.

[2020-11-28 08:08] PatrickG opened #834 "ExtraModelsFromLoading with select plugin"
**Describe the bug**
I got a typescript error when using the loading and select plugins together.

**To Reproduce**
Use select and loading plugins.

**Expected behavior**
No typescript error.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/196478/100497282-40d96380-3152-11eb-96ef-bcf5b2d7e8ac.png)

**Additional contex

[2020-11-28 12:21] semoal commented on #834
Hi Patrick, yes this is a pending task before release the 2.0.0 stable. We have an open pull request where we're working on it.

Probably we'll release a Next version this week with pratically the select plugin fixed

[2020-11-30 08:03] semoal commented on #834
🥳  We released `@rematch@2.0.0-next.7`  🥳

Feel free to give it a try:
[code]

### Bug fixes:

 - Typescript compatibility with @rematch/select plugin (we have still work to do it here, but at least it's usable)
- Support optional payload parameter on reducers also on typescript :)

### Changes to be made?:

If you were using

[code]

Change it to two generics:

[code]

With this change we're clos

[2020-11-30 08:03] #834 closed

[2020-11-30 08:03] semoal commented on #818
🥳  We released `@rematch@2.0.0-next.7`  🥳

Feel free to give it a try:
[code]

### Bug fixes:

 - Typescript compatibility with @rematch/select plugin (we have still work to do it here, but at least it's usable)
- Support optional payload parameter on reducers also on typescript :)

### Changes to be made?:

If you were using

[code]

Change it to two generics:

[code]

With this change we're clos

[2020-11-30 08:03] #818 closed

[2020-11-30 08:03] #817 closed

[2020-11-30 08:05] semoal commented on #792
We'll release probably the stable the next Tuesday. Be tuned 👍🏻

[2020-11-30 08:14] tianzhich commented on #816
Only a few problems with select plugin typings. It is better to track new issues with more feedbacks.

[2020-11-30 08:14] #816 closed

[2020-12-03 11:00] puckey commented on #792
I tested the latest version on our codebase and it works perfectly - especially the new typescript types are very much appreciated. Thanks!

[2020-12-06 21:25] jamesguan opened #836 "Select plugin working with NextJS Example"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I'm trying to figure out the best pattern to implement select with nextjs. With the SSR, it complicates things, especially when you have to rehydrate the client with a new store.

**Describe the solution you'd like**
A clear and concise des

[2020-12-07 13:24] alex-zhang opened #837 "[Discussion] Confuse Me in Big Model"
**Is your feature request related to a problem? Please describe.**

hi, rematch team,

First of all, thanks for this library.

Our team has used it for a while, but I have a question of the best partices of using rematch for nesting model.

For Example, there is  a featureDiablog, FeatureDiablogView and  featureDiablogModel in the folder

|--featureDiablog
|----------------FeatureDiablogView
|----

[2020-12-07 13:32] semoal commented on #837
For me which has sense is to contain a FeatureDiablogModel that imports little Feature-N-Diablog, and just object spreads that features in the main model. For example

There isn't a BEST-BEST practice just do it like you feel comfortable with it and MAINTAINABLE.
`FeatureDiablogModel.js`:

[code]

FeatureOne will export reducers and effects with little logic that can be unit-tested :)

Hope this f

[2020-12-07 13:35] semoal commented on #836
Hm, I didn't tried selectors with Nextjs but they should work as Redux works with SSR. We have an example with nextjs in examples folders if you want to improve that example adding selectors and what you find. Will be incredible.

Under the hood Rematch selectors are just `reselect` so they should work out of the box :)

[2020-12-07 13:49] alex-zhang commented on #837
ok,  thanks for ur reply.

it make sense.

[2020-12-08 06:24] jamesguan commented on #836
I guess the issue is the example states to export the select from the store file by doing the following:

`export const { select } = store;`

The problem with SSR is that the store could change which means whatever select was referencing will not be pointing to the correct store.

What I've done is opted for regular selector creation instead of coupling the selector with my model. However, the onl

[2020-12-08 13:19] LYnnProspery opened #838 "Register CommonModel to RootModel got Ts error: circularly references itself in mapped type 'ExtractRematchDispatchersFromModels '."
First, i created my `commonModel` which looks like:

[code]

and here’s my actual `pageModel`, which wanna register the `commonModel`.

[code]

And this will get a ts error: `TS2615: Type of property 'myCommon' circularly references itself in mapped type 'ExtractRematchDispatchersFromModels '.`

Or should it be registered on `models` which is inside `init` function options.

[code]

but it also go

[2020-12-08 14:41] semoal commented on #838
Could you provide a little repo with a reproduction? In that way i'm 100% percent that we could help you 👍🏻

[2020-12-08 14:42] semoal commented on #837
You're welcome =)

[2020-12-08 14:42] #837 closed

[2020-12-08 14:42] semoal commented on #836
Hm, could you provide a repo mate? I'm really interested in your approach

[2020-12-08 14:43] semoal commented on #830
Closed because we can't fix this until typescript design limitations gets resolved

[2020-12-08 14:43] #830 closed

[2020-12-08 15:32] LYnnProspery commented on #838
thanks a lot.

and heres my repo demo: https://stackblitz.com/edit/react-ts-x2k2sb?file=models/index.ts

main logic is under `model`folder, `store.ts` and `test.ts`

[2020-12-09 03:58] jamesguan commented on #836
https://github.com/jamesguan/material-nextjs-foundation

[2020-12-09 11:26] tianzhich commented on #838
In your `commonModel `, put the `RootModel` but not `CommonModel` as the generic of `createModel`:

[code]

[2020-12-09 11:52] LYnnProspery commented on #838
the `commonModel`  and the 'RootModel' are not related in any way, thus it will not pass the `RootModel` while the `const myCommonModel = createModel<RootModel>()` be called。
`commonModel` will not know which model register it。
or maybe use Generics function to pass the `RootModel`? i am not sure if its the best way

[2020-12-09 13:28] tianzhich commented on #838
The relation is that your `commonModel` need to know the `RootModel` because you could dispatch actions of all of your models from here:

[code]

I also found online editors seem not to use the newest version of typescript, you can see https://github.com/stackblitz/core/issues/483 which is your repro editors, and https://github.com/codesandbox/codesandbox-client/issues/942 which is [codesandbox](h

[2020-12-09 13:32] tianzhich commented on #838
Have you encountered this on your local or just online editors? You can set your local editor to use the newest typescript and test it again.

[2020-12-10 11:36] LYnnProspery commented on #838
it occurred on both my local and online editors, and  thanks for reminding the version, i have tried `^4.1.2` and `^3.8.3`, but both of them show the same error, which is `TS2615: Type of property 'myCommon' circularly references itself in mapped type 'ExtractRematchDispatchersFromModels '.`

[2020-12-10 11:51] LYnnProspery commented on #838
The relation is that your commonModel need to know the RootModel because you could dispatch actions of all of your models from here
------
@tianzhich

maybe it's not, cause the commonModel will not use any states or effects of my pageModel. pageModel is just register the comonModel on itself, and use it as a common ability.

for example,

in a multi-page application, every page has its own store a

[2020-12-10 11:54] LYnnProspery commented on #838
@tianzhich bro, iI was also worked in  Kwai before. l59733984, my wechat

[2020-12-10 12:55] LYnnProspery commented on #838
the code in TS Playground works fine in my local.but the origin code still hint the same error

[2020-12-10 15:45] simonasdev commented on #792
finally there are 0 type errors in my codebase :D thank you so much, can't wait for the stable release!

[2020-12-11 01:12] tianzhich commented on #838
Of course, you can use your `commonModel` as a common model and don't need to dispatch actions of other models from here.

But rematch collects all your actions and register them on `dispatch` param. So we add this typing support.

It's nice to meet former colleagues on Github. I'll connect you on WeChat soon.

[2020-12-12 01:16] xeoneux opened #841 "Passing in `initialState` does not merge with models initial state in next.js example"
In the rematch next.js example: https://github.com/vercel/next.js/blob/canary/examples/with-rematch/shared/store.js
While using rematch 2.0.0@next7

I'm passing in `initialState` with only some values that could be different.
Shouldn't the default behaviour be to merge the passed in initialState with the initialState defined in the models?

I have to do this to make it work:

[code]

Is this the c

[2020-12-12 01:29] xeoneux opened #842 "Remove immer from immer plugin dependency"
https://github.com/rematch/rematch/blob/next/packages/immer/package.json

Using the immer plugin and then immer in the application bundles two different instances of immer. One is ^7 and the other is ^8.

Is it possible to remove the dependency altogether and just use peer dependency with a warning if immer is not installed?

[2020-12-12 09:18] semoal commented on #842
Yes absolutly It should be just a peer.

[2020-12-12 15:59] benomatis opened #843 "Redux devtools: example for actionSanitizer / stateSanitizer or deactivate entirely for production"
Can I receive some help / an example on how to introduce actionSanitizer / stateSanitizer for Redux devtools in Rematch, or how I could maybe deactivate it completely for production?

[2020-12-12 18:59] semoal commented on #843
I have to check actionSanitizer but you can disable reduxdevtools easily through Rematch init.
[code]

[2020-12-12 19:00] #843 closed

[2020-12-12 19:03] semoal commented on #842
Fixed here https://github.com/rematch/rematch/commit/819d76654779d883379e3f2e25270a45f8ab72c1

We'll release this on tuesday :)

[2020-12-12 19:03] #842 closed

[2020-12-12 19:09] semoal commented on #841
We try to keep the redux section of init method as clean as possible. Some users probably doesn't want this behaviour by default, so it's easier to just do two spreads than creating a config to disable this behaviour.

[2020-12-12 19:09] #841 closed

[2020-12-12 19:10] semoal commented on #838
For me has sense that typescript is failing because you're passing wrong the generics. And if your commonmodel doesn't need to know another models, just don't type it.

[2020-12-12 19:10] #838 closed

[2020-12-12 19:11] semoal commented on #836
Happy to see that you could get it working. Feel free to re-open any issue you found or any improvement that could help Rematch =)

[2020-12-12 19:11] #836 closed

[2020-12-12 19:12] #812 closed

[2020-12-16 07:48] pup opened #844 "About 'removed `meta` parameter from action'"
from [2.0.0] - 2020-03-29 , the meta is removed from action.
I like meta parameter, some services are frequently used like network request, text/date formatting.
To reduce template code like 'import network from service',
I will create a plugin to inject these serveices to effects, its very convenient.
Below is the plugin code for old version Rematch.
[code]

So can you guys consider to add 'meta'

[2020-12-16 19:45] ilikosov opened #845 "Error handle"
what is the best way to catch error in async effector, like server error on http request?

[2020-12-16 20:43] #845 closed

[2020-12-16 20:51] semoal commented on #844
Yes probably it's a good idea to keep it if it's useful

[2020-12-21 10:30] semoal commented on #842
Released mate, also we included some overall decreases of size. On @rematch/core we got a reduction of 25% :)

[2020-12-22 02:09] wxwqslsdsh opened #849 "when a model is dynamic added, the loading plugin don't work in some browers that doesn't install Redux Tools"
**Describe the bug**
since i use store.model method to dynamic add a new model named `editModel`, then in my react components, i use `useSelector` to get some loading status in the `editModel` such as `loading.effects.editModel.query`, then i got an error: cannot read property 'query' of undefined

**Expected behavior**
`loading.effects.editModel.query` can get a value of boolean

[2020-12-22 02:18] tianzhich commented on #849
Can you create a [sandbox](https://codesandbox.io/)?

[2020-12-22 07:39] wxwqslsdsh commented on #849
https://codesandbox.io/s/rematch-loading-bug-fy5gx
first you click the button there to go to another route, and then click the button in the new page, you'll see the result

[2020-12-22 07:57] tianzhich commented on #849
Could you try our next version `2.0.0-next.8`. We might have fixed this.

[2020-12-22 08:36] wxwqslsdsh commented on #849
I tried the version `2.0.0-next.8` you suggested in the codesandbox above, but i got the same error as well

[2020-12-22 10:31] #844 closed

[2020-12-22 10:43] semoal commented on #844
Released mate :)

[2020-12-22 23:13] paulmcconico opened #850 "Bind 'Rematch Store' props to existing Redux store object"
https://github.com/rematch/rematch/blob/23bf01421197c0e0b3f8623f58fed21bf6b2f856/packages/core/src/rematchStore.ts#L41

Binding the Rematch store props here would be helpful. This allows the developer to bind props to the original Redux store which is passed to middleware during a state change. The middleware can then use those props to respond to a change. Would doing so disrupt any existing func

[2020-12-22 23:28] #850 closed

[2020-12-23 07:58] semoal commented on #849
Probably the addModel method should reload plugins store if there any, lets take a further look
Thanks for the issue

[2020-12-23 12:41] tianzhich commented on #849
The reason is loadable list page, if put the `store.addModel({ ...editModel, name: "editModel" });` in index page or app's root, plugin works.
`

[2020-12-24 14:03] semoal commented on #849
If you add the `store.addModel()` inside an `useEffect`, the issue is gone. Probably it's something related to `redux` or `redux-devtools` magic or `loadable`... we can't help too much there.

I recommend using React.lazy and Suspense instead of Loadable if you are just searching code-splitting :)

[2020-12-25 01:12] tianzhich commented on #849
The issue is not gone. Did you enter the list page initially? If you enter the index and then click into the list page the issue appears.

[2020-12-25 13:02] semoal commented on #849
[code]

Just use optional chaining, the problem is that addModel methods are run at the same time that useSelector is returning the state, I don't know how to "resolve" this, we'll need like a magic Suspense like lazy does, but with Redux and i'm not so expert to do that.

If you use a console.log of the loading object inside `Edit.js` you will see that loading object changes several times, that's

[2020-12-28 01:39] wxwqslsdsh commented on #849
-- loading: loading.effects.editModel?.query
Thanks for the comment. This way can adapt my problem. If this issue can be resolved by the package itself,that will be the best

[2020-12-28 09:48] semoal commented on #849
Yes we'll see if we can do it in once render. Meanwhile this solution should work

[2021-01-05 22:52] paulmcconico opened #853 "When creating multiple instances of the Rematch/Redux Store, invoking an effect method of 'Store A' will in turn invoke the same effect method found in 'Store B'."
**Describe the bug**
When creating multiple instances of the Rematch/Redux Store, invoking an effect method of 'Store A' will in turn invoke the same effect method found in 'Store B'.

**To Reproduce**
Steps to reproduce the behavior:

[code]
[code]

[code]

[code]

**Expected behavior**
I would expect that the invocation of a model's effect method found in store A would not trigger the invocation

[2021-01-06 20:56] semoal commented on #853
Hm, i can't reproduce that error on our test suite.

[code]

This works as expected. Feel free to fork Rematch and introduce an example on our test suite (you can introduce it inside `core/multiple.ts` and iterate over there

[2021-01-06 23:28] paulmcconico commented on #853
@semoal I think the issue is related to the fact that my example passes a singleton (myModel) when creating the Rematch Store  whereas your test example above defines two separate objects as models. The effect methods within your models are unique (different locations in memory).

My use case for multiple Rematch stores requires that the structures of the global stores are identical. To define thi

[2021-01-08 05:28] oeddyo commented on #834
Hi @semoal
I'm seeing the typing issue happens again in `next.10`

[code]

![Uploading image.png…]()

[2021-01-08 08:48] guopingxiao commented on #792
now is 2021，we are expecting the next version~

[2021-01-08 09:36] semoal commented on #834
You are using ematch select latest, not Next.
Upgrade select and issue Will be gone

[2021-01-08 18:11] oeddyo opened #854 "Get rootState in effects"
Hi there,

Great project! Love it!

I have a general question: how could I get rootState (or specific model state is fine too) in effects?

The code below works totally fine but to use the function in components, I will need to pass down a state which feels cumbersome. What I would like is to NOT pass a rootState in my components if possible
[code]

 I saw in quick-start and some issues that there

[2021-01-09 00:25] oeddyo commented on #854
Searched around a bit more and I just saw that you have to provide a "payload" parameter to effects function, and rootState is the second param in the signature. Does that mean I have to pass the rootState from component?

[code]

[2021-01-09 00:31] oeddyo commented on #854
I believe I just figured it out. So in my react component I did

doSomething(payload)

and in "effects" upon debugging I actually saw a "rootState" provided somehow.
[code]

So here rootState has value even if I call doSomething({"blah": "123"}). Is it expected?

[2021-01-09 00:53] semoal commented on #854
`state` in effects is automatically infered by typescript for autocompletation you need to type it.
And yes, internally effects already pass the global state to all effects methods :)

The only issue you will get if you pass:

[code]

won't work because we always set 2nd param to the global state

[2021-01-09 00:55] semoal commented on #853
Yes, i understand the problem, but could you provide a mnimal setup on our test suite and we iterate over there, probably We could help much more

[2021-01-09 01:04] semoal commented on #792
We're working on major documentation update with a new technology, all the links reviewed etc... so probably we'll delay the stable till end of month. Anyways you can use @next version because probably we wont change the API, so the migration from next to latest will be just doing a npm install :)

Hope this is not a problem for anyone, i just want to get the max adoption to this new version and I

[2021-01-09 02:51] oeddyo commented on #854
Got it. Thanks for the quick response @semoal !

While I have you here, another quick question: I don't seem to be able to clear store states between unit-tests. I saw you had something like a rootReducer which returns undefined to clear it. But it doesn't really work on my end:

[code]
I can confirm the reset part is executed each time before the next run, but the state is still kept. Is there an

[2021-01-09 03:33] oeddyo commented on #854
OK I understand the problem now. The reason is when I'm creating store, I'm importing the "mymodels" from another file. But in that file I have

[code]

So when store1 and store2 (in two test cases) are creating, they use the same {models: mymodels} which is probably where the state lives?

If I replace {models: mymodels} with {models: _.cloneDeep(mymodels)} then things are fine.

Is this expected

[2021-01-12 05:12] shierro commented on #684
Hi, I'm having the same issue

"@rematch/core": "^2.0.0-next.10"
"react-redux": "^7.2.2"

[code]

anyway you'd recommend to overcome this?

[2021-01-12 06:22] tianzhich commented on #684
Can you provide the reproduce repo? We've refactored many types since v2.

[2021-01-12 07:14] shierro commented on #684
Hi @tianzhich can you please try this?
https://github.com/shierro/react-boilerplate

Error will appear once you remove casting of store to "any"
https://github.com/shierro/react-boilerplate/blob/master/src/store/index.tsx#L7

[2021-01-12 07:32] tianzhich commented on #684
I removed the casting but there were no type errors:

![image](https://user-images.githubusercontent.com/33218310/104283272-449b2c80-54eb-11eb-9199-bd2063d2949f.png)

[2021-01-12 07:41] shierro commented on #684
ok that's interesting. It looks like my deprecated tslint vscode extension caused the issue. thanks for looking into this @tianzhich

[2021-01-12 07:54] danielchan303 opened #855 "How to delay persist?"
I am using the keychain to store my data for security purpose, then I found somthing tricky that the iOS keychain is not deleted when uninstalling the app.

I want to reset the data when the user reinstall the app, however the persist plugin didn't seems to provide me any ways to delay the rehydration. I cannot check whether the user just reinstall the app and so I can clear the data before the re

[2021-01-12 08:07] tianzhich commented on #854
Redux update state immutably so the state shouldn't be the same. You can do more checks on your test.

And also, we import the same model in our [tests](https://github.com/rematch/rematch/blob/next/packages/loading/test/loading-asBoolean.test.ts#L19) of `@rematch/loading`, the state was not kept.

[2021-01-12 08:27] semoal commented on #855
Under the hood we're using redux-persist, so probably reading the `redux-persist` documentation will help you a lot.
In their documentation says:

Probably this could be useful for you

[2021-01-12 09:40] danielchan303 commented on #855
PersistGate let me know whether the rehydration is finished, but it isn't what I wanted. I want to prevent rehydration in case the app is reinstall, in that case the data in the keychain should not be restored to the store, the app should look like fresh-install.

[2021-01-12 09:43] danielchan303 commented on #855
What I think might be helpful is the { manualPersist: true } option of persistStore, but it cannot be used in the persist plugin of the rematch.

[2021-01-12 10:34] tianzhich commented on #849
I did some async tests to simulate but working properly:
[code]

I still not sure if it was related to rematch.  😕

[2021-01-12 12:18] semoal commented on #855
Rematch accepts passing as third argument to the plugin persistStoreOptions so, yes, it can be used perfectly on Rematch plugin

[2021-01-13 02:32] danielchan303 commented on #855
Typescript warn me that manualPersist is not there so I thought it cannot be used there, but I tried and found it actually works.

Thank you very much semoal!

[2021-01-13 02:32] #855 closed

[2021-01-13 09:59] semoal commented on #849
Absolutely not, looks like a React render tree order, so we can close this issue.

[2021-01-13 09:59] #849 closed

[2021-01-13 09:59] #854 closed

[2021-01-13 11:12] semoal commented on #855
https://github.com/rematch/rematch/commit/21b13715d1bb5f4cec979f1cb2f6c3cf61c45709
I've introduced a little change to autocomplete this type .
Actually `redux-persist` doesn't expose `manualPersist` as a type :)

Thanks for using Rematch!

[2021-01-25 18:04] semoal opened #856 "feat: @rematch/codemods :)"
**Is your feature request related to a problem? Please describe.**
I want to create a codemod for migrating Redux projects to Rematch with just one command.

**Describe the solution you'd like**
- Redux-thunks and redux-sagas to effects
- Reducers to reducers
- Typescript to typescript

**Additional context**
I'll post here some guidelines if someone wants to pick this amazing feature.

[2021-01-25 18:04] #853 closed

[2021-01-26 14:41] hovoaep commented on #836
Guys can you suggest how can change [store](https://github.com/vercel/next.js/blob/canary/examples/with-rematch/shared/store.js) example, for use with the select plugin like this

store.js
[code]

login.js
[code]

I need an export select method in store, but the next.js example can't do this.

Thanks for any help.

[2021-01-26 16:24] d3dc commented on #836
@jamesguan @hovoaep

You can always `useStore()` from `react-redux` if you need the currently rendering store:

[code]

[2021-01-26 17:21] hovoaep commented on #836
@d3dc @jamesguan

I create context and pass select to context. For me it's working fine.

_app.tsx
[code]

rematch.utils.ts
[code]

login.tsx
[code]

[2021-01-27 15:34] semoal opened #857 "Who uses Rematch?"
**Do you use LinguiJS in production or for hobby project?** Please let us know so we can add you to the new section on the incoming website... Rematch Showroom!

Please provide:
- Your company name and his logo.
- Link to your website.
- Does the website is open sourced? If so, please share a link.
- Any cool message about Rematch (optional ;) )

[2021-01-28 02:45] tianzhich commented on #857
We are using Rematch in some of our internal projects. Rematch is an awesome wrapper of redux which let me think so little about state management. Thanks for the community!

My company called *Beijing Kuaishou Technology Co., Ltd* (simplified as **Kuaishou**). Our public website is https://www.kuaishou.com/en.

And our logo is https://en.wikipedia.org/wiki/Kuaishou#/media/File:Kuaishou_logo.svg

[2021-01-29 06:49] yatessss opened #858 "Cannot add property companyDeal, object is not extensible"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. use loadingPlugin
2. addModel in store （add more than one Model  will throw error ）

**Expected behavior**
no error

**Screenshots**
![image](https://user-images.githubusercontent.com/13636879/106241453-0a4ac280-6241-11eb-9345-95bdac8f0114.png)

**Desktop (please complete the following information):**

 "@rematch/c

[2021-01-29 07:42] tianzhich commented on #858
Can you provide a reproduce demo using [CodeSandbox](https://codesandbox.io/)?

[2021-01-29 13:21] semoal commented on #858
https://codesandbox.io/s/rematch-todos-demo-forked-xlq9k?file=/App.js Here you have a base project where you can reproduce the issue @yatessss

[2021-01-31 23:39] semoal commented on #792
## Officially Rematch Version 2 has been released 🥳

Thanks to everyone for the amazing support and the incredible feedback you provided.

@tianzhich @pjamrozowicz this version couldn't be possible without you.

I want to introduce also the new website that we built in a few days for doing this release possible: [https://rematchjs.org](https://rematchjs.org).

Feel free to open any issue you find

[2021-02-01 08:32] pjamrozowicz commented on #792
Sorry for reopening this issue just to say this but congrats @semoal! 🥳 I'm so glad @tianzhich picked up the work I've started to refactor and improve the codebase and that you managed to finish it up!

New docs look great 👍

[2021-02-01 08:32] #792 closed

[2021-02-04 06:53] d3dc commented on #836
It looks like the only reason you would need a separate context is to make Typescript happy.

Is it possible to just type the select in your hook?
[code]

[2021-02-05 12:03] shubhangedufund opened #863 "Expo updates clearing all the persist data"
**Summary**

Hello,

We are using persist plugin in our code with rematch. The storage used in persist plugin is AsyncStorage. The functionality is working fine and the data is persisted in both app kill and background state till I do expo publish.

Once I did expo publish, the changes are also reflected but all the data is lost. I am not able persist the user.

Attaching Android Manifest, AppDele

[2021-02-05 12:07] semoal commented on #863
What version of Rematch are you using mate? I'll try to reproduce as soon as possible.

[2021-02-05 12:10] shubhangedufund commented on #863
Hey @semoal

Thanks for such a quick response. Please find below the details of rematch version:

[code]

[2021-02-05 12:13] semoal commented on #863
Probably the problem is that your version is not correct linked.
V1 versions are compatible with 1.x.x versions
v2 versions are compatible with 2.x.x versions.

We just released to `latest` version 2, so please update your dependencies and give it a try.

[code]

Your versions should look like this:

[code]

[2021-02-05 13:02] shubhangedufund commented on #863
@semoal I upgraded the rematch to latest version but the issue still persist.

[2021-02-05 13:05] semoal commented on #863
Alright, let me investigate further

[2021-02-08 06:05] shubhangedufund commented on #863
@semoal Any further update on this?

[2021-02-08 10:45] semoal commented on #863
Couldn't publish it yet, let me a few days to review it.

[2021-02-09 10:36] semoal commented on #863
Finally I could publish the application and for me it's working fine.

Could you try it?
https://github.com/semoal/rematch-expo-persist

[2021-02-09 14:09] shubhangedufund commented on #863
@semoal I saw the repo which you shared...the repo is in expo (with expo version 37)....could you please try ejecting the above project and then do an ota....as for me the functionality was working fine till I was on expo environment...as I did expo eject the ota updates cleared all the persist data

[2021-02-09 17:27] semoal commented on #863
Could you share with me that changes? I'm not an expert with expo and ejecting things on React Native. Probably will be easier if you provide a repo and i'll debug the redux issue.
I'm practically sure that the issue comes from redux-persist library, but let's reproduce it =)

[2021-02-11 18:57] shubhangedufund commented on #863
@semoal Sorry for the delay. But I was not able to run the repo past splash-screen. Also on further investigating, I found that data is present in asyncstorage, but when I am accessing state with useSelector the state is restored to intial state. This is happening only after doing an ota update

[2021-02-15 14:24] andrejpavlovic opened #864 "Circular reference error when defining effect in model (Typescript)"
**Describe the bug**
Unable to create model due to circular reference error.
[code]

**Reproduce Link**
https://codesandbox.io/s/rematch-model-circular-reference-fibjz?file=/src/index.ts

**To Reproduce**
1. Open the link to codesandbox and look at the compile time errors.

**Expected behavior**
No compile-time errors present

![2021-02-15_092214](https://user-images.githubusercontent.com/983644/1

[2021-02-15 15:10] semoal commented on #864
Andrej, thanks for pointing this out, we'll look asap to fix the issue!

[2021-02-16 19:44] masiya255 opened #865 "Error in all-plugins-react-ts selectors example and my production project !"
Hello everyone ! The error occurs when trying to call a neighboring selector, this applies to our project in production, please tell me when you will fix it or how to fix it, please ...

[https://codesandbox.io/s/small-river-irwld
](url)

![image](https://user-images.githubusercontent.com/11834317/108113393-8863f180-70a8-11eb-9638-09ee7abca625.png)

- Chrome

[2021-02-16 20:07] semoal commented on #865
Does this error occurs on older version of Rematch? It's just to ensure that isn't a regression or a breaking change from v1 to v2.

We'll investigate it!

[2021-02-16 20:29] masiya255 commented on #865
Last versions
![image](https://user-images.githubusercontent.com/11834317/108117987-c401ba00-70ae-11eb-99ca-7a60ede3c21c.png)

[2021-02-18 01:36] TC-mSundaram commented on #864
I was following the Typescript documentation [1] and came across this as well.

[1] https://rematchjs.org/docs/getting-started/typescript

[2021-02-18 08:51] semoal commented on #864
Yes, we're already working on this, probably in a few days we'll ship the fix. We did a hard work with typescript and this case was totally forgot.

[2021-02-18 13:51] semoal commented on #864
Alright, this issue is a design limitation of Typescript, meanwhile Typescript don't improve this behaviour Rematch "can't type properly" effects *THAT RETURN SOMETHING*.

Returning data inside effects isn't an usual behaviour and IS NOT RECOMMENDED, let me explain why:

If we accept returning data inside effects functions as a usual way to work, we could derive in bugs pretty complicated to debug

[2021-02-18 14:08] andrejpavlovic commented on #864
Thanks @semoal, that kind of makes sense. Do you know of any issues opened in typescript repo that are relevant to this issue? Just thought it would be useful to include them here for completeness.

I'll look into restructuring the code to avoid returning values from effects directly. We've been using rematch v1 for a while with custom typing and I wanted to move to v2 for the better typing suppor

[2021-02-18 18:34] masiya255 commented on #865
@semoal Hi ! Are there any results on this issue? It's just that it is essential for the further movement of our company. We really love rematch!

[2021-02-18 19:27] andrejpavlovic commented on #864
After playing around with it some more, looks like the best workaround is to explicitly define the type returned by the effect.
https://codesandbox.io/s/rematch-model-circular-reference-forked-dfvst?file=/src/index.ts

So instead of
[code]
define the return value
[code]

[2021-02-18 21:08] semoal commented on #864
Oh much better than my workaround, Ill speak with @tianzhich if we can solve this internanlly

[2021-02-18 21:11] semoal commented on #865
Yes we'll solve this ASAP, i need to find some free time this weekend. Im right now the only contributor

[2021-02-19 02:32] tianzhich commented on #864
Hi all, I'm at the Chinese Spring Festival now. I may try to fix this next week. And also, we need help from other TS contributors. If you can help much appreciated. @andrejpavlovic

[2021-02-19 04:11] andrejpavlovic opened #866 "rematch/select - store.select types incorrect"
**Describe the bug**
Adding selectors to a model and then trying to use them, gives unexpected typing.

For example, assuming we have `myModel` with a `total` selector, one would expect that `selection` type of the code below to be `(state: any) => {total: number}`, but instead it is actually `(state: any) => {total: (state: any) => number}`.
[code]

**Reproduce Link**
https://codesandbox.io/s/rem

[2021-02-19 09:39] semoal commented on #866
Hi Andrej, yes actually the select types probably has some pending work to fit all the cases.
I'm glad that you found this issue and you're helping us debuggin this.

If you want to take a look and submit an awesome pull request to fix this, here is the select plugin types :) https://github.com/rematch/rematch/blob/main/packages/select/src/types.ts

[2021-02-19 17:31] masiya255 commented on #866
@andrejpavlovic https://github.com/rematch/rematch/issues/865 here I described a similar problem, we are waiting for the fix!

[2021-02-19 19:12] TC-mSundaram commented on #864
@semoal Thanks for asking. I think I was mistaken. I was trying to upgrade `rematch` in an old project, so maybe something was misaligned, as when I try it now with a fresh project I am not able to reproduce. I'll keep looking.

[2021-02-20 23:25] semoal commented on #865
The key is we're executing `this.totalWithShipping()`, you just need to pass the function not executing, change it to: `this.totalWithShipping` and will work.

https://codesandbox.io/s/brave-firefly-1kv57?file=/src/models/cart.ts

[2021-02-20 23:31] semoal commented on #865
You can take a look to the new example i've introduced 👍🏻 feel free to reopen or create a new issue you find with select (is the most complex plugin with typescript types..)

[2021-02-20 23:31] #865 closed

[2021-02-20 23:33] semoal commented on #864
Probably when you upgraded to a new project is the case of returning values on effects, as @andrejpavlovic said you can force the type on the effect and will be solved. Anyways probably tianzhin will take a look if we can resolve this by our own.

I've created a section on Typescript page to help future users:
https://rematchjs.org/docs/getting-started/typescript#effects-returning-values

Feel fre

[2021-02-20 23:33] #864 closed

[2021-02-22 13:20] semoal commented on #866
@andrejpavlovic  do you find any situation where we need to adjust rematch v2 to complete your migration?
I'll planed to release tomorrow all the changes we made :)

[2021-02-23 04:19] andrejpavlovic commented on #866
I was able to complete most of the migration at this point. Will let you know if anything else comes up :) Thanks for staying on top of this!

[2021-02-23 17:30] semoal commented on #866
Released 2.0.1 and 3.0.1 for @rematch/select guys! I hope everything runs smoothly for everyone.

Feel free to create or reopen anything you find.

[2021-02-23 17:31] #866 closed

[2021-02-23 21:01] masiya255 commented on #865
@semoal
Hi! I am not getting structured typing of selectors within the model, i.e. I cannot reuse selectors.
This problem was solved in version 3.0.1 only for the method store.select. Please fix this too! Thanks !
![image](https://user-images.githubusercontent.com/11834317/108907240-e9547200-7632-11eb-8e9e-708e5b34db41.png)

[2021-02-25 12:08] semoal opened #870 "On effects, this.reducer() is not correctly infered"
**Describe the bug**

With Rematch you can use `this` inside effects to dispatch data to reducers.

Basically this:

[code]

is equivalent to this:

[code]

**To Reproduce**

When using Typescript, this.SET_PLAYERS() won't get autocompleted because this isn't overriden by Rematch.

**Current work around**

[code]

**Expected behavior**

Should autocomplete reducers and effects of the current Model

[2021-03-01 08:02] objectisundefined opened #872 "bind here does nothing"
https://github.com/rematch/rematch/blob/917b50eeeb73ad222068726060643a60a455295c/packages/core/src/rematchStore.ts#L54

should it be replaced by `rematchStore.addModel = rematchStore.addModel.bind(rematchStore)` or just replace `this` to `rematchStore` in function `addModel`?

https://github.com/rematch/rematch/blob/917b50eeeb73ad222068726060643a60a455295c/packages/core/src/rematchStore.ts#L43-L50

[2021-03-01 09:37] semoal commented on #872
Yes, looking at the code probably it should be like this:
[code]

I don't understand the case of adding addModel to a new function. Contributions are welcome, if you want to submit this changes, we'll be great =)

[2021-03-02 01:56] #872 closed

[2021-03-03 17:25] MOZGIII opened #875 "Add the ability to implement transform for persist as part of the model"
**Is your feature request related to a problem? Please describe.**
I don't like to manage serializers / deserializers separately from the model.

**Describe the solution you'd like**
Add a subobject under the key `transform` to the model definition, and make `createModel` to build a persist-suitable transform from it. Then automatically provide use them either via nested persists or via a combined

[2021-03-04 11:36] semoal commented on #875
Contributions are welcome mate, feel free to submit a pull request and we'll review it.

[2021-03-04 16:46] MOZGIII commented on #875
I'm having trouble with the setup:

[code]

Not sure what's wrong (maybe the linking step is missing), but seems like the `CONTRIBUTING.md` is outdated. Tried both locally and via gitpod - same result.

[2021-03-04 16:48] semoal commented on #875
Run a `yarn build` for bundling the initial /dist folder, pleas

[2021-03-04 16:55] semoal commented on #875
Once you run the first build you don't need to do it anymore if you use `yarn watch` for auto reloading, your tests will run on every change.

[2021-03-04 17:02] MOZGIII commented on #875
Thx, I didn't realize a build is required, but it makes sense.
Another issue I found is that Slack link doesn't allow signing up - just signing in. It's a thing with Slack, you need an inviting app of some kind. Discord is a more approachable decent alternative.

[2021-03-04 18:17] semoal commented on #875
Yeah I’m agree with that too
We’ll move to discord soon

[2021-03-05 17:09] keithpickering opened #877 "Suggestion: Error/success handling plugin"
I love the way the  `@rematch/loading` plugin keeps my app's loading state all in one place. Something that stuck out to me as odd was that there's no similar plugin for handling error/success state. So I can now avoid writing a `{ loading, error, success }` object for every reducer, but `error` and `success` are still required if I want to perform some action after the effect finishes, so the ret

[2021-03-05 19:45] semoal commented on #877
That's a such great idea!

There's two options:
- create a new plugin
- modify loading plugin to handle this

I'm not sure which is the best. I like the 2nd one because users could do:

[code]

If we create another plugin with other state, we force the user to:

[code]
or
[code]

Probably the best is modifying actual loading plugin to handle this, so users with loading functionality can just use l

[2021-03-05 20:20] keithpickering commented on #877
Yeah, adding error + success to the loading plugin would be the best route. That makes it into a total powerhouse and basically halves the amount of reducers people will need to write in their models.

[2021-03-05 20:45] semoal commented on #877
Alright then, i have the same opinion, I'll try to work on it this weekend if i got some free time from writing Rematch's book :D

[2021-03-05 21:15] keithpickering commented on #877
Thanks so much! I love this library btw. Never made sense to me that actions, reducers, and async effects all had to be in separate files. This makes redux actually fun to use.

[2021-03-06 06:42] keithpickering commented on #877
Oh also, I guess logically whenever `loading` is set to true for an effect, `success` and `error` should both be cleared/reset

[2021-03-16 05:03] ibufu opened #878 "Type of property 'dolphins' circularly references itself in mapped type 'ExtractRematchDispatchersFromModels<RootModel>'.ts(2615)"
Type of property 'dolphins' circularly references itself in mapped type 'ExtractRematchDispatchersFromModels<RootModel>'.ts(2615)

**Describe the bug**

**Reproduce Link**
https://codesandbox.io/s/lucid-sunset-oe8yo?file=/src/models/dolphins.ts

**To Reproduce**

Return effect in effect function

**Expected behavior**

**Screenshots**

**Desktop**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]

[2021-03-16 07:41] semoal commented on #878
https://rematchjs.org/docs/getting-started/typescript#effects-returning-values

[2021-03-16 13:26] #878 closed

[2021-03-27 10:28] sunOpar commented on #875
Is there any update?

[2021-03-27 10:43] MOZGIII commented on #875
On my end the development stalled, as I've implemented a dirty hack at the app level and moved to other stuff for now.
Feel free to pick this issue up if you're interested.

[2021-03-28 15:22] smashercosmo commented on #831
Hmm... I could only make it work when I provided RootState and RootModel to persistPlugin function.

[code]

Without it, I was still getting TS errors

[code]

[2021-04-05 18:32] #858 closed

[2021-04-07 10:00] semoal opened #881 "Implement a Github action flow where we track the performance of Rematch"
**Is your feature request related to a problem? Please describe.**
Right now, we have a size action to avoid regression with the bundle size, but we don't have any test to check that our changes don't break the Rematch performance.

**Describe the solution you'd like**
A few months ago I've commited to the js-framework-benchmarks repository to compare against Redux, and we were good, but i want to

[2021-04-07 10:00] stefensuhat opened #882 "Example has issue with dependency cyle"
**Describe the bug**
typescript example will produce `ESLint: Dependency cycle detected.(import/no-cycle)`

**Expected behavior**

**Screenshots**

**Desktop**

- OS: [MacOS Big Sure]
- Browser [Chorme]
- Version [latest]

**Additional context**

![Screen Shot 2021-04-07 at 5 58 47 PM](https://user-images.githubusercontent.com/10653041/113848307-87a32e00-97c2-11eb-96e9-9ed6c8716aad.png)

[2021-04-07 10:01] stefensuhat commented on #882
the only solution for now is disabled it manually like this: `// eslint-disable-next-line import/no-cycle`

[2021-04-07 10:08] semoal commented on #882
Yes, we spoke already about this. To get the Typescript typings to work we have to this "DEPENDENCY CYCLE" which is not when we speak about types.

I recommend to use:

[code]

And you won't see that "error" again

[2021-04-07 10:13] semoal commented on #882
Also, I recommend to check the all-plugins-react-ts example which is the most complete example of Rematch, with all the plugins working and classes/and hooks :),

ps: https://github.com/rematch/rematch/commit/ae874738b474c33bb15ef39546389b6286399303 Just pushed a commit with this fixes to the example, feel free to take it a look :)

[2021-04-07 12:00] #882 closed

[2021-04-16 13:49] maciekgrzybek commented on #870
I'm happy to take a look at this :)

[2021-04-20 18:31] maciekgrzybek commented on #870
It's really tough to figure it out really... Do you have any ideas what might be causing that?

[2021-04-20 19:01] semoal commented on #870
Actually this type:
[code]

Is the current type for an effect, you will see that if you add the `this` property with anything else, you get autocomplete of the rootstate:

[code]

We must add something like: `ExtractReducers&Effects<TModel>` where we can pass a Model and extract his effects and reducers.

It is not an easy fix, @tianzhich it's an expert with types and made something impossible to

[2021-04-20 20:18] maciekgrzybek commented on #870
Awesome, thanks for explanation, I'll give it another go :)

[2021-04-21 10:30] julytang opened #883 "Complex state declaration with @typescript-eslint/consistent-type-assertions"
## 📚 Documentation

I wrote some code followed by the documentation below.
![Screen Shot 2021-04-21 at 6 26 06 PM](https://user-images.githubusercontent.com/6831587/115539277-5a30a700-a2cf-11eb-9e98-e62756c68367.png)
And I got a eslint error like this.
![Screen Shot 2021-04-21 at 6 28 50 PM](https://user-images.githubusercontent.com/6831587/115539337-6f0d3a80-a2cf-11eb-92f8-007c3a77a5c0.png)

How

[2021-04-21 10:36] semoal commented on #883
As you could see Rematch models are just pure objects you can do two things:

1st option:
[code]

2nd option:

[code]

[2021-04-21 11:07] julytang commented on #883
Thank you so much.

[2021-04-21 11:09] semoal commented on #883
To you, for using Rematch =)
Feel free to open another issue or question you have :)

[2021-04-21 11:09] #883 closed

[2021-04-21 11:26] julytang commented on #883
I tried both of the options.
the second options doesn't work. But the first option works fine.
I have used rematch for a long time, it's really a great tool and helped me a lot. Thanks.

[2021-04-22 21:23] maciekgrzybek commented on #870
I have another question :) I'm not sure if I'm using the correct local examples to actually confirm my changes in the core? is it just the `examples` folder? Is it linked automatically to the local rematch? Unfortunately `CONTRIBUTING.md` file is not really specific about it :(

[2021-04-22 21:24] semoal commented on #870
Yes the examples folder is linked via the monorepo.
You only need to re-run the build on the package you change.

[code]
In the root of the project and will rebuild in less than 5 seconds the package =)

[2021-04-22 21:26] semoal commented on #870
We're using `tsdx` internally for the packages, so probably you could use also `tsdx watch` inside the core package (not sure about this)
Tomorrow I'll improve the CONTRIBUTION.md =)

[2021-04-22 21:30] maciekgrzybek commented on #870
Wow, that was a quick response :D Thanks a lot :)

[2021-04-26 12:32] semoal opened #884 "📚 Suggestions to improve the documentation/book"
## 📚 Documentation

Hello folks 👋🏻,

I would like to know if there's any topic you see unclear in the documentation or something we didn't cover enough.

Also, I'm open to listen any recommendation or topics you would like to see in the official Rematch book!

[2021-04-27 14:43] semoal commented on #877
I'll work on this feature the next week :) Couldn't find free time yet

[2021-05-02 08:16] sunOpar commented on #875
My solution for this issue is to identify `persistPlugin` and the model's transform property. If they both exist, then pass transform to `persistPlugin`. But the problem is I can't identify `persistPlugin`. It just an object that has `onReducer, onRootReducer, onStoreCreated` property. Do you have any idea? Maybe there has a better solution for this issue.

[2021-05-02 08:33] sunOpar commented on #856
Would you write some guidelines? I'm interested in this.

[2021-05-06 07:43] julytang opened #888 "How to call an effect in an effect using ts based rematch?"
## 📚 Documentation

When I call an effect in an effect. That I got an error.
Every effect has an arguments(action), why I missed that.
So how to call an effect in effect using ts based rematch
[code]

[code]

[2021-05-06 08:41] semoal commented on #888
Basically you need to type when they are complex structures, Typescript limitations (also personal limitations since Types are sooooo.. damnit complex)

https://codesandbox.io/s/hardcore-wright-sglom?file=/src/models/dolphins.ts

Taking your example you can solve it like this:

[code]

[2021-05-13 18:31] mvilledieu opened #890 "Dynamically adding a model to the store with disabled redux devTools using store.addModel breaks @rematch/persist"
When using `@rematch/persist` along with trying to dynamically add a model after the `init()` using `store.addModel()`, it stops persisting the data.

1. create a `store` using the `init` function with `plugins: [persistPlugin(persistConfig)]`
2. add a model asynchronously to the `store` using `store.addModel()`
3. Make a modification to persisting data
4. Reload the page, and realize the data isn

[2021-05-13 18:58] semoal commented on #890
I'll take a look tonight, thanks for reporting this mate

[2021-05-13 21:17] semoal commented on #890
https://github.com/rematch/rematch/pull/891
I've tried to reproduce it mate and couldn't find the issue.

Which version of Rematch are you using?

[2021-05-14 12:12] mvilledieu commented on #890
Hi Semoal, thanks for looking into this. Here are the versions I am using.

[code]

I think I found out about the edge case by looking at the differences between your example and mine I realized you do not have a setup for `redux` in the `init` store function, I do.

[code]

Apparently, disabling the devTool is causing this issue, whenever I turn the `devtoolOptions`  to not be disabled it is not

[2021-05-14 12:37] mvilledieu commented on #890
Just tested in your branch was able to reproduce by adding disable devtoolOptions:

[code]

[2021-05-14 12:42] semoal commented on #890
Yes, totally agree that the problem is the Redux Devtools does something extra that we though it was working for everyone.

I'll try to get a fix this weekend asap for this, thanks for reporting this mate

[2021-05-14 12:53] semoal commented on #890
https://github.com/rt2zz/redux-persist/issues/1287
Looks an issue with redux-persist itself, I'm going to try to fix this issue from Rematch side :)

[2021-05-14 13:00] semoal commented on #890
Found a workaround:

Pass `manualPersist: true` to the persist plugin:

[code]

After that you need to run on a use effect(() => persistor.persist(), in that way the application is persisted at the init and the loading persistor gate won't be stuck:

[code]

When you load dynamically your new model, you want to tell redux-persist to listen to that new model so:
[code]

Tried it in the example prov

[2021-05-14 13:04] semoal commented on #890
I know this is a bit tricky but Redux-persist doesn't got updates since 2019, so this is the current solution I can offer, hope someone gets time and takes the role of maintaining redux-persist :)

[2021-05-14 13:27] mvilledieu commented on #890
No this is great, thanks a lot for your help Semoal 🙌🏼

[2021-05-16 17:29] semoal opened #893 "Typescript `connect()` fails about circular references"
**Describe the bug**

When updating Typescript from 4.1.x to 4.2.x, I've observed that `connect()` method exported from `react-redux` has a type error.

<img width="1154" alt="Screenshot 2021-05-16 at 7 25 52 PM" src="https://user-images.githubusercontent.com/22656541/118406589-af689a00-b67c-11eb-8758-9f028bff1f57.png">

**Expected behavior**

To not fail

**Additional context**

The possibly solu

[2021-05-16 17:46] semoal opened #894 "Improve Typescript dispatch reducers inference"
[code]
**Describe the bug**

Actually the `payload = 1` is infered as any and when dispatching the reducer says that: `(property) increment: () => Action<void, void>`, doesn't expect a payload...

The same occurs if the payload it's optional

[2021-05-16 17:50] #890 closed

[2021-05-16 17:50] #888 closed

[2021-05-16 18:07] semoal opened #895 "Introduce nightly builds with Typescript@next to fix type errors before typescript"
**Is your feature request related to a problem? Please describe.**
I saw that sometimes Typescript releases introduces breaking changes that affects Rematch directly, to avoid this and iteratee after Typescript releases the official build.

**Describe the solution you'd like**
I suggest to create a nightly build which installs `typescript@next` and runs `yarn test` to the examples folder to check

[2021-05-16 20:28] semoal opened #896 "2.1.0 - Roadmap"
Hello folks 👋 !

Already passed 3 months from the latest release of Rematch and I think we got a cool roadmap for the next release:

### Bug fixes

- [x] #893 - Typescript connect() fails about circular references
- [X] #894 - #902 Improve Typescript dispatch.reducer inference and effects
- [x] #870 - this.reducer isn't typed correctly, probably this one since it's complex to fix, we can go with a

[2021-05-17 03:06] tianzhich commented on #896
Great job mate, it's very clear what we need to do next period. I'll try to fix these issues.

[2021-05-17 03:31] tianzhich commented on #893
I'll pick this one and try to solve it this week

[2021-05-17 12:25] tianzhich commented on #893
I found the error cause, but not sure if this is an issue with typescript.

Our `RematchDispatch`:

[code]

If I removed the hybrid part of `ReduxDispatch`, the error gone.

[2021-05-17 13:32] tianzhich commented on #893
I tried to create a minimal reproduce but I failed. If some could help more appreciated.

[2021-05-17 13:35] semoal commented on #893
You have it in the count-react-ts file a repro.

[2021-05-17 15:39] semoal opened #897 "@rematch/immer peerDependency update immer to >9"
Npm 7 has strict peer dependencies so if we can add to 2.1.0 update this. :)

[2021-05-18 02:51] tianzhich commented on #893
You are right, but I mean to create a typescript repro based on a minimum of our types, though I'm not sure if it is an issue with typescript. I searched circular reference error, but few related issues were found.

[2021-05-21 15:02] mvilledieu commented on #890
I think this will require a little work on my end to make sure the model is already available when first calling persist to prevent it from clearing the previous persisting elements from localStorage because they aren't here yet. So I think I have a path forward.

[2021-05-21 15:04] semoal commented on #890
I'm taking a look to the plugin if we can do something in the lifecycles of Rematch exposes.

[2021-05-21 15:22] semoal commented on #890
I think i found a fix mate!!
Give me 30 minutes to refactor the code and i'll create a merge request

[2021-05-21 15:52] semoal commented on #890
The fix I've found worked well without devtools but breaks with it... amazing

[2021-05-21 20:08] tbaliukynas commented on #893
I noticed that using `RematchRootState<RootModel>` and `RematchDispatch<RootModel>` directly instead of `RootState` and `Dispatch` defined in `store.ts` seems to fix the issue (at least in the `count-react-ts` example):
[code]

[2021-05-24 01:55] tianzhich commented on #893
Thanks for the reminder. It's only related to `dispatch`, using `RematchDispatch<Dispatch>` instead of `Dispatch` fix the issue.

[2021-05-24 02:10] tianzhich commented on #893
It is strange. We may need help from a more advanced TSer.

[2021-05-25 04:34] tianzhich commented on #894
I've fixed it if the payload is optional.

[2021-05-25 12:16] tianzhich commented on #870
Hi mate, how about the progress of this? @maciekgrzybek I can continue from your work if you did some modifications.

[2021-05-25 12:57] maciekgrzybek commented on #870
Hey @tianzhich I totally dropped the ball on this one, I had few approaches but couldn't figure it out at all :(

[2021-05-26 12:16] tianzhich commented on #896
I created a branch called `improve-typing` which related to all the fixes and improvements about rematch types. We can set it as a target branch before release v2.1.0. Anyone can also checkout the branch from here to avoid the second revision of the same place.

[2021-05-29 17:25] #897 closed

[2021-05-29 17:26] #895 closed

[2021-05-31 13:38] tianzhich commented on #870
I created a [minimal rematch typing system](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgLIHsAmEA2AeAFWQgA9IRMBnNLXSwgPgeQG8AoZT5KCTAVyRRKALmQAlXgOiUA3By4QYMCAjAjkAUSUrI9AgzkBfNmzABPAA4oJ-QdQC84leiiY8lMFFABzADRPbaAMTcytNbVUIPWIyCApqDGwcPQZ-MRjyKgCpIWRHCQQXNw8vED9kEAgANyDmfOdXd08ffy1lVUI0pmQAH3D2sABhHjgwF07xYLZQSFhEFES6Qgy4rMXkxmZ2LmQAbQBrCDNREp8AXVF1xiMQy2tJQTzkAAoASjzmKvRgTDlTO-6O

[2021-06-02 02:57] tianzhich commented on #894
Maybe it is [design limitation](https://github.com/microsoft/TypeScript/issues/41668).

[2021-06-14 08:33] semoal commented on #870
In the new release we're going to ship (2.1.0): `this.REDUCER` will be typed as:
[code]
So `this.reducer` won't never fail again, but if you want to type it in a more safe way you can:

[code]

[2021-06-15 09:20] semoal commented on #870
Close this, since will be fixed with 2.1.0 release

[2021-06-15 09:20] #870 closed

[2021-06-15 09:20] semoal commented on #894
Close this, since will be fixed with 2.1.0 release

[2021-06-15 09:20] #894 closed

[2021-06-15 09:20] semoal commented on #893
Close this, since will be fixed with 2.1.0 release

[2021-06-15 09:20] #893 closed

[2021-06-16 12:58] hb1998 opened #905 "Rational behind triggering effects when same reference is returned in reducer"
**Describe the bug**

this feature is really helpful to modularise the effects triggering logic but when we return the same reference of the state in the reducer, the `mapState` subscriptions doesn't trigger but the effects are triggered.

Not sure if this is intentional, as far as I'm concerned, i feel they shouldn't be triggered.

**Reproduce Link**

https://codesandbox.io/s/silly-jepsen-gxh9m?f

[2021-06-16 14:34] semoal commented on #905
Rematch in overall is Redux, and as you would know if you don't change the state reference Redux will never repaint the screen.

Effect is triggered because it's dispatched, there's none relation between repaints <-> effects.

[2021-06-16 15:11] ArulValan commented on #905
@semoal If that's the case can we get previous state in the effects callback. Because there should be a way to know if the state has changed or not.

[2021-06-16 15:41] semoal commented on #905
What's the use case for that?

[2021-06-17 04:34] ArulValan commented on #905
I'm calling a reducer to close a menu if there is a change in state the canvas space changes then I wanna trigger a recalculation in respective effect.
But in cases when the menu is already closed the reducer returns the same state, then there's no need to call recalculation as the state is same anyways.

[2021-06-17 10:06] semoal commented on #905
Your use case should be solved in user interface in not in the data layer. Actually changing this behaviour imply a breaking change that we can't afford right now.

You could give it a try to Rematch Plugins where probably you could create something to override this logic.

Or just simply use the user interface to handle this.

If you're using React hooks, you could perfectly do:

[code]

Solving

[2021-06-28 13:16] chinchang commented on #857
we use on PushOwl.com

[2021-06-28 15:52] slashwhatever commented on #558
Little follow up on this for readers; this no longer works in @rematch/core v2

[2021-06-29 14:19] semoal commented on #857
Of course didn't say but if anyone who uses Rematch wants to create a pull request for adding them to the showcase list in the Rematch website, the pr will be super appreciated =)

[2021-06-30 15:28] SpiriaJWF opened #906 "Unhandled promise rejection with the Loading plugin"
A Warning Unhandled promise rejection is thrown when having a Promise.reject using async function with the Loading plugin

**Reproduce Link**

Base : https://codesandbox.io/s/rematch-todos-demo-forked-xlq9k?file=/models.js

**To Reproduce**

1. In the method asyncRemove add at the top a throw (eg: throw "error"; )
2. Where the asyncRemove is called surround it with a try catch
2. Open the debuggin

[2021-06-30 16:45] semoal commented on #906
Sorry, but I'm not sure why should do that the loading plugin?

[2021-06-30 18:22] SpiriaJWF commented on #906
I think there is a try{} finally{} that wraps the effect call. There is no catch so the warning is thrown. When I remove the loading plugin, I don't have this problem.

[2021-06-30 21:53] SpiriaJWF commented on #906
I updated the step to reproduce. I surround the code that is calling asyncRemove with a try catch. But even with that I have an unhandled promise rejection.

[2021-07-06 12:26] #906 closed

[2021-07-06 12:59] semoal opened #912 "Upgraded 4.1.2 to 4.3.X of TypeScript and never is returned when calling effect-reducer with same name"
**Describe the bug**

Uupgraded from typescript 4.1.2 to 4.3.2 using Rematch. These rematch packages are used:

"@rematch/core": "2.0.1"
"@rematch/select": "3.0.1"

and I faced a typescript error: Type never has no call signatures. I looked into the 3rd parties' code and found that RematchDispatch gives never type when I have a reducer and an effect in a particular model with the same name. For ex

[2021-07-07 08:24] #912 closed

[2021-07-07 21:02] scalarerp opened #916 "How Mix Redux Toolkit store with Rematch"
I have big project with Redux Toolkit and thunk, i will change to rematch and implement typescript to.

How can i made this slowly feature by feature?

Any have an example to share?

[2021-07-07 21:16] semoal commented on #916
I don't have any example but this is a such good topic to write on documentation. I'll create one as soon as possible.

Thunks are asynchronous code, just add them to effects
Reducers are rematch reducers
configureStore is our init()